#job-profile-list {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.job-profile-item:hover {
    background-color: #03a9f4;
}

.job-profile-item {
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

.job-title {
    font-size: 20px;
    color: #114488;
    font-weight: 700;
    padding-left: 15px;
    width: 570px;
    padding: 0 25px;
}

.job-profile-item:hover .job-title {
    color: white;
}

.disF {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .job-title {
        width: 250px;
        padding: 0 15px !important;
    }

    .disF {
        padding: 0 !important;
    }

    .material-icons {
        font-size: 18px;
    }
}

.job-title {
    font-size: 20px;
    color: #114488;
    font-weight: 700;
    padding-left: 15px;
    width: 570px;
    padding: 0 25px;
}

.job-profile-item:hover .job-title {
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .job-title {
        width: 350px;
        padding: 0 15px !important;
    }
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.disF i {
    margin: 5px;
}