<div class="container">
    <div id="job-profile-list" style="margin-top:15px; height: 75vh; overflow: auto;">
        <div class="job-profile-item" style="padding:10px;"
            *ngFor="let list of lists.dataSource; let i = index">
            <div class="row disF">
                <img src="assets/img/jobprofile.png" height="50px">
                <div class="job-title">
                    {{ list[lists.dynamicColumns[1]] }}
                </div>
                <i class="material-icons" (click)="edit(list)">edit</i>
            </div>
        </div>
        <!-- <app-no-data-available></app-no-data-available> -->

        <div class="divider"></div>
    </div>
</div>