<header>
  <div class="collection overflowUnset">
    <span class="blog-post">
      Blog Post
    </span>
    <a class="collection-item-main">
      <div class="listDiv">
        <ul>
          <!-- <li>All Post</li> 
          <li>Add New</li>
          <li>Catagory</li>
         -->
          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/blog-posts/all-post/']"
            >
              <span class="text-center">
                All Posts
              </span>
            </a>
          </li>
          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/blog-posts/create-image-post/']"
            >
              <span class="text-center">
                Add image post
              </span>
            </a>
          </li>
          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/blog-posts/create-post/']"
            >
              <span class="text-center">
                Add Video post
              </span>
            </a>
          </li>
          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/blog-posts/create-categories/']"
            >
              <span class="text-center">
                Categories
              </span>
            </a>
          </li>
        </ul>
      </div>
    </a>

    <!-- <a class="collection-item-one" [routerLink]="['/user-list/']"> User List</a> -->
    <span class="export" (click)="Export()">Export Subscriber </span>
  </div>
</header>
