<header>
    <div class="collection overflowUnset">
   
      <a class="collection-item" >Blog Post 
    
      <div class="listDiv">
        <ul>
          <!-- <li>All Post</li>
          <li>Add New</li>
          <li>Catagory</li> -->
          <li><a [routerLink]="['/blog-posts/all-post/']">All Posts</a></li>
          <li><a [routerLink]="['/blog-posts/create-image-post/']">Add image post</a></li>
           <li><a [routerLink]="['/blog-posts/create-post/']">Add Video post</a></li> 
           <li><a [routerLink]="['/blog-posts/create-categories/']">Categories</a></li>
        </ul>
      </div>
    </a>
 
    <!-- <a class="collection-item" [routerLink]="['/user-list/']"> User List</a> -->
    
    <a class="collection-item" (click)="Export()"  >Export Subscriber </a>

    </div>
  </header>