<div class="emailTemp" id="shareEmailModal">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
    <div>
        <div class="">
            <div class="row form-group autoClass" *ngIf = "getBtns('Share on HireSeat')">
                <div class="" style="float: right;">
                    <button class="sendBtn" *ngIf="loggedUser.userRole == 'recruiter' || loggedUser.userRole == 'employer'" (click)="showShareTouserModal()">Share on HireSeat</button>
                </div>
            </div>
            <div class="form-group posRel">
                <!-- <label>Receiver Name </label> -->
                <input type="text" class="form-control inputCommReceiver" (keyup)="searchClient(recipientName)" (focusout)="closeClients($event)" [(ngModel)]="recipientName" placeholder="Receiver Name"/>
                <div class="search-result" *ngIf="flag">
                    <ul>
                    <li style="height: 35px; background-color: #D4D9DF; color: white;" *ngFor="let client of clients | searchByOnlyFullName : recipientName">
                        <a style="margin-left: 5px" (click)="onSelectClient(client)">{{client.fullName}}</a>
                    </li>
                    </ul>
                </div>
            </div>
            <div class="form-group posRel posRel2">
                <!-- <p class="hideBtn"><a href="#">Hide CC / BCC</a></p> -->
                <label>To </label>
                <input
                    type="text"
                    class="form-control inputComm"
                    [(ngModel)]="recipientEmail"
                />
            </div>
            <div class="form-group posRel posRel2">
                <label>CC </label>
                <input type="text" class="form-control inputComm" [(ngModel)]="cc" />
            </div>

            <div class="form-group posRel">
                <label>BCC </label>
                <input type="text" class="form-control inputComm" [(ngModel)]="bcc" />
            </div>
            
            <div *ngIf = "getBtns('Offer Intro')" class="row form-group autoClass">
                <div class="" style="float: right;">
                    <button class="sendBtn" (click)="closeOfferEmailDialog()">Offer Intro</button>
                </div>
            </div>

            <div class="row form-group autoClass">
                <div *ngIf = "getBtns('General Referral')" class="" style="width: 55%; float: left;">
                    <button class="sendBtn" (click)="generalEmailIntro()">General Referral</button>
                </div>
                <div *ngIf = "getBtns('Career Referral')" class="" style="width: 45%; float: right !important; border-left: 2px solid white;">
                    <button class="sendBtn" (click)="introduceUser()">Career Referral</button>
                </div>
            </div>

            <div *ngIf = "loggedUser.userRole == 'candidate' && getBtns(shareConstants.shareConferenceRoom)" class="row form-group autoClass" style="margin-top: -15px;">
                <div class="" style="float: right;">
                    <button class="sendBtn" (click)="shareConferenceRoom()">Share Conference</button>
                </div>
            </div>

            <div *ngIf = "getBtns('Copy Profile Link')" class="row form-group autoClass" style="margin-top: -25px;">
                <div class="" style="float: right;">
                    <button class="sendBtn" (click)="generateLinkForVideo()">Copy Profile Link</button>
                </div>
            </div>

            <div *ngIf = "getBtns('SEND')" class="row form-group autoClass">
                <div class="" style="float: right;">
                    <button class="sendBtn" (click)="share()">SEND</button>
                </div>
            </div>

        </div>
    </div>
  </div>