.collection .collection-item{
    border-bottom: none; 
}
.collection a.collection-item {
    display: block;
    transition: .25s;
    color: #48aef3 !important;
    font-size: 15px;
}
.collection .collection-item.active {
    background-color: #48aef3 ;
    color: #fff !important;
}
.text-center {
    text-align: center;
}
.padd15 {
    padding: 15px;
}

.mar0{
    margin:0px;
}
.rewarDiv a {
    display: block;
}
.padd0{
    padding: 0;
}