<!-- Card View Design : STARTS -->
<div class="MainWrapperBg">
    <div class="container">
        <div class="MainDetailsPage">
            <div class="ClientDetailCardMain">
                <div *ngFor="let recruiter of recruiters" class="ClientDetailCard">
                    <div class="ClientImage">
                        <!-- <img [src]="recruiter.profileimage" alt="Profile Pic"> -->
                        <div class="uploadImageDiv">
                            <img [src]="recruiter.profileimage" height="200" *ngIf="recruiter.profileimage"
                                height="50px" width="50px" class="uploadedImg" />
                        </div>
                        <div class="NameDetails">
                            <h4>{{recruiter.fullName}}</h4>
                            <p>Rate: ${{recruiter?.rate}} for {{recruiter?.mins}} </p>
                        </div>
                    </div>
                    <div class="BioDetails">
                        <h2>Bio :</h2>
                        <!-- <p>{{recruiter.bio}} </p> -->
                        <div [innerHTML]="recruiter?.bio"></div>

                        <!-- <h5 class="BioSubHead">Industries Expertise:</h5>
                        <p>Information technology, human resources, digital marketing, accounting & finance, research &
                            laboratory, and business development.</p> -->
                        <ng-container *ngIf="recruiter?.companies">
                            <h5 class="BioSubHead">Companies Recruited:</h5>
                            <p>{{recruiter?.companies}}</p>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card View Design : ENDS -->