.setCss {
  height: 450px;
}

.ccBcc input{
  width: 60%;
  margin-left: 16px;
}

.email input::placeholder {
  color:#000 !important;
}

.email input {
  width: 25%;
  margin-left: 10px;
  border-bottom: 1px solid black;
}

.email p {
  color:#717171;
}

.skill input::placeholder {
  color:#000 !important;
}

.skill  input {
  width: 98%;
  border-bottom: 1px solid black;
}

.textRight {
  text-align: right;
}

button.sendBtn {
  background-color: #039be5;
  color: #fff;
  border: 1px solid #039be5;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spaceBet{
  margin-left: 10px;
}

.commentTxt {
  height: 6rem !important;
}