/* body {
  margin: 0 auto;
  /* background-color: #f5f5f5; */
/* } */
.mainPageBg{
  width: 100%;
  float: left;
  position: relative;
}
.mainTemplate {
  padding: 20px 150px 80px;
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  /* position: relative; */
}
.interviewVideoDiv {
  width: 100%;
  float: left;
  height: 500px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.leftSideQuetion {
  width: 40%;
  padding: 20px;
  background-color: #000;
  box-shadow: 0px 0px 10px #ccc;
}
.video-interview {
  width: 60%;
  height: 100%;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.ListResume {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  /* height: calc(100vh - 540px);
            overflow: scroll; */
}

.leftSideQuetion h2 {
  font-size: 32px;
  text-align: left;
  color: #33aaff;
  margin: 0 0 30px;
}
.interviewQue h4 {
  margin: 30px 0;
  font-size: 17px;
  text-align: left;
}
.interviewQue h4 a {
  color: #ffffff;
  cursor: pointer;
}
.singleList.employerResume {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  display: block;
  justify-content: unset;
  margin-bottom: 30px;
  transition: 1s;
  height: auto;
  background-color: #ffffff;
}
.docSectionBtns {
  text-align: left;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e5e5e5;
}
.PointsDivSingle {
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}
.white-tick {
  width: 24px;
}
.PointsDivSingle h4 {
  margin: 0 20px;
  font-size: 16px;
  color: #919191;
  word-wrap: break-word;
}
.active-resume {
  background-color: #33aaff !important;
}
ul:not(.browser-default) > li {
  list-style-type: none;
}
.downloadResume {
  border: 2px solid #39aaff;
  background-color: transparent;
  color: #39aaff;
}
.downloadResume:hover {
  background-color: #39aaff;
}
.downloadResume:hover a,
.downloadResume:hover a i {
  color: #ffffff;
}
.docSectionBtns {
  text-align: right;
  margin-bottom: 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
}
.docSectionBtns button {
  font-size: 15px;
  min-width: 170px;
  border-radius: 5px;
  padding: 5px 20px;
}
.docSectionBtns button i {
  margin-right: 10px;
}
.candidate-name {
  color: #33aaff;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.video-js {
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}
.video-interview {
  width: 60%;
  height: 100%;
}
.footerLogo img {
  width: 5%;
}
@media only screen and (min-width: 990px) and (max-width: 1250px) {
  .nav-wrapper.container {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  nav.customeNav ul a {
    color: #1c2d41;
    padding: 0 20px;
  }
}
.nav-wrapper.container {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
nav.customeNav {
  background: #fff !important;
  box-shadow: none;
  border-bottom: 0px solid #34aafd;
}
.footer {
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  background-color: #fff;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.link {
  color: #34aafd;
  cursor: pointer;
}
.invalid-token-container {
  width: 100%;
  height: calc(100vh - 250px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.singleList {
  border-radius: 0px !important;
  margin-top: 10px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .mainTemplate {
    padding: 10px 15px 140px;
    display: flex;
    flex-direction: column-reverse;
  }

  .interviewVideoDiv {
    display: flex;
    flex-direction: column-reverse;
  }
  .leftSideQuetion {
    width: 100%;
  }
  .video-interview {
    width: 100%;
  }
  .commonSingleInner {
    width: 100% !important;
  }
  .leftSideQuetion h2 {
    font-size: 28px;
  }
  .interviewQue h4 {
    font-size: 15px;
  }
  .footerLogo img {
    width: 15%;
  }
  .singleList.employerResume {
    margin-bottom: 20px;
  }
}
