<div>
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>

    <div class="modal-content">
        <p class="bodyPara">{{ dialogText1 }}</p>
        <p class="bodyPara">{{ dialogText2 }}</p>
        <p class="bodyPara">{{ dialogText3 }}</p>
    </div>
    <div *ngIf="inputBox">
        <input type="text" placeholder="Google, JP Morgan… etc*" [(ngModel)]="inputText">
        <span style="color: red;">This field is required*</span>
    </div>
    <div class="textCenter">
        <button *ngIf="getBtns('save')" (click)="save()" class="sendBtn saveBtnClass">
            Save
        </button>
    </div>
</div>