<div class="">

  <div class="row">
    <div class="col s6 m6 l6 textAlign" [ngClass] = "chgStyle ? 'frtClass' : 'secClass'" (click) = "changesType('1')">
      CHATS
    </div>
    <div class="col s6 m6 l6 textAlign" [ngClass] = "!chgStyle ? 'frtClass' : 'secClass'" (click) = "changesType('2')">
      {{currentUserRole}}
    </div>
  </div>

  <div class="row">
    <form [formGroup]="auctionFrm">
      <div class="searchDiv">
        <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByName" placeholder="Search..." #searchInputTerm>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="chat-list" *ngIf = "chgStyle">
    <ng-container *ngFor="let user of onlyChatUsers">

      <div class="chat-profile-item" *ngIf = "user.user1._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user1.profileimage !=='' || user.user1.profileimage !== undefined) ? user.user1.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user1.profileimage !== '' ? user.user1.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user.user1._id)"> {{ user.user1.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

      <div class="chat-profile-item" *ngIf = "user.user2._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user2.profileimage !=='' || user.user2.profileimage !== undefined) ? user.user2.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user2.profileimage !== '' ? user.user2.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user.user2._id)"> {{ user.user2.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
  </div>

  <div class="chat-list" *ngIf = "!chgStyle">
    <ng-container *ngFor="let user of chatUsers">

      <div class="chat-profile-item" *ngIf = "user._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="((user.profileimage !== '' || user.profileimage !== undefined)) ? user.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.profileimage !== '' ? user.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user._id)"> {{ user.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
  </div>

</div>

<div id="showImage" class="modal">
  <img [src]="imgVal" class="showImgUser"/>
</div>