<div class="t-comments-box">
    <div class="backBtn">
        <i (click)="backToPage()" class="fa fa-arrow-left colorSt" aria-hidden="true"></i>
    </div>
    <div class="comment-title">
        Comments
    </div>
    <div class="add-comment">
        <img style="margin-top: 8px;" [src]="loggedUser.profileimage" alt="" />
        <div class="comment-input">
            <input class="form-control form-control-sm" type="text" placeholder="Add a comment.." />
            <div class="comment-send"><i class="fab fa-telegram-plane"></i></div>
        </div>
    </div>
    <div class="comment comment-level-1">
        <img src="assets/img/profile-user.png" alt="" />
        <div>
            <div class="comment-label">
                <span class="comment-name">Uchiha Itachi</span>
                <span class="comment-time"> - 5 days ago</span>
            </div>
            <div class="comment-content">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </div>
            <div class="comment-action">
                <span> <i class="far fa-heart"></i> Like (0)</span>
                <span> <i class="far fa-comment-alt"></i> Comment (0)</span>
            </div>
        </div>
    </div>
    <div class="comment comment-level-2">
        <img src="assets/img/profile-user.png" alt="" />
        <div>
            <div class="comment-label">
                <span class="comment-name">Kris Oberlin🌙</span>
                <span class="comment-time"> - 5 days ago</span>
            </div>
            <div class="comment-content">
                Lorem Ipsum is simply dummy.
            </div>
            <div class="comment-action">
                <span> <i class="far fa-heart"></i> Like (0)</span>
            </div>
        </div>
    </div>
</div>