.t-comments-box {
    padding: 0.5rem;
}

.comment-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.15rem;
    color: #263843;
    /* border-bottom: 1px solid #C3CCD3;
    margin-top: .25rem;
    margin-bottom: 1rem; */
}

img {
    width: 30px;
    height: 30px;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
}

.add-comment {
    display: flex;
}

.add-comment .comment-input {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.comment-input input {
    height: 100%;
    width: 100%;
    /* padding-left: 5px; */
    border: 1px solid #ced4da;
}

.comment-send {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 35px;
    height: 100%;
    border-radius: 0.2rem;
    color: #FFCC80;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.comment-send:hover {
    color: #FF9800;
}

.comment {
    display: flex;
    font-size: 0.8rem;
    margin-top: 1rem;
}

.comment .comment-label {
    line-height: 1;
}

.comment .comment-label .comment-name {
    font-weight: 500;
    font-size: 1rem;
    color: #292929;
}

.comment .comment-label .comment-time {
    font-weight: 100;
    color: #768791;
}

.comment-content {
    color: #768791;
    font-size: 0.90rem;
    margin-top: 0.1rem;
}

.comment-action {
    color: #c3ccd3;
    line-height: 1.2;

    span {
        margin-right: 1rem;
    }
}

.comment-level-2 {
    margin-left: calc(50px + 1rem);
}

.comment-level-3 {
    margin-left: calc((50px + 1rem) * 2);
}

.commentsSection {
    max-height: 500px;
    margin-top: 5px;
    overflow: auto;
}