<div>
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)]="dialogTitle"></app-dialog-title>

    <div class="modal-content">
        <textarea rows="4" style="height: 6rem;" placeholder="Message" [(ngModel)]="message"></textarea>
        <div class="textCenter">
            <button (click)="closeScreen($event)" class="sendBtn introStyle">
                Cancel
            </button>&nbsp;&nbsp;
            <button (click)="submit()" class="sendBtn">
                Submit
            </button>
        </div>
    </div>
</div>