<ng-container>
  <div class="ListResume">
      <div  class="singleList employerResume resumeSingleList"  *ngFor="let items of resumes">
          <div class="user-details">
              <span>
                {{ items?.candidateKey.candidate_id?.fullName }}
              </span>
              <div class="other-details">
                <p><label>Job Title :</label> {{ items?.candidateKey.jobTitle }}</p>
                <p><label>Location :</label> {{ items?.candidateKey.location }}</p>
                <p>
                  <label>Desired Roles :</label
                  >{{
                    items?.desiredRoles ||
                      items?.candidateKey?.desiredRoles
                  }}
                </p>
                <div>
                  <label>Skills :</label>
                  <div class="industries">
                      <span class="industrieName" *ngFor="let skills of items.candidateKey.skills.split(',')">{{skills}}</span>
                  </div>
                </div>
                <p>
                  <label>Industries :</label>
                  <span class="industrieName" *ngFor="let industries of items.candidateKey.industries">{{industries?.name}} |</span>
                </p>
              </div>
            </div>
          </div>
  </div>
  
</ng-container>
