<div class="interview-list-container">
  <div class="row">
    <div class="head-column">
      <div class="head-card">
        <h6>
          <span class="interview-heading">
            Interviews
          </span>
        </h6>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <app-filter-data (handleToggleSign)="handleToggleSign($event)"></app-filter-data>
  </div>

  <div class="white hoverable bgLight searchForm">
    <form [formGroup]="SearchFrm" novalidate style="width: 100%;">
      <div class="row">
        <div
          class="input-field disFlex s12 m12 l12"
          style="text-align: left;"
        >
          <div class="inputInnerDiv">
            <div class="skillInput">Select the skill sets*</div>
            <span>Note: select skills from dropdown</span>
            <tag-input
              class="borderBott borderBottN skillBorBott"
              [(ngModel)]="tags"
              formControlName="tags"
              [addOnBlur]="true"
              (onAdd)="onadd($event)"
              (onRemove)="onadd($event)"
              [onlyFromAutocomplete]="true"
              [placeholder]="'search by skillSets'"
              [secondaryPlaceholder]="'search by skillSets'"
            >
              <tag-input-dropdown
                [autocompleteItems]="skillSets"
                [keepOpen]="false"
                [showDropdownIfEmpty]="true"
                [dynamicUpdate]="false"
              >
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="skillInput" style="margin-top: 10px;">
          <span class="note" style="float: left;"><span style="color: #f58e8e;">Note:</span> Search by Name : </span>
        </div>
        <div class="inputDivMainN">
          <input type="text" [(ngModel)]="searchTerm" formControlName="searchTerm" placeholder="Search here..." #searchByName>
        </div>    
      </div>
    </form>
  </div>

  <div class="row">
    <div class="column">
      <div class="card click-effect" *ngFor="let candidate of interviewList; let i=index">
        <div class="candidate-information" (click)="onInterview(candidate.candidateId)">
          <div class="name">
            <!-- <span class="can-details-title">
              Name :
            </span> -->
            <h3>{{candidate.candidateName}}</h3>
          </div>
          <div class="role">
            <label class="can-details-title">
              Role :
            </label>
            
           <span class="candDetail">{{candidate.jobTitle}}</span> 
          </div>
          <div class="skillset">
            <label class="can-details-title">
              Skills :
            </label>
           <span class="candDetail">{{candidate.skills}}</span> 
          </div>
        </div>
        <div class="trash-candidate">
          <i class="fa fa-trash" (click)="trashCandidate(candidate)" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
