<div class="menu">
  <ul *ngFor="let tab of tabs2">
    <li (click)="SelectItem2(tab.id, tab.displayText)">
      <a [ngClass]="{ active: tab.selected === true }">
        <i [ngClass]="tab.addedClass" style="width: 40px; text-align: left;">
          <span class="badge" *ngIf="notificationLength > 0 && (tab.displayText === 'Notification')">
            <div style="margin-top: 6px; font-size: 10px;">
              {{ notificationLength }}
            </div>
          </span>
        </i>
        {{ tab.displayText }}
      </a>
    </li>
  </ul>
</div>
