<!-- <div class="menu">
  <ul *ngFor="let tab of tabs2">
    <li (click)="SelectItem2(tab.id, tab.displayText)">
      <a [ngClass]="{ active: tab.selected === true }">
        <i [ngClass]="tab.addedClass" style="width: 40px; text-align: left;">
          <span class="badge" *ngIf="notificationLength > 0 && (tab.displayText === 'Notification')">
            <div style="margin-top: 6px; font-size: 10px;">
              {{ notificationLength }}
            </div>
          </span>
        </i>
        {{ tab.displayText }}
      </a>
    </li>
  </ul>
</div> -->
<div class="menu_candidate">
  <div class="menu_list" *ngFor="let tab of tabs2">
    <ion-item  lines="none" class="menu_show" (click)="SelectItem2(tab.id, tab.displayText)">
      <img class="icon_img" src=".\assets\menu-candidate-icon\{{tab.addedClass}}" >
      <ion-label class="lbl">{{ tab.displayText }}</ion-label>
      <ion-icon slot="end" src=".\assets\menu-candidate-icon\Arrow.svg"></ion-icon>
    </ion-item>
  </div>
</div>