<div class="card white hoverable bgLight" style="padding: 13px 30px;">
  <form [formGroup]="SearchFrm" novalidate>
    <div class="row">
      <div
        class="input-field disFlex s12 m12 l12"
        style="text-align: left;"
      >
        <div class="inputInnerDiv">
          <div class="skillInput">Select the skill sets*</div>
          <span>Note: select skills from dropdown</span>
          <tag-input
            class="borderBott borderBottN skillBorBott"
            [(ngModel)]="tags"
            formControlName="tags"
            [addOnBlur]="true"
            (onAdd)="onadd($event)"
            (onRemove)="onadd($event)"
            [onlyFromAutocomplete]="true"
            [placeholder]="'search by skillSets'"
            [secondaryPlaceholder]="'search by skillSets'"
          >
            <tag-input-dropdown
              [autocompleteItems]="skillSets"
              [keepOpen]="false"
              [showDropdownIfEmpty]="true"
              [dynamicUpdate]="false"
            >
            </tag-input-dropdown>
          </tag-input>
          <!-- <div *ngIf="(f.tags.touched && f.tags.errors)" class="invalid-feedback" class="error">
            <div *ngIf="f.tags.errors.required">Skill sets are required</div>
          </div> -->
        </div>

        <!-- <div class="center-align wid150"> -->
        <!-- <a class="waves-effect waves-light btn-flat cancelBtn" [routerLink]="['/recruiter/bidding-event-list']">Cancel</a> -->
        <!-- <button type="submit" class="waves-effect waves-light btn">Search</button> -->
        <!-- </div> -->
      </div>
      <!-- <div class=" row center-align"> -->
      <!-- <a class="waves-effect waves-light btn-flat cancelBtn" [routerLink]="['/recruiter/bidding-event-list']">Cancel</a> -->
      <!-- <button type="submit" class="waves-effect waves-light btn">Search</button> -->
      <!-- </div> -->
    </div>
    <div class="row">
      <div class="skillInput">
        <span class="note"><span style="color: #f58e8e;">Note:</span> Search by Name : </span>
      </div>
      <div class="inputDivMainN">
        <input type="text" [(ngModel)]="searchTerm" formControlName="searchTerm" placeholder="Search here..." #searchByName>
      </div>    
    </div>
    <div class="row">
      <div class="skillInput">
        <span class="note"><span style="color: #f58e8e;">Note:</span> Search by Experience : </span>
      </div>
      <div class="inputDivMainNN">
        <input type="number" [(ngModel)]="minSearchTerm" formControlName="minSearchTerm" placeholder="Min Experience..." #searchByMinExperence>
        <input type="number" style="margin-left: 10px;" [(ngModel)]="maxSearchTerm" formControlName="maxSearchTerm" placeholder="Max Experience..." #searchByMaxExperence>
        <!-- <button class="waves-effect waves-light btn" style="margin-left: 10px;" (click)="searchByExperiance()">Search</button> -->
      </div>
    </div>
  </form>
</div>

<div class="resumeBankTable">
  <ul class="table-border">
    <li style="cursor:pointer;">
      <div class="disF">
        <div class="commonDiv bold">Name</div>
        <div class="commonDiv bold">Resume</div>
        <div class="commonDiv bold">Skills</div>
        <div class="commonDiv bold">Experience</div>
        <div class="commonDiv bold">Job Post</div>
        <div class="commonDiv bold">Add To Resume Repository</div>
      </div>
    </li>
    <li
      class="resume-bank-item"
      *ngFor="
        let searchedresume of searchedResume | paginate: { itemsPerPage: itemsPerPageAre, currentPage: p }
      "
    >
      <div class="parentCommonDF">
        <div class="commonDiv">
          {{ searchedresume.firstName }}
          {{ searchedresume.lastName }}
        </div>
        <div class="commonDiv">
          <a
            [attr.href]="transform(searchedresume.resumeUrl)"
            target="_blank"
            download
            >Download Resume</a
          >
        </div>
        <div class="commonDiv">
          <span *ngFor="let tags of searchedresume.tags">
            {{ tags.display }}
          </span>
        </div>
        <div class="commonDiv">
          <span> {{ searchedresume.experience }} years </span>
        </div>
        <div class="commonDiv">
          <span *ngIf="searchedresume.jobPostProfieId">
            {{ searchedresume.jobPostProfieId.jobTitle }}
          </span>
        </div>
        <div class="commonDiv">
          <button
            *ngIf="
              !searchedresume.jobPostProfieId &&
              searchedresume.status == 'pending'
            "
            data-toggle="modal"
            data-target="#Conformation"
            (click)="showUploadModel(searchedresume._id)"
            class="waves-effect waves-light btn"
          >
            Add
          </button>
          <button
            *ngIf="
              searchedresume.jobPostProfieId || searchedresume.status == 'added'
            "
            [disabled]="
              searchedresume.jobPostProfieId || searchedresume.status == 'added'
            "
            data-toggle="modal"
            data-target="#Conformation"
            class="waves-effect waves-light btn"
          >
            added
          </button>
        </div>
      </div>

      <div class="divider"></div>
    </li>
  </ul>
  <div class="modal confirmationDiv" id="Conformation">
    <h3>Confirmation</h3>
    <p>Are you sure you want to add your resume to resume repository?</p>
    <div class="btn-group confirmBtnsGroup">
      <button class="confirmBtn yesBtn" (click)="addToResumeRepo()">YES</button>
      <button class="confirmBtn noBtn" (click)="closed()">NO</button>
    </div>
  </div>
</div>
<pagination-controls (pageChange)="handlePagination($event)"></pagination-controls>
