.ListResume {
    position: fixed;
    top: 25%;
    padding: 10px;
}

.userCss {
    color: red;
    font-size: 16px;
}

.footerLogo img {
    width: auto;
    height: 100%;
}

.footer {
    width: 100%;
    float: left;
    height: 70px;
    background-color: #fff;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}