.ListResume {
  list-style: none;
  padding: 0;
  width: 100%;
  float: left;
  margin-bottom: 100px;
}

.singleList.employerResume {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  display: block;
  justify-content: unset;
  margin-bottom: 20px;
  transition: 1s;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.singleList22.employerResume22 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 30px;
  display: block;
  justify-content: unset;
  margin-bottom: 20px;
  transition: 1s;
  height: auto;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/* Tablet css :STARTS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .docSectionBtns button {
    margin-bottom: 7px !important;
  }

  .singleList.employerResume {
    padding: 20px !important;
  }

  .singleList22.employerResume22 {
    padding: 20px !important;
  }
}
/* Tablet css :ENDS */

.pro {
  width: 100%;
  float: left;
}

.pro-3 {
  width: 100%;
  float: left;
}

.pro-1 {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .pro-share {
    width: 50% !important;
  }

  .CandidateDetails {
    width: 100%;
    display: block;
  }

  .candidate-name {
    width: 100%;
  }

  .candidate-name p {
    font-size: 0.8rem;
  }

  .lates-s {
    width: 100% !important;
  }

}

.docSectionBtns {
  text-align: right;
  /* margin-bottom: 20px; */
  /* padding: 0 0 20px; */
  /* border-bottom: 1px solid #e5e5e5; */
  display: flex;
  justify-content: space-between;
}

.docSectionBtns button {
  font-size: 13px;
  /* min-width: 100px; */
  border-radius: 5px;
  padding: 5px 10px;
}

.candidate-name {
  width: calc(100% - 200px);
  text-align: left;
}

.candidate-name span {
  color: #33aaff;
  font-size: 20px;
  font-weight: 600;
}
.candidate-name p {
  margin: 3px 0;
  color: #8c8c8c;
  font-size: 14px;
}

.candidate-name .industrieName {
  font-size: 12px !important;
  color: #8ca2c3 !important;
}

@media (max-width: 1440px) {
  .candProfile22 {
    width: 15px;
    height: 15px;
  }
  .candidate-name {
    width: 100%;
  }

  button.shareBtn {
    width: 98%;
    display: block;
    border-radius: 5px;
  }

  button.chatBtn {
    width: 98%;
    display: block;
    border-radius: 5px;
  }
}

.CandidateDetails {
  display: flex;
  align-items: center;
}

.pro-share{
  width: 50%;
  float: left;
}

.acceptBtn {
  width: 48%;
  border-radius: 7px;
}

button.acceptBtn{
  border: 1px solid #1a1;
  background-color: #1a1;
}

button.cancelBtn{
  border: 1px solid red !important;
  background-color: red !important;
}

.btnText {
  color: #fff !important;
}

.btn-icon {
  width: 20px;
  margin-right: 3px;
  color: #fff !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .pro-share {
    width: 50% !important;
  }
}

@media (max-width: 1440px) {
  .pro-share {
    width: 50% !important;
  }

  button.acceptBtn {
    width: 98%;
    display: block;
    border-radius: 5px;
  }

}

.tabs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tablink {
  /* background-color: #33aaff;
    color: #fff; */
  background-color: #ffffff !important;
  color: #33aaff !important;
  border-bottom: 1px solid #33aaff !important;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  width: 50%;
  z-index: 1;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  position: relative;
  margin-bottom: 10px;
}

.tablink:hover {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

.tablinkActive {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .tablink {height: 50px; font-size: 10px !important; width: 39%!important;}
}

.tabsAre{
  margin-bottom: 10px;
}

.shareBtn {
  width: 48%;
  border-radius: 7px;
}

button.shareBtn {
  border: 1px solid #DD3215;
  background-color: #DD3215;
}

.chatBtn {
  width: 48%;
  border-radius: 7px;
}

button.chatBtn{
  border: 1px solid #33aaff;
  background-color: #33aaff;
}

.icon-name {
  padding: 5px;
}

.posRel {
  position: relative;
}
.posRel label {
  position: absolute;
  left: 0;
  top: 12px;
  font-size: 15px;
  color: #b2b2b2;
}

input {
  margin-bottom: 0px !important;
}

.labelStyle{
  color: darkblue;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.sideCss {
  margin-left: 10px;
}

.candProfile22 {
  float: left;
  margin-top : 3px;
  width: 15px !important;
  height: 15px !important;
}

.marTop {
  margin-top: 10px;
}

.pro-share-width {
  width: 100% !important;
}

.big-badge-wid {
  width : 52px !important;
  height : 52px !important;
}

.big-badge-wid img, .big-badge img {
  border-radius: 50% !important;
  width : 100%;
  height : 100%;
}

.user-details {
  width: 100%;
}

.marginAuto{
  margin: auto;
}

.marOther{
  margin-left: 65px;
  margin-top: -15px;
}

.cirDiv {
  background: #ff0000 !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  padding: 3px;
  top: 25px;
  margin-left: -10px;
}

.styDiv1 {
  border-radius: 10px;
  background-color: red;
  width: 50%;
  margin-left: 20px;
}

.lblSty {
  color: white;
  margin-left: 10px;
}

.wrdWrap{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}