<div class="ListResume">
  <div
    class="singleList employerResume resumeSingleList"
    *ngFor="let resume of resumes; let i = index"
  >
    <div class="docSectionBtns">
      <div class="candidate-name">
        <div class="CandidateDetails">
          <ng-container
            *ngIf="
              resume?.candidate_id?.profileimage ||
              resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img
                [src]="
                  resume?.candidate_id?.profileimage ||
                  resume?.candidateKey?.profileimage
                "
                alt="profile"
              />
            </div>
          </ng-container>

          <ng-container
            *ngIf="
              !resume?.candidate_id?.profileimage &&
              !resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img src="assets/img/profile-user.png" alt="profile" />
            </div>
          </ng-container>
          <span>
            {{ resume?.candidateName || resume.candidate_id.fullName }}
          </span>
        </div>
        <p><label>Job Title :</label> {{ resume?.jobTitle }}</p>
        <p><label>Location :</label> {{ resume?.location }}</p>
      </div>
      <div class="cadidateResumeDiv">
        <button class="downloadResume">
          <a [attr.href]="transform(resume?.fileURL)" target="_blank" download>
            <i class="fa fa-download"></i>
            Download Resume
          </a>
        </button>
        <div class="smallBtns">
          <button class="LinkedInBtn">
            <!-- <button class="LikedInBtn" *ngIf="resume?.linkedIn" (click)="linkedIn(resume?.linkedIn)"> -->
            <a>
              <!-- <i class="fa fa-linkedin"></i> -->
              <div class="icon-name" (click)="linkedIn(resume?.linkedIn)">
                <img
                  class="linkedin-icon"
                  src="../../assets/icons/linkedin-sign.png"
                />
                <span> LinkedIn </span>
              </div>
            </a>
          </button>
          <button class="shareBtn">
            <a>
              <!-- <i class="fa fa-linkedin"></i> -->
              <div class="icon-name" (click)="showShareModal(resume)">
                <!-- <img class="shared-icon" src="../../assets/icons/share-option.png"> -->
                <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                <span> Share </span>
              </div>
            </a>
          </button>
        </div>
      </div>
    </div>
    <!-- a video  -->
    <ng-container
      *ngIf="resume.addedToVideoInterviewRoomByRecruiter || resume.recordedId"
    >
      <div class="btn-accept" (click)="toggleAccordian(i, $event, resume)">
        see the interview
      </div>
    </ng-container>
    <ng-container *ngIf="show == i">
      <!--  -->

      <div class="editResumeupperDiv" *ngIf="videoURL">
        <div class="interviewVideoDiv stickyDiv">
          <div class="leftSideQuetion" *ngIf="questionsByRecruiter">
            <h2>Jump to below interview questions</h2>

            <div class="interviewQue">
              <!-- <div class="QuestionInner"> -->
              <h4>
                <a
                  [ngClass]="questionNumber === 1 ? 'interview-bold' : false"
                  (click)="setCurrentTime(questionsByRecruiter.timeStamp1, 1)"
                >
                  {{ questionsByRecruiter?.question1 }}</a
                >
              </h4>

              <h4>
                <a
                  [ngClass]="questionNumber === 2 ? 'interview-bold' : false"
                  (click)="setCurrentTime(questionsByRecruiter.timeStamp2, 2)"
                >
                  {{ questionsByRecruiter.question2 }}</a
                >
              </h4>
              <h4>
                <a
                  [ngClass]="questionNumber === 3 ? 'interview-bold' : false"
                  (click)="setCurrentTime(questionsByRecruiter.timeStamp3, 3)"
                >
                  {{ questionsByRecruiter.question3 }}</a
                >
              </h4>
              <h4>
                <a
                  [ngClass]="questionNumber === 4 ? 'interview-bold' : false"
                  (click)="setCurrentTime(questionsByRecruiter.timeStamp4, 4)"
                >
                  {{ questionsByRecruiter.question4 }}</a
                >
              </h4>
              <h4>
                <a
                  [ngClass]="questionNumber === 5 ? 'interview-bold' : false"
                  (click)="setCurrentTime(questionsByRecruiter.timeStamp5, 5)"
                >
                  {{ questionsByRecruiter.question5 }}</a
                >
              </h4>
            </div>
          </div>
          <!-- video js -->
          <div
            class="video-interview"
            [ngClass]="
              !questionsByRecruiter ? 'video-js-without-questions' : false
            "
          >
            <video #playVideo class="video-js" controls>
              <source [src]="this.videoURL" />
            </video>
          </div>
        </div>
      </div>
      <!--  -->
    </ng-container>
    <!-- end a video -->
    <ng-container *ngIf="resume?.canReview?.length > 0">
      <div class="btn-accept" (click)="showComments(i, resume)">Comments</div>
    </ng-container>

    <ng-container *ngIf="showCmts == i">
      <div *ngFor="let cmt of resume.canReview; let i = index">
        <ng-container *ngIf="allowedToComment(resume.canReview)">
          <input type="text" placeholder="Type your review" />
        </ng-container>
        <ng-container>
          <div class="singleListData">
            <span>Comments:</span>
            <div class="PointsDiv commonSingleInner">
              <div class="PointsDivSingle PointsDivSingleN">
                <h4>{{ cmt?.review }}</h4>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="resume?.comments">
      <div class="singleListData">
        <span>Comments:</span>
        <div class="PointsDiv commonSingleInner">
          <div class="PointsDivSingle PointsDivSingleN">
            <h4>{{ resume?.comments }}</h4>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div id="shareEmailPopUp" class="modal">
  <i (click)="closeShareModal()" class="fa fa-times" aria-hidden="true"></i>
  <div class="emailTemp">
    <div class="form-group posRel">
      <!-- <p class="hideBtn"><a href="#">Hide CC / BCC</a></p> -->
      <label>To </label>
      <input
        type="text"
        class="form-control inputComm"
        [(ngModel)]="recipientEmail"
      />
    </div>
    <div class="form-group posRel">
      <label>CC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="cc" />
    </div>
    <div class="form-group posRel">
      <label>BCC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="bcc" />
    </div>
    <div class="form-group textRight">
      <button class="sendBtn" (click)="share(resume)">SEND</button>
    </div>
  </div>
</div>
