<div class="ListResume">
<div class="singleList employerResume resumeSingleList">
    <div class="docSectionBtns">
      <div class="candidate-name">
        <span>
          {{resume?.candidateName}}
        </span>
        <p><label>Job Title :</label> {{resume?.jobTitle}}</p>
        <p><label>Location :</label> {{resume?.location}}</p>
      </div>
      <div class="cadidateResumeDiv">
        <button class="downloadResume">
          <a [attr.href]="transform(resume?.fileURL)" target="_blank" download>
            <i class="fa fa-download"></i>
            Download Resume
          </a>
        </button>
        <div class="smallBtns">
        <button class="LinkedInBtn" >
        <!-- <button class="LikedInBtn" *ngIf="resume?.linkedIn" (click)="linkedIn(resume?.linkedIn)"> -->

          <a>
            <!-- <i class="fa fa-linkedin"></i> -->
            <div class="icon-name">

              <img class="linkedin-icon" src="../../assets/icons/linkedin.png">
              <span>
                linked In
              </span>
            </div>
          </a>
        </button>
        <button class="shareBtn">
            <a>
              <!-- <i class="fa fa-linkedin"></i> -->
              <div class="icon-name">
  
                <!-- <img class="shared-icon" src="../../assets/icons/share-option.png"> -->
                <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                <span>
                  Share
                </span>
              </div>
            </a>
          </button>
          </div>
      </div>
    </div>
    <ng-container *ngIf="!isShareFromRecruiter">

      <div class="singleListData">
        <div class="PointsDiv commonSingleInner">
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="green-tick" />
            <h4>{{ currentResume.StrongPoint1 }}</h4>
          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="green-tick" />
            <h4>{{ currentResume.StrongPoint2}}</h4>

          </div>
          <div class="PointsDivSingle PointsDivSingleN">
            <img src="assets/img/checkIcon.png" class="green-tick" />

            <h4>{{ currentResume.StrongPoint3 }}</h4>

          </div>
        </div>

      </div>
    </ng-container>
    <ng-container *ngIf="isShareFromRecruiter && comments">
      <div class="singleListData">
        <div class="PointsDiv commonSingleInner">
          <div class="PointsDivSingle PointsDivSingleN">

            <h4>{{ comments }}</h4>

          </div>

        </div>

      </div>
    </ng-container>

  </div>
</div>