<div class="NavMain">
  <nav style="background: #e9f4ff" class="customeNav">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo"
        ><img src="assets/img/navbar-logo.png" style="vertical-align: middle"
      /></a>
      <a data-activates="mobile-demo" class="button-collapse"
        ><i style="color: #3af; cursor: pointer" class="material-icons"
          >menu</i
        ></a
      >
      <ng-container *ngIf="loggedInUser.userRole === 'recruiter'">
        <div class="CandiHelped">
          <div class="bagdeMain">
            <!-- <img src="assets/img/badgeRed1.png" alt="" /> -->
            <span *ngIf="userProfile['advicePoints']">
              {{ userProfile["advicePoints"] / 100 }}</span
            >
            <span *ngIf="userProfile['advicePoints']"></span>
          </div>

          <p>Candidates Helped</p>
        </div>
      </ng-container>

      <ul class="right hide-on-med-and-down">
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="borderBA">Blog</a>
        </li>
        <li *ngIf="!isRecruiter || !isLoggedIn">
          <a [routerLink]="['/forum']" routerLinkActive="borderBA"
            >Ask a Recruiter
          </a>
        </li>
        <li>
          <a [routerLink]="['/upload-resume']" routerLinkActive="borderBA">
            Resume Bank</a
          >
        </li>
        <li>
          <a [routerLink]="['/contact-us']" routerLinkActive="borderBA"
            >Contact Us</a
          >
        </li>
        <li>
          <a [routerLink]="['/job-post']" routerLinkActive="borderBA"
            >Job Postings</a
          >
        </li>

        <li *ngIf="!isLoggedIn">
          <a
            class="waves-effect waves-light btn btnSuccess"
            [routerLink]="['/login']"
          >
            Sign up
          </a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']" class="loginNtn">Login</a>
        </li>
        <li *ngIf="isAdmin && isLoggedIn">
          <a [routerLink]="['/user-list']" routerLinkActive="borderBA"
            >User List</a
          >
        </li>
        <li *ngIf="isRecruiter && isLoggedIn">
          <a
            [routerLink]="['/recruiter/dashboard']"
            routerLinkActive="borderBA"
            >Recruiter</a
          >
        </li>
        <li *ngIf="showAdminDashboardButton">
          <a
            [routerLink]="['/super-admin/user-list']"
            routerLinkActive="borderBA"
            >Super Admin Dashboard</a
          >
        </li>
        <!-- for recruiter profile -->
        <li *ngIf="isRecruiter && isLoggedIn">
          <a [routerLink]="['/recruiter/profile']" routerLinkActive="borderBA">
            <img
              src="assets/img/propic.png"
              style="vertical-align: middle; height: 30px; width: 30px"
            />
          </a>
        </li>
        <!-- end of recruiter profile -->

        <!-- employeer profile -->
        <li *ngIf="isEmployer && isLoggedIn">
          <a [routerLink]="['/employer/dashboard']" routerLinkActive="borderBA"
            >Employer</a
          >
        </li>
        <!-- end of employeer profile -->
        <li *ngIf="isCandidate && isLoggedIn">
          <a [routerLink]="['/candidate']" [routerLinkActive]="'borderBA'"
            >Candidate</a
          >
        </li>
        <!-- Enterprise profile -->
        <li *ngIf="isEnterprise && isLoggedIn">
          <a
            [routerLink]="['/enterprise/user-list']"
            routerLinkActive="borderBA"
            >Enterprise</a
          >
        </li>
        <!-- end of Enterprise profile -->

        <li *ngIf="isEmployer && isLoggedIn">
          <a [routerLink]="['/employer/profile']" routerLinkActive="borderBA">
            <img
              src="assets/img/propic.png"
              style="vertical-align: middle; height: 30px; width: 30px"
            />
          </a>
        </li>
        <!-- <li *ngIf="isEmployer && isLoggedIn "><a [routerLink]="['/home/TheRockRec']">The Rockstar Recruiter Community</a> -->

        <ng-container id="notify" *ngIf="show && !isAdmin && isLoggedIn">
          <div class="notificationList">
            <div class="notificationListInner">
              <div class="hederNotification">
                <h4>Notification</h4>
              </div>
              <div
                class="scrollNotification"
                infiniteScroll
                [infiniteScrollDistance]="0"
                [infiniteScrollThrottle]="50"
                [infiniteScrollContainer]="selector"
                [fromRoot]="true"
                (scrolled)="onScroll()"
              >
                <ul>
                  <li *ngFor="let ques of questDataLenght">
                    <a
                      (click)="getToQuestion(ques._id)"
                      [routerLink]=""
                      routerLinkActive="notification-content"
                      *ngIf="!ques.isAnswered"
                      [innerHtml]="truncateHTML(ques.question)"
                      >{{ ques.question }}</a
                    >
                  </li>
                  <ng-container> </ng-container>
                  <li *ngFor="let ques of suggestedQueData">
                    <a
                      [routerLink]="[
                        '/bidding-events/details',
                        ques?.biddingEventId
                      ]"
                      [queryParams]="{ queid: ques?._id }"
                      routerLinkActive="notification-content"
                      *ngIf="ques.QueAnsStaus == '1'"
                      [innerHtml]="truncateHTML(ques.question)"
                      >{{ ques.question }}</a
                    >
                  </li>
                  <li *ngFor="let ques of suggestedQueData">
                    <a
                      [routerLink]="[
                        '/bidding-events/details',
                        ques?.biddingEventId
                      ]"
                      [queryParams]="{ queid: ques?._id }"
                      routerLinkActive="notification-content"
                      *ngIf="ques.QueAnsStaus == '2' && isRecruiter"
                      (click)="updateQueAns(ques?._id)"
                      [innerHtml]="truncateHTML(ques.question)"
                      >{{ ques.question }}</a
                    >
                  </li>

                  <ng-container *ngIf="isCandidate">
                    <li *ngFor="let cmt of commets">
                      <a
                        (click)="goToSharedProfile(cmt._id)"
                        [routerLink]=""
                        routerLinkActive="notification-content"
                        *ngIf="cmt.review"
                        [innerHtml]="truncateHTML(cmt.review)"
                        >{{ cmt.review }}</a
                      >
                    </li>
                  </ng-container>

                  <li *ngFor="let cmt of likesOnComments">
                    <a
                      (click)="goToSharedProfile()"
                      [routerLink]=""
                      routerLinkActive="notification-content"
                      [innerHtml]="truncateHTML(cmt.data.review)"
                      >{{ cmt.data.review }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </ng-container>

        <li *ngIf="!isAdmin && isLoggedIn && isEmployer">
          <a (click)="toggle()">
            <h4 class="count" *ngIf="notificationLength > 0">
              {{ notificationLength + suggestedQueCount }}
            </h4>
            <img
              src="assets/img/Notification-512.png"
              style="vertical-align: middle; height: 30px; width: 30px"
            />
          </a>
        </li>

        <li *ngIf="!isAdmin && isLoggedIn && isRecruiter">
          <a (click)="toggle()">
            <h4 class="count" *ngIf="notificationLength > 0">
              {{ notificationLength + suggestedQueAnsCount }}
            </h4>
            <img
              src="assets/img/Notification-512.png"
              style="vertical-align: middle; height: 30px; width: 30px"
            />
          </a>
        </li>

        <li *ngIf="!isAdmin && isLoggedIn && isCandidate">
          <a (click)="toggle()">
            <h4 class="count" *ngIf="notificationLength > 0">
              {{ notificationLength + suggestedQueCount }}
            </h4>
            <img
              src="assets/img/Notification-512.png"
              style="vertical-align: middle; height: 30px; width: 30px"
            />
          </a>
        </li>

        <li
          *ngIf="
            isLoggedIn &&
            !this.supperAdmin.checkSuperAdminEmail() &&
            !this.enterpriseService.checkEnterpriseEmail()
          "
        >
          <a class="waves-effect waves-light btn btnSuccess" (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <!-- </ng-container> -->

  <!-- [routerLink]="['/login']" -->
  <!-- <ng-container *ngIf="!isCandidate"> -->

  <ul class="side-nav" id="mobile-demo">
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/home')"
        >Home</a
      >
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/login')">
        Sign up
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/login')"
        >Login</a
      >
    </li>
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/forum')">
        Ask a Recruiter
      </a>
    </li>
    <li>
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/upload-resume')"
      >
        Resume Bank</a
      >
    </li>
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/job-post')"
        >Job Postings</a
      >
    </li>
    <li *ngIf="isRecruiter && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/recruiter/bidding-event-list']"
        routerLinkActive="borderBA"
        >Recruiter</a
      >
    </li>
    <!--  -->
    <li *ngIf="isEnterprise && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/enterprise/user-list']"
        routerLinkActive="borderBA"
        >Enterprise</a
      >
    </li>
    <!--  -->
    <li *ngIf="isRecruiter && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/recruiter/profile')"
        >My Profile</a
      >
    </li>
    <li *ngIf="isEmployer && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/employer/dashboard']"
        routerLinkActive="borderBA"
        >Employer</a
      >
    </li>
    <li *ngIf="isCandidate && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/candidate']"
        routerLinkActive="borderBA"
        >Candidate</a
      >
    </li>
    <li *ngIf="isEmployer && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/employer/profile')"
        >My Profile</a
      >
    </li>

    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/blog')"
        >Blog</a
      >
    </li>

    <li *ngIf="isAdmin && isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/user-list')"
        >User List</a
      >
    </li>

    <li
      *ngIf="
        !this.supperAdmin.checkSuperAdminEmail() &&
        !this.enterpriseService.checkEnterpriseEmail() &&
        isLoggedIn
      "
    >
      <a class="waves-effect waves-light btn" (click)="logout()">Logout</a>
    </li>
  </ul>
  <!-- </ng-container> -->
</div>
