<div class="">
  <nav style="background:#E9F4FF;" class="customeNav">
    <div class="nav-wrapper container">
      <a [routerLink]="['/']" class="brand-logo"
        ><img src="assets/img/navbar-logo.png" style="vertical-align:middle;"
      /></a>
      <a data-activates="mobile-demo" class="button-collapse"
        ><i style="color: #3af" class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="borderBA">Blog</a>
        </li>
        <li *ngIf="!isRecruiter || !isLoggedIn">
          <a [routerLink]="['/forum']" routerLinkActive="borderBA"
            >Ask a Recruiter
          </a>
        </li>
        <li>
          <a [routerLink]="['/upload-resume']" routerLinkActive="borderBA">
            Resume Bank</a
          >
        </li>
        <li>
          <a [routerLink]="['/contact-us']" routerLinkActive="borderBA"
            >Contact Us</a
          >
        </li>
        <li>
          <a [routerLink]="['/job-post']" routerLinkActive="borderBA"
            >Job Postings</a
          >
        </li>

        <li *ngIf="!isLoggedIn">
          <a
            class="waves-effect waves-light btn btnSuccess"
            [routerLink]="['/login']"
          >
            Sign up
          </a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['/login']" class="loginNtn">Login</a>
        </li>
        <li *ngIf="isAdmin && isLoggedIn">
          <a [routerLink]="['/user-list']" routerLinkActive="borderBA"
            >User List</a
          >
        </li>
        <li *ngIf="isRecruiter && isLoggedIn">
          <a
            [routerLink]="['/recruiter/bidding-event-list']"
            routerLinkActive="borderBA"
            >Recruiter</a
          >
        </li>
        <li *ngIf="showAdminDashboardButton">
          <a
            [routerLink]="['/super-admin/user-list']"
            routerLinkActive="borderBA"
            >Super Admin Dashboard</a
          >
        </li>
        <!-- for recruiter profile -->
        <li *ngIf="isRecruiter && isLoggedIn">
          <a [routerLink]="['/recruiter/profile']" routerLinkActive="borderBA">
            <img
              src="assets/img/propic.png"
              style="vertical-align:middle;height: 36px;width: 36px"
            />
          </a>
        </li>
        <!-- end of recruiter profile -->

        <!-- employeer profile -->
        <li *ngIf="isEmployer && isLoggedIn">
          <a
            [routerLink]="['/employer/job-profile-list']"
            routerLinkActive="borderBA"
            >Employer</a
          >
        </li>
        <!-- end of employeer profile -->

        <li *ngIf="isEmployer && isLoggedIn">
          <a [routerLink]="['/employer/profile']" routerLinkActive="borderBA">
            <img
              src="assets/img/propic.png"
              style="vertical-align:middle;height: 36px;width: 36px"
            />
          </a>
        </li>
        <!-- <li *ngIf="isEmployer && isLoggedIn "><a [routerLink]="['/home/TheRockRec']">The Rockstar Recruiter Community</a> -->

        <ng-container id="notify" *ngIf="show && !isAdmin && isLoggedIn">
          <div class="notificationList">
            <div class="notificationListInner">
              <div class="hederNotification">
                <h4>Notification</h4>
              </div>
              <ul>
                <li *ngFor="let ques of questDataLenght">
                  <a
                    [routerLink]="['/forum']"
                    routerLinkActive="borderBA"
                    *ngIf="!ques.isAnswered"
                    >{{ ques.question }}</a
                  >
                </li>
                <li *ngFor="let ques of suggestedQueData">
                  <a
                    [routerLink]="[
                      '/bidding-events/details',
                      ques?.biddingEventId
                    ]"
                    [queryParams]="{ queid: ques?._id }"
                    routerLinkActive="borderBA"
                    *ngIf="ques.QueAnsStaus == '1'"
                    >{{ ques.question }}</a
                  >
                </li>
                <li *ngFor="let ques of suggestedQueData">
                  <a
                    [routerLink]="[
                      '/bidding-events/details',
                      ques?.biddingEventId
                    ]"
                    [queryParams]="{ queid: ques?._id }"
                    routerLinkActive="borderBA"
                    *ngIf="ques.QueAnsStaus == '2' && isRecruiter"
                    (click)="updateQueAns(ques?._id)"
                    >{{ ques.question }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </ng-container>
        <li *ngIf="!isAdmin && isLoggedIn && isEmployer">
          <a (click)="toggle()">
            <h4 class="count" *ngIf="notificationLength > 0">
              {{ questDataLenght?.length + suggestedQueCount }}
            </h4>
            <img
              src="assets/img/Notification-512.png"
              style="vertical-align:middle;height: 40px;width: 40px"
          /></a>
        </li>
        <li *ngIf="!isAdmin && isLoggedIn && isRecruiter">
          <a (click)="toggle()"
            ><h4 class="count" *ngIf="notificationLength > 0">
              {{ questDataLenght?.length + suggestedQueAnsCount }}
            </h4>
            <img
              src="assets/img/Notification-512.png"
              style="vertical-align:middle;height: 40px;width: 40px"
          /></a>
        </li>

        <li
          *ngIf="
            isLoggedIn &&
            !this.supperAdmin.checkSuperAdminEmail() &&
            !this.enterpriseService.checkEnterpriseEmail()
          "
        >
          <a class="waves-effect waves-light btn btnSuccess" (click)="logout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <!-- [routerLink]="['/login']" -->
  <ul class="side-nav" id="mobile-demo">
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/home')"
        >Home</a
      >
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/login')">
        Sign up
      </a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/login')"
        >Login</a
      >
    </li>
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/forum')">
        Ask a Recruiter
      </a>
    </li>
    <li>
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/upload-resume')"
      >
        Resume Bank</a
      >
    </li>
    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/job-post')"
        >Job Postings</a
      >
    </li>
    <li *ngIf="isRecruiter && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/recruiter/bidding-event-list']"
        routerLinkActive="borderBA"
        >Recruiter</a
      >
    </li>
    <li *ngIf="isRecruiter && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/recruiter/profile')"
        >My Profile</a
      >
    </li>
    <li *ngIf="isEmployer && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        [routerLink]="['/employer/job-profile-list']"
        routerLinkActive="borderBA"
        >Employer</a
      >
    </li>
    <li *ngIf="isEmployer && isLoggedIn">
      <a
        class="waves-effect waves-light btn"
        (click)="navigate('/employer/profile')"
        >My Profile</a
      >
    </li>

    <li>
      <a class="waves-effect waves-light btn" (click)="navigate('/blog')"
        >Blog</a
      >
    </li>

    <li *ngIf="isAdmin && isLoggedIn">
      <a class="waves-effect waves-light btn" (click)="navigate('/user-list')"
        >User List</a
      >
    </li>

    <li
      *ngIf="
        !this.supperAdmin.checkSuperAdminEmail() &&
        !this.enterpriseService.checkEnterpriseEmail() &&
        isLoggedIn
      "
    >
      <a class="waves-effect waves-light btn " (click)="logout()">Logout</a>
    </li>
  </ul>
</div>
