<div class="meni-1">
  <ul *ngFor="let tab of tabs2">
    <li class="noti">
      <a (click)="SelectItem2(tab.id)" [routerLink]="[tab.id]">
        <!-- <i [ngClass]="tab.addedClass"></i><br />{{ tab.displayText }} -->
        <!-- <h4 class="count" *ngIf="notificationLength > 0 && (tab.displayText === 'Notification')">
          {{notificationLength}}
        </h4> -->
        <div *ngIf = "tab.displayText !== 'Menu' && tab.displayText !== 'My Connections'">
          <i
            [ngClass]="tab.addedClass"
            [ngStyle]="{ color: tab.selected ? '#393B3B' : '#ffffff' }"
          ></i><br />
        </div>

        <div *ngIf = "tab.displayText == 'My Connections'">
          <div class="">
            <div class="big-badge candProfile middleMenu">
              <img src="assets/img/profile.png" style="max-width: 100%" />
            </div>
          </div>
        </div>

        <div *ngIf = "tab.displayText == 'Menu'">
          <div class="">
            <div *ngIf = "!loggedInUser.showCreatedLogo" class="big-badge candProfile">
              <img src="{{ loggedInUser.profileimage }}" (error)="changeLogo(loggedInUser)" style="max-width: 100%" />
            </div>
            <div *ngIf = "loggedInUser.showCreatedLogo" class="big-badge">
              <i
                [ngClass]="tab.addedClass"
                [ngStyle]="{ color: tab.selected ? '#393B3B' : '#ffffff' }"
              ></i><br />
            </div>
          </div>
        </div>
      </a>
      <span *ngIf="multiSharedCandidateProfileCount > 0 && (tab.displayText === 'Multi Shared Candidate Profile')">{{ multiSharedCandidateProfileCount }}</span>
      <!-- <span *ngIf="notificationLength > 0 && (tab.displayText === 'Notification')">{{ notificationLength }}</span> -->
      <span *ngIf="pendingIntroduceCount >= 1 && (tab.displayText === 'My Connections')">{{ pendingIntroduceCount }}</span>
    </li>
  </ul>
</div>