.meni-1 {
  display: none;
}
.meni-1 ul li a:active {
  background: #0c3e68;
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .meni-1 {
    display: block;
  }
  .meni-1 ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .meni-1 ul li {
    float: left;
    padding: 5px 22px 5px 30px;
  }
  .meni-1 {
    position: fixed;
    background-color: #3fa9f5;
    z-index: 9999;
    width: 100%;
    bottom: 0;
  }
  .meni-1 a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
  span { background: #ff0000!important; width: 25px !important; height: 25px !important; border-radius: 50%; color: #fff;
   position: absolute; padding: 3px; top: 8px;}
}

@media (max-width: 600px) {
  .meni-1 {padding-left: 69px;}
  .meni-1 i {font-size: 32px;}
  .meni-1 ul li {padding: 14px 22px 20px 30px;}
  
}
@media (max-width: 570px) {
  .meni-1 {padding-left: 69px;}
  .meni-1 i {font-size: 32px;}
  .meni-1 ul li {padding: 14px 22px 20px 30px;}
}

@media (max-width: 480px) {
  .meni-1 {padding-left: 27px;}
}
@media (max-width: 460px) {
  .meni-1 {padding-left: 10px;}
}
@media (max-width: 420px) {
  .meni-1 {padding-left:0px;}
  .meni-1 ul li a {
    font-size: 12px;
  }
  .meni-1 ul li {padding: 14px 18px 20px 30px;}
}
@media (max-width: 428px) {

}
@media (max-width: 414px) {
  .meni-1 ul li {padding: 14px 22px 20px 21px;}
  .meni-1 ul li a {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .meni-1 ul li {padding: 14px 20px 20px 21px;}
}
@media (max-width: 375px) {
  .meni-1 ul li {padding: 14px 22px 20px 19px;}
}
@media (max-width: 360px) {
  .meni-1 ul li {padding: 14px 19px 20px 19px;}
}
@media (max-width: 320px) {
  .meni-1 ul li {padding: 14px 15px 20px 15px;}
  .meni-1 ul li a {
    font-size: 12px;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
}

h4.count {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  font-weight: bold;
  right: 5px;
  top: -10px;
}

.candProfile {
  width: 32px;
  height: 32px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.candProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middleMenu {
  margin-right: 0px !important;
  border: 1px solid black !important;
  transform: scale(1.5);
}