button.sendBtn {
    background-color: #039be5;
    color: #fff;
    border: 1px solid #039be5;
    padding: 10px 20px;
    border-radius: 3px;
}

.spaceBet {
    float: right;
    margin-left: 10px;
}

.introStyle {
    border: 1px solid #03aaff !important;
    background-color: #03aaff !important;
}

.stDv {
    margin-top: 0% !important;
    margin-left: 30%;
    font-size: 20px;
}

.commentTxt {
    height: 4rem !important;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
    .commentTxt {
        height: 4rem !important;
    }

    .stDv {
        margin-left: 15%;
        font-size: 15px;
    }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #005691 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #005691 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #005691 !important;
}

.bodyPara{
    margin: 0px;
}