<div>
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)]="dialogTitle"></app-dialog-title>

    <div class="modal-content">
        <p class="bodyPara">{{dialogText}}</p>
        <span style="color: red;" *ngIf="checkBoxesIs">Select only three points.</span>
        <div *ngFor="let item of messageObject; let i = index">
            <div class="row" style="margin: 0px;" *ngIf="checkBoxesIs">
                <div class="col paddZeroClass" style="width: 100%;">
                    <mat-checkbox (change)="changeValue($event, item)" [checked]="item.value"
                        [disabled]="!item.value && checkedNumber === limitNumber">
                    </mat-checkbox>
                </div>
            </div>
            <div class="row" style="margin: 0px;">
                <div class="col paddZeroClass" style="width: 100%;">
                    <textarea class="commentTxt" [(ngModel)]="item.text" rows="5" cols="4"></textarea>
                </div>
            </div>
        </div>
        <div class="textCenter">
            <button (click)="closeScreen($event)" class="sendBtn spaceBet introStyle">
                Cancel
            </button>&nbsp;&nbsp;
            <button (click)="apply()" class="sendBtn spaceBet introStyle">
                Apply
            </button>
        </div>
    </div>
</div>