<div style="margin-top: 10px;">
    <mat-horizontal-stepper #stepper [linear]="isLinear">

        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <div class="container">
                    <div class="login_top">
                        <div style="text-align: center;">
                            <h2>A place to give your Networking a booster Shot</h2>
                        </div>
                        <img class="marTop20" src="assets/img/navbar-logo.png" alt="no img" />
                    </div>
                    <div class="login_middle">
                        <div><input type="text" formControlName="email" placeholder="E-mails I'd" [(ngModel)]="email" required></div>
                        <div><input type="password" formControlName="password" placeholder="password" [(ngModel)]="password" required></div>
                        <div><button class="btn" (click)="goForward(stepper)">SIGN UP</button></div>

                    </div>
                    <div class="login_footer">
                        <div>
                            <h2>Already Have an Account</h2>
                        </div>
                        <div><button class="btn" (click)="goToLogin()">LOGIN</button></div>
                        <div>
                            <h2 style="cursor: pointer;"><a href="">Forgot Password ?</a></h2>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <div class="container">
                    <div class="signup_top">
                        <div class="log" style="text-align: center">
                            <img class="marTop20" src="assets/img/navbar-logo.png" alt="" />
                        </div>
                        <div class="signup_fields">
                            <div><input autocomplete="off" formControlName="firstName" matInput [(ngModel)]="firstName" placeholder="First Name"
                                    required></div>
                            <div><input autocomplete="off" formControlName="lastName" matInput [(ngModel)]="lastName" placeholder="Last Name"
                                    required></div>
                            <div><input autocomplete="off" formControlName="linkedIn" matInput [(ngModel)]="linkedIn" placeholder="linked In">
                            </div>
                        </div>
                    </div>
                    <div class="signup_middle">
                        <h2>Enter Upto 3 Roles</h2>
                        <div class="signup_middle_content">
                            <div>
                                <div class="example-form" style="width: 25 0px;">
                                    <input autocomplete="off" formControlName="desiredRoles" matInput [(ngModel)]="desiredRoles" placeholder="Ex. Developer"
                                        required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="signup_footer">
                        <div>
                            <div><button class="btn" (click)="goForward(stepper)">CONTINUE</button></div>
                            <div><button class="btn marTop10" (click)="goBack(stepper)">BACK</button></div>
                        </div>
                        <div class="loader"></div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
                <div class="container">
                    <div class="top">
                        <div class="top_top">
                            <label for="img">
                                <mat-icon>cloud_upload</mat-icon>
                                <input type="file" accept=".pdf, .docx" formControlName="file"
                                    (change)="fileChange($event)" />
                            </label>
                            <h1>Upload Your Resume (.pdf,.docx,docs,doc)</h1>
                        </div>
                        <div class="top_bottom">
                            <span>{{this.imagePath}}</span>
                        </div>
                    </div>
                    <div class="middle">
                        <div>
                            <h2>Enter Upto 5 Designed Companies</h2>
                            <div class="signup_middle_content">
                                <div>
                                    <div class="example-form" style="width: 25 0px;">
                                        <input autocomplete="off" formControlName="desiredCompanies" matInput [(ngModel)]="desiredCompanies"
                                            placeholder="abc etc" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2>Enter atleast 3 Connector Companies</h2>
                            <div class="signup_middle_content">
                                <div>
                                    <div class="example-form" style="width: 25 0px;">
                                        <input autocomplete="off" formControlName="desiredConnector" matInput [(ngModel)]="desiredConnector"
                                            placeholder="xyz etc" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="signup_footer">
                        <div>
                            <div><button class="btn" (click)="sendVerifyCode(stepper)">SEND VERIFICATION CODE</button></div>
                            <div><button class="btn marTop10" (click)="goBack(stepper)">BACK</button></div>
                        </div>
                        <div class="loader"></div>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourFormGroup">
            <form [formGroup]="fourFormGroup">
                <div class="container">
                    <div class="top">
                        <h2 style="text-align: center">
                            Please check Your Email for the verification code
                        </h2>
                    </div>
                    <div class="middle">
                        <div class="mar-5">
                            <h2>Enter your 6 Digit verification code here</h2>
                        </div>
                        <div>
                            <div class="example-form" style="width: 25 0px;">
                                <input autocomplete="off" formControlName="verifyCode" matInput [(ngModel)]="verifyCode"
                                    placeholder="Code" required />
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <div><button class="btn" (click)="verifyCodeSubmit()"> Verify And Connect</button></div>
                    </div>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>