<div class="settleMobileStepper">
    <mat-horizontal-stepper #stepper [linear]="isLinear" (selectionChange)="selectionChange($event, stepper)">

        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup">
                <div class="container contSt">
                    <div class="login_top">
                        <div style="text-align: center;">
                            <h2>A network of people helping people get jobs</h2>
                        </div>
                        <img class="marTop20" src="assets/img/navbar-logo.png" alt="no img" />
                    </div>
                    <div class="login_middle">
                        <div class="width100"><input type="text" autocomplete="off" formControlName="email" placeholder="email ID*" [(ngModel)]="email" required></div>
                        <div class="width100"><input type="password" autocomplete="off" formControlName="password" placeholder="password*" [(ngModel)]="password" required></div>
                        <div class="width100" style="display: none !important;">
                            <mat-form-field class="width100" appearance="fill">
                                <mat-label>Select Role</mat-label>
                                <mat-select [(value)]="canValue">
                                    <mat-option *ngFor="let role of userTypes" [value]="role.value">
                                        {{role.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="width100">
                            <button class="btn" style="margin-top: -15px;" (click)="signUp(stepper)">
                                SIGN UP
                                <i class="fa" style="color: aliceblue;" [ngClass]="{'fa-spin fa-spinner': loading}"></i>
                            </button>
                        </div>
                        <div class="row col s12 m6 offset-m3 center-align">
                            <a class="oauth-container btn darken-4 white black-text" (click)="doGoogleAuthSignup(stepper)" style="text-transform: none; border: 1px solid #03aaff;">
                              <div class="left">
                                <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                              </div>
                              Sign up with Google
                            </a>
                        </div>
                        <div class="row col s12 m6 offset-m3 center-align">
                            <a class="oauth-container btn darken-4 white black-text" (click)="doAppleAuthSignup(stepper)" style="text-transform: none; border: 1px solid #03aaff;">
                              <div class="left">
                                <!-- <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /> -->
                              </div>
                              Login with Apple
                            </a>
                          </div>
                    </div>
                    <div class="login_footer">
                        <div>
                            <h2>Already Have an Account</h2>
                        </div>
                        <div><button class="btn" (click)="goToLogin(false)">LOGIN</button></div>
                        <div class="mar_5">
                        <h2 style="cursor: pointer;"><a [routerLink] = "['/Forgot-Password']" >Forgot Password ?</a></h2>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <form [formGroup]="secondFormGroup">
                <div class="container contSt">
                    <div class="signup_top">
                        <div class="log" style="text-align: center">
                            <img class="marTop20" src="assets/img/navbar-logo.png" alt="" />
                        </div>
                        <div class="login_middle">
                            <div class="width100"><input autocomplete="off" formControlName="firstName" matInput [(ngModel)]="firstName" placeholder="First Name*"
                                    required></div>
                            <div class="width100"><input autocomplete="off" formControlName="lastName" matInput [(ngModel)]="lastName" placeholder="Last Name*"
                                    required></div>
                            <div class="width100"><input autocomplete="off" formControlName="jobTitle" matInput [(ngModel)]="jobTitle" placeholder="Job title*"
                                required></div>
                            <div class="width100"><input autocomplete="off" formControlName="linkedIn" matInput [(ngModel)]="linkedIn" placeholder="LinkedIn">
                            </div>
                        </div>
                    </div>
                    <div class="signup_middle">
                        <h2>Enter up to 3 Desired roles</h2>
                        <div class="signup_middle_content">
                            <div>
                                <div class="example-form width100">
                                    <input autocomplete="off" formControlName="desiredRoles" matInput [(ngModel)]="desiredRoles" placeholder="Ex. Developer*"
                                        required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="signup_footer">
                        <div>
                            <div><button class="btn" (click)="goForward(stepper)">CONTINUE</button></div>
                            <div><button class="btn marTop10" (click)="goBack(stepper)">BACK</button></div>
                        </div>
                    </div>
                </div>

            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
            <form [formGroup]="thirdFormGroup">
                <div class="container contSt">
                    <div class="top">
                        <div class="top_top">
                            <label for="img">
                                <mat-icon (click) = "openFile()">cloud_upload</mat-icon>
                                <input type="file" accept=".pdf, .docx" formControlName="file"
                                    (change)="fileChange($event)" #fileInput/>
                            </label>
                            <h1>Upload Your Resume (.pdf,.docx,docs,doc) - optional</h1>
                        </div>
                        <div class="top_bottom">
                            <span>{{this.imagePath}}</span>
                        </div>
                    </div>
                    <div class="middle">
                        <div>
                            <h2>Enter up to 5 Desired Companies</h2>
                            <div class="signup_middle_content">
                                <div>
                                    <div class="example-form width100">
                                        <input autocomplete="off" formControlName="desiredCompanies" matInput [(ngModel)]="desiredCompanies"
                                            placeholder="abc, lmn etc*"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mar20">
                            <h2>Enter atleast 1 company that you can intro other members</h2>
                            <div class="signup_middle_content">
                                <div>
                                    <div class="example-form width100">
                                        <input autocomplete="off" formControlName="introduceYouToo" matInput [(ngModel)]="introduceYouToo"
                                            placeholder="xyz, ber etc*"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s12 m12 l12">
                            <i class="fa fa-industry" aria-hidden="true"></i>
                            <span class="resume-subtitle">Select Industries you have experience/interest in </span>
                            <div *ngFor="let item of industriesAre; let i = index">
                              <div class="row col s4 m4 l4 late-mobile">
                                <div class="actionDiv">
                                  <label class="CheckBoxcontainer">
                                    <input
                                      type="checkbox"
                                      name="IT"
                                      formControlName="item.name"
                                      (change)="handleIndustries($event, item._id)"
                                      [checked]="item.valueType"
                                    />
                                    <span class="checkmark"></span>
                                    <span class="industrieName">
                                      {{ item.name }}
                                    </span>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>

                    </div>
                    <div class="signup_footer">
                        <div>
                            <div><button class="btn" (click)="sendVerifyCode(stepper)">Verify</button></div>
                            <div><button class="btn marTop10" (click)="goBack(stepper)">BACK</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourFormGroup" [editable]="isEditable">
            <form [formGroup]="fourFormGroup">
                <div class="container contSt">
                    <div class="login_top" style="margin-top: 0px !important;">
                        <img class="marTop20" src="assets/img/navbar-logo.png" alt="no img" />
                    </div>
                    <div class="top">
                        <h2 style="text-align: center">
                            Please check Your Email for the verification link
                        </h2>
                    </div>
                    <!-- <div class="middle">
                        <div class="mar-5">
                            <h2>Enter your 6 Digit verification code here</h2>
                        </div>
                        <div>
                            <div class="example-form width100">
                                <input autocomplete="off" formControlName="verifyCode" matInput [(ngModel)]="verifyCode"
                                    placeholder="Verification code*" required />
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="footer">
                        <div>
                            <button class="btn" (click)="verifyCodeSubmit()">
                                Verify And Connect
                                <i class="fa" style="color: aliceblue;" [ngClass]="{'fa-spin fa-spinner': loading}"></i>
                            </button>
                        </div>
                    </div> -->
                    <div class="footer">
                        <div>
                            <button class="btn" (click)="checkVerification()">
                                Verify And Connect
                                <i class="fa" style="color: aliceblue;" [ngClass]="{'fa-spin fa-spinner': loading}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
</div>