<div id="login-page" class="mainWrapperLogin">
  <app-navbar></app-navbar>
  <div id="container-parent" style=" min-height:100vh;height:100%; padding-bottom:10vh;">
    <div class="container">
      <div class="row loginCardDiv" style="padding-top:10vh;">
        <div class="col s12 m6 l6 hide-on-small-only">
          <div [routerLink]="['/']" style="margin-bottom:30px;cursor: pointer;">
            <img src="assets/img/navbar-logo.png" />
          </div>

          <div style="font-size:18px;margin-bottom:30px;">
            An open platform for Rockstar Recruiters to prove they are the best.
            When great recruiters compete, Hiring Managers get the best
            candidates faster and Rockstar Recruiters develop and expand their
            brand and reputation.
          </div>
          <!-- <div style="font-size:18px;margin-bottom:30px;">HireSeat is a vast network of Employers and Recruiting
                    Agencies. Unlike other platforms, HireSeat guarantees quality candidates through the process of
                    bidding. Sign up today and explore limitless opportunities.</div>
                <div style="font-size:18px;margin-bottom:30px;">In case of any query regarding bidding rules, Please
                    read the underlying logic <a [routerLink]="['/rules']"
                        style="cursor: pointer; color:#114488;font-weight:600;">here</a>.</div> -->
          <div style="font-size:18px;margin-bottom:30px;">
            In case of any query or login related issue, please
            <a [routerLink]="['/contact-us']" style="cursor: pointer;color:#114488; font-weight:600;">contact us.</a>
          </div>
        </div>
        <div class="col s12 m6 l6 hide-on-med-and-up center-align">
          <div style="margin-bottom:30px;">
            <img src="assets/img/navbar-logo.png" />
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card row" style="padding:30px; margin-top:0px;">
            <form novalidate (ngSubmit)="formSubmit()" role="form" [formGroup]="login">
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <input type="email" class="form-control" name="email" formControlName="email" autocomplete="off"
                    (focus)="focusFunction($event)" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" />
                  <div *ngIf="login.controls['email'].hasError('required')" class="error">
                    Please Enter Email id
                  </div>
                  <div *ngIf="login.controls['email'].hasError('pattern')" class="error">
                    Please Enter valid email id
                  </div>
                  <div *ngIf="status == 'emailnotfound'" class="error">
                    Email not register.
                  </div>
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m12 l12">
                  <input type="password" class="form-control" name="password" formControlName="password"
                    (focus)="focusFunction($event)" minlength="5" autocomplete="off" />
                  <div *ngIf="login.controls['password'].hasError('required')" class="error">
                    Please Enter Password
                  </div>
                  <div *ngIf="status == 'wrongpass'" class="error">
                    password not match.
                  </div>
                  <label for="password">Password</label>
                </div>
              </div>
              <div class="row  center-align">
                <button type="submit" [disabled]="!suBtnActive" class="waves-effect waves-light  commonBlueBtn">
                  <span *ngIf="suBtnActive">Sign in</span>
                  <i *ngIf="!suBtnActive" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </button>
              </div>
              <div class="row center-align">
                <a style="cursor: pointer;" (click)="redirectToForgotPassword()">
                  Forgot Password?
                </a>
              </div>
            </form>
          </div>
          <div class="card row" style="padding:20px;">
            <div class="title center-align" style="margin-bottom:30px;">
              Create Account
            </div>
            <div class="role-section">
              <div class="rec-emp">

                <div style="display:inline-block; width:calc(50% - 15px); float:left; border-right: 1px solid #00000021"
                  class="center-align">
                  <h5>Employer</h5>
                  <p class="center-align">Are you looking to hire?</p>
                  <a class="btn-flat  transparentBtnN" (click)="createNewAccount('employer')" style="color:#114488;">
                    Sign up
                  </a>
                </div>
                <div style="display:inline-block; width:calc(50% - 15px);float:right;" class="center-align">
                  <h5>Recruiter</h5>
                  <p class="center-align">Are you a recruiting agency?</p>
                  <a class="btn-flat transparentBtnN" (click)="createNewAccount('recruiter')"
                    style="color:#114488;">Sign
                    up</a>
                </div>
              </div>
              <div class="candidate">
                <h5>Candidate</h5>
                <p class="center-align">Are you looking to connect with professional recruiters?
                </p>
                <a class="btn-flat transparentBtnN" (click)="createNewAccount('candidate')" style="color:#114488;">Sign
                  up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>