.vertical-divider {
  position: relative;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid black;
}

/* =================================== Media query Starts====================================== */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  /* new app code  */
  .container {
    display: none;
  }

  .hide {
    display: none;
  }
  .show_mobile_view{
    display: block !important;
  }
/* old app code  */
  .loginCardDiv .center-align {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* =================================== Media query Close====================================== */
.mainWrapperLogin {
  overflow-y: auto;
}

.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px #99999924;
}

.candidate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #33aaff !important;
  padding-bottom: 30px;
}

.CheckBoxcontainer {
  display: block;
  position: relative;
  padding: 12px 0px 0px 15px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: fill;
}

/* Hide the browser's default checkbox */
.CheckBoxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  margin: 16px 0px 0px -10px;
  background-color: #eee;
  border: 1px solid #2196f3;
}

/* On mouse-over, add a grey background color */
.CheckBoxcontainer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckBoxcontainer input:checked~.checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CheckBoxcontainer input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CheckBoxcontainer .checkmark:after {
  left: 6px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.industrieName {
  font-size: 12px;
}

/* new app code */

.welcome_back {
  color: #077FE0;
  font-size: 30px;
  font-weight: 700 !important;
  word-wrap: break-word;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  text-align: center;
  padding: 0px;
}

.txt {
  padding: 0px;
  text-align: center;
  color: #524B6B;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  /* line-height: 19.20px; */
  word-wrap: break-word
}

.email_label {
  color: #077FE0;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

.welcome_row {
  margin-bottom: 42px;
}

.inpt {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: 0px 4px 62px rgba(153.16, 170.95, 197.62, 0.18);
  border-radius: 10px;
  padding: 0px 4px;
  margin-top: 10px;
}

.top {
  margin-top: 25px;
}

.btn_align {
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;

}

.forgot_pssword {
  color: #0D0140;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  word-wrap: break-word;
  font-weight: bold;
  text-align: end;
}

.btn_signUp {
  --background: linear-gradient(237deg, #0184F7 0%, #01A3FD 100%);
  color: white;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  word-wrap: break-word;
}

.btn_google_signup {
  --background: #ECE8FF;
  color: #7C778E;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.84px;
  word-wrap: break-word
}

.no_account {
  color: #524B6B;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.signup_txt {
  color: #FF9228;
  font-size: 12px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word
}
.show_mobile_view{
  display:none;
}