.vertical-divider {
  position: relative;
  left: 50%;
  top: 10%;
  bottom: 10%;
  border-left: 1px solid black;
}

.title {
  font-size: 24px;
  color: #114488;
  font-weight: 400;
}
/* =================================== Media query Starts====================================== */
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .loginCardDiv .center-align {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* =================================== Media query Close====================================== */
.mainWrapperLogin {
  overflow-y: auto;
}
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px #99999924;
}

.rec-emp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.candidate {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #33aaff !important;
  padding-bottom: 30px;
}
.role-section {
  display: flex;
  flex-direction: column-reverse;
}

.CheckBoxcontainer {
  display: block;
  position: relative;
  padding: 10px 0px 0px 10px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: fill;
}

/* Hide the browser's default checkbox */
.CheckBoxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  margin: 16px 0px 0px -10px;
  background-color: #eee;
  border: 1px solid #2196f3;
}

/* On mouse-over, add a grey background color */
.CheckBoxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckBoxcontainer input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.CheckBoxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.CheckBoxcontainer .checkmark:after {
  left: 6px;
  top: 0px;
  width: 7px;
  height: 14px;
  border: solid white;
  border-width: 0 2px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.industrieName {
  font-size: 12px;
}