/* @import url("https://unpkg.com/bootstrap-css-only@4.4.1/css/bootstrap.min.css"); */

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
.add-event {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* .btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
} */
.ButtGroup {
  display: inline-flex;
}
.calenderHead {
  font-size: 23px;
  margin: 10px 0;
}
.CalendCommonBtn {
  background-color: #03a9f4;
  min-width: 66px;
  padding: 0 5px;
  font-size: 11px;
  /* border-radius: 0 !important; */
}
.CalendCommonBtn.OutLineBtn {
  border: 1px solid #999 !important;
  background-color: transparent !important;
  color: #6c757d !important;
  border-radius: 0 !important;
}
.CalendCommonBtn.OutLineBtn:hover {
  background-color: #6c757d !important;
  color: #ffffff !important;
}
.CalendCommonBtn:last-child{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.CalendCommonBtn:first-child{
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.CalendCommonBtn.monthBtn {
  border-radius: 0 !important;
}
.CalendCommonBtn:hover,
.CalendCommonBtn.active {
  background-color: #048dcb !important;
}

/* Edit Event css : STARTS*/
.EditEventMain {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px #99999982;
}
.add-event h4 {
  margin: 0;
  font-size: 25px;
}
.add-event h4 i {
  font-size: 21px;
  margin-left: 10px;
  color: #898989;
}
.EditEventMain .table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
.EditEventMain .table {
  border-collapse: collapse;
}
.EditEventMain .table-bordered,
.EditEventMain .table-bordered td,
.EditEventMain .table-bordered th {
  border: 1px solid #dee2e6;
}
.EditEventMain .table-bordered td,
.EditEventMain .table-bordered th {
  /* padding: 15px; */
  padding: 8px;
}
.EditEventMain .table-bordered td input.form-control {
  border-bottom: none;
  margin: 0;
  height: unset;
  width: unset;
}

/* modal */
.forumMsgPopup p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #101010;

}
.forumMsgPopup.forumPopMain {
  max-width: 600px;
  position: fixed;
  z-index: 999 !important;

}
.videoModalMain a.videoCloseBtn {
  position: absolute;
  top: -30px;
  color: #fff !important;
  z-index: 99999999;
  right: 0;
  font-size: 20px !important;
  cursor: pointer;
}
.videoModalMain.forumPopMain.addQuetionPopup {
  max-width: 650px;
  background-color: transparent;
  padding-top: 0;
}
.confirm {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.spacing {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0 0 0;
}
