<ng-container *ngIf="requestedFriendAre.length">
    <div class="ListResume" style="margin-bottom: 0px !important;">
        <label for="" class="labelStyle">Connection Requests : </label>
        <div class="singleList employerResume animatePart newCss" *ngFor="let requestedFriendIs of requestedFriendAre">
            <div class="pro">
                <div class="pro-3">

                    <div class="pro-1">
                        <div class="docSectionBtns lates-s">
                            <div class="candidate-name">
                                <div class="CandidateDetails">
                                    <div class="user-details">

                                        <div class="row" style="margin: auto;">
                                            <div class="col s3 m3 l3" style="width: auto;">
                                                <div *ngIf="!requestedFriendIs.requester.showCreatedLogo"
                                                    class="big-badge big-badge-wid">
                                                    <img src="{{ requestedFriendIs.requester.profileimage }}"
                                                        (error)="changeLogo(requestedFriendIs.requester)"
                                                        class="iconStyle" style="max-width: 100%" />
                                                </div>
                                                <div *ngIf="requestedFriendIs.requester.showCreatedLogo"
                                                    class="big-badge big-badge-wid">
                                                    {{ requestedFriendIs.requester.fullName | uppercase | slice: 0 : 1
                                                    }}
                                                </div>

                                                <div class="smallBtns">
                                                    <button class="LinkedInBtnNew">
                                                        <a>
                                                            <div class="icon-name"
                                                                (click)="onLinkedIn(requestedFriendIs?.resumeId?.linkedIn)">
                                                                <span class="colorWhiteClass">LinkedIn</span>
                                                            </div>
                                                        </a>
                                                    </button>
                                                </div>

                                            </div>

                                            <div class="col s9 m9 l9 marTop wrdWrap">
                                                <span>
                                                    {{ requestedFriendIs.requester.fullName }}
                                                </span>
                                            </div>
                                        </div>

                                        <div class="row marginAuto marOther">
                                            <div class="styDiv1">
                                                <label class="lblSty"># of Introductions : </label>
                                                <label style="font-size: 12px; color: white;">
                                                    {{ getIntroduceCount(requestedFriendIs, 'resumeId') }}
                                                </label>
                                            </div>
                                        </div>

                                        <div class="other-details">
                                            <p *ngIf="requestedFriendIs?.resumeId?.introduceYouToo">
                                                <label>I can Intro you to Companies/Teams at :</label>
                                                <label style="font-size: 14px; color: #cc530c;">
                                                    {{ requestedFriendIs?.resumeId?.introduceYouToo}}
                                                </label>
                                            </p>
                                            <p *ngIf="requestedFriendIs?.resumeId?.jobTitle"><label>Job Title :</label>
                                                {{ requestedFriendIs?.resumeId?.jobTitle }}</p>
                                            <p *ngIf="requestedFriendIs?.resumeId?.location"><label>Location :</label>
                                                {{ requestedFriendIs?.resumeId?.location }}</p>
                                            <p *ngIf="requestedFriendIs?.resumeId?.desiredRoles">
                                                <label>Desired Roles :</label>
                                                {{ requestedFriendIs?.resumeId?.desiredRoles }}
                                            </p>
                                            <p *ngIf="requestedFriendIs?.resumeId?.desiredCompanies">
                                                <label>Desired Companies :</label>
                                                {{ requestedFriendIs?.resumeId?.desiredCompanies }}
                                            </p>
                                            <p *ngIf="requestedFriendIs?.resumeId?.introduceCount">
                                                <label># of Introductions : </label>
                                                <label style="font-size: 14px; color: #cc530c;">
                                                    {{ requestedFriendIs?.resumeId?.introduceCount }}
                                                </label>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="pro-share marTop">
                    <div class="">
                        <button class="acceptBtn" (click)="acceptClick(requestedFriendIs)">
                            <a>
                                <div class="icon-name">
                                    <i class="fa fa-check btn-icon" aria-hidden="true"></i>
                                    <span class="btnText"> Accept </span>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>

                <div class="pro-share marTop">
                    <div class="">
                        <button class="acceptBtn cancelBtn" (click)="cancelClick(requestedFriendIs._id)">
                            <a>
                                <div class="icon-name">
                                    <i class="fa fa-times btn-icon"
                                        style="margin: auto !important; float: none !important;" aria-hidden="true"></i>
                                    <span class="btnText"> Cancel </span>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-container>