<div class="">
    <div class="bestRecruitment">
        <img src="assets/img/firstSec.png" class="sectionBGimg" />
        <div class="bestRecruitmentText" style="margin: 20px;">
            <h3 class="ThinTextHeading">
                Hireseat
            </h3>
            <p class="BoldText">
                Make your case Directly to Professional Recruiters from <br>
                the Leading Companies in the World and <br>
                Avoid Automated Screenings.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid bg" style="background-color: #3ea9f5; color: white;">
    <div class="container">
        <div class="">
            <div class="col-md-12 icon">
              <img src="assets/img/Picture1.png">
              <!-- <i class="fas fa-search fontStyle"></i> -->
              <h4><a href="#">I applied to over a 100 positions…why don’t I get calls back?</a></h4>
                <p>
                    Recruiters spend on an average of about 6 seconds on each resume. You are asking a complete stranger to read a 2 page resume and assess your value in 6 seconds.
                    and that’s only if your resume is not screened out by an algorithm or AI that looks for key words. Hitting the “Easy apply” button a 100 times likely sends 100 copies of your resume to straight to the recycle bin.
                </p>
                <p>
                    If your resume is not seen by the hiring manager, you cannot make your case, explain your circumstances, or tell your story
                </p>

            </div>
            <div class="col-md-12 icon">
                <img src="assets/img/Picture2.png">
                <h4><a href="#">How can I tell my story?</a></h4>
                <p>
                    Resumes are only records of your past employment history. Only you know and can highlight the value you bring to the table.
                </p>
                <p>
                    Create a profile that quickly highlights 3 reasons why a hiring manager should hire you. We have an algorithm that can help you highlight your skills, experience and industry knowledge
                </p>
                <p>
                    Once you know your value proposition, you need to get in front of the hiring manager
                </p>
              </div>
              <div class="col-md-12 icon">
                <img src="assets/img/Picture3.png">
                <h4><a href="#">How can I reach the hiring manager?</a></h4>
                <p>
                    Bypass automated screening algorithms by building real relationships at the companies your interested in.
                </p>
                <p>
                    Unlike cold messages, you can build real relationships and get introductions to hiring managers by offering introductions to the fellow members of our network. As you introduce members to your network, they will introduce you to their network. What goes around comes around
                </p>
                <p>
                    It’s not what you know, its not who you know, its who knows you
                </p>
              </div>

              <!-- <div class="col-md-12 tour">
                <a href="#">tour a kitchen</a>
                <h6>our advantage</h6>
                <h2>How we compare <br>
                    to traditional  <br>
                    restaurants
                </h2>
              </div> -->
              
        </div>
    </div>
</div>

<app-footer></app-footer>
<app-navbar></app-navbar>

<div class="row versionClass">
    <a>Current Version available on store : </a>
    <span style="color: #039be5;">
        {{currVersion}} .
        <a style="border-bottom: 1px solid blue;" (click)="iosPlayStore()" *ngIf  = "currIosAppVersion !== currVersion">Upgrade</a>
    </span>
</div>
<div class="row versionClass" style="margin-bottom: 30px !important; padding: 20px !important;">
    <span style="color: #039be5;">
        Hireseat
    </span>
</div>

<div class="row" style="margin-bottom: 100px !important;">
    @
</div>