<div class="tabsAre">
    <ul class="tabs">
        <li class="tablink" id="switch0" [ngClass]="itemsIs == 0 ? 'tablinkActive' : false" (click)="switchPage(0)">
            Companies
        </li>
        <li class="tablink" id="switch1" [ngClass]="itemsIs == 1 ? 'tablinkActive' : false" (click)="switchPage(1)">
            Industries
        </li>
        <li class="tablink" id="switch2" [ngClass]="itemsIs == 2 ? 'tablinkActive' : false" (click)="switchPage(2)">
            Desire Roles
        </li>
    </ul>
</div>

<ng-container *ngIf="showLoader">
    <div class="loader-container marTop50">
        <div class="loader"></div>
    </div>
</ng-container>

<ng-container *ngIf="jobs">
    <app-intros-tab
        [(eachEntry)]="eachEntry1"
        [(tabName)]="companiesTab"
        [(searchLabel)]="seachCompanyLable"
        [(pageSize)]="pageSize"
        [(pageLength)]="pageLength"
        [(pageIndex)]="pageIndex"
        (pageEM)='getIntrosCompanies($event)'
        (companySearchEM)='searchIntrosCompanies($event)'
    >
    </app-intros-tab>
</ng-container>

<ng-container *ngIf="industries">
    <app-intros-tab
        [(eachEntry)]="eachEntry2"
        [(tabName)]="industriesTab"
        [(searchLabel)]="seachIndustryLable"
        [(pageSize)]="pageSize"
        [(pageLength)]="pageLength"
        [(pageIndex)]="pageIndex"
        (pageEM)='getIntrosIndustries($event)'
        (industriesSearchEM)='searchIntrosIndustries($event)'
    >
    </app-intros-tab>
</ng-container>

<ng-container *ngIf="desireRoles">
    <app-intros-tab
        [(eachEntry)]="eachEntry3"
        [(tabName)]="desireRolesTab"
        [(searchLabel)]="seachDesireRoleLable"
        [(pageSize)]="pageSize"
        [(pageLength)]="pageLength"
        [(pageIndex)]="pageIndex"
        (pageEM)='getIntrosDesireRoles($event)'
        (desireRoleSearchEM)='searchIntrosDesireRoles($event)'
    >
    </app-intros-tab>
</ng-container>