/* @import "../../../node_modules/angular-calendar/css/angular-calendar.css"; */
/* @import "../../../node_modules/flatpickr/dist/flatpickr.css"; */

/* @import "../../../node_modules/@danielmoncada/angular-datetime-picker/assets/style/picker.min.css"; */

html {
  font-family: "gilroymedium";
}

.btn,
.btn-large {
  background-color: #03a9f4;
}

.btn:hover,
.btn-large:hover {
  background-color: #03a9f4;
}

.collection .collection-item.active {
  background-color: #03a9f4;
  color: #ffffff !important;
}

.picker__date-display {
  background-color: #66baff;
}

.picker__weekday-display {
  background-color: #03a9f4;
}

.picker__day--selected {
  background-color: #03a9f4;
}

.picker__day--selected,
.picker__day--selected:hover,
.picker--focused .picker__day--selected {
  background-color: #03a9f4;
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  background: #bcdeff;
}

.fa {
  color: #33aaff;
}
.divider {
  width: 100% !important;
}
.materialize-textarea {
  padding: 0 !important;
}
.boxDiv .article {
  height: 130px;
  width: auto;
  overflow: hidden;
}
.flexWrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.flexWrap .input-field.marT35 {
  margin-top: 10px;
}
.flexWrap .input-field {
  padding: 0 10px !important;
}
.shareIconDiv {
  min-width: 85px;
}
.writeAns .askQuestion div.completer-holder input {
  background-color: #f0f0f0 !important;
  border: none !important;
  border-radius: 10px !important;
  /* padding: 5px 10px !important; */
  padding-left: 10px !important;
  box-sizing: border-box;
  margin-bottom: 10px;
  /* min-height: 70px !important; */
}
.writeAns .askQuestion div.completer-holder input:focus {
  box-shadow: 0 0px 5px #c3c3c3 !important;
  border: 1px solid #d9d9d9 !important;
}
.writeAns .askQuestion div.completer-holder input::placeholder {
  color: #787878;
}
.quetion h5 span.highlightdiv b {
  background-color: yellow !important;
}
.ngx-text-highlight {
  background: yellow;
}
ul.resumeList li {
  margin-bottom: 20px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  margin-right: 20px;
}
.btn:focus,
.btn-large:focus,
.btn-floating:focus {
  background-color: #0094dc !important;
}
/*==================================== responsive css start  =================================*/
/*================================ i-pad responsive css start  ===============================*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  .hentry .title {
    padding: 0px 0px 25px 0px !important;
  }
  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    padding-left: 30px !important;
    margin-right: 20px;
  }
  .rating {
    margin: 0px 0px 0px 0px !important;
  }
  .bid-event-item img {
    padding: 5px !important;
  }
  .feedbackDiv .PointsDivSingle {
    /* display: unset !important; */
    margin: 5px 0 !important;
    justify-content: unset !important;
  }
  .feedbackDiv .PointsDivSingle h4 {
    min-width: 180px !important;
  }
  .commonSingleInner {
    width: 25%;
    float: left;
  }
  .docSection {
    width: 25%;
    float: left;
  }
  .feedbackDiv.commonSingleInner {
    width: 50% !important;
  }
  .ActionDiv.commonSingleInner {
    width: 50% !important;
    float: left;
    padding-right: 20px;
    margin-top: 30px;
  }
  .resumeSingleList .approveBtnDiv {
    width: 50% !important;
    float: left;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-top: 60px;
  }
  .startDiv {
    margin: 0 10px 15px !important;
  }
  .approveBtnDiv .btn.commonBtn {
    min-width: 150px;
    margin: 0 !important;
  }
  .singleList {
    position: relative !important;
    height: auto !important;
    width: 100%;
    float: left;
    display: unset !important;
    justify-content: unset !important;
    align-items: unset !important;
  }
  .feedBackwidth {
    width: 100%;
    float: left;
  }
  /* .singleList a{
    position: absolute !important;
    bottom: 15px !important;
    right: 20px !important;
} */
  .footerSection {
    padding: 20px 20px !important;
  }
  /* .hide-on-small-only, .hide-on-small-and-down { */
  /* display: block !important; */
  /* } */
  /* home page responsive */
  .bestRecruitmentText {
    top: 50%;
    left: 50%;
    width: 60%;
  }
  .SecHeading {
    font-size: 35px;
  }
  .ProveLeft {
    padding: 0 0px 0 20px;
    margin: -1px 0 0 0;
  }
  .ProveLeft .width50,
  .seatBack .width50 {
    width: 100%;
  }
  .seatBack {
    padding: 0 0px 0 20px;
    margin: -3px 0 0 0;
  }
  .secHeadingDiv {
    height: 90px;
  }
  .inputInnerDiv {
    padding-right: 20px;
  }
  .inputDivMainN {
    z-index: 99 !important;
  }
  #sidenav-overlay {
    z-index: 99999 !important;
  }
  .side-nav {
    z-index: 999999 !important;
  }
  .cadidateDetails p {
    padding-left: 0 !important;
  }
  .cadidateDetails h6:after {
    content: unset !important;
  }
  .resumeBankTable ul {
    min-width: 700px !important;
    max-width: 700px !important;
  }
  .resumeBankTable {
    overflow-x: scroll;
    width: 100% !important;
  }
  .collection-item.active:after,
  .collection-item.active:before {
    content: unset !important;
  }
  ul.resumeList {
    width: 100%;
    float: left;
    /* display: flex; */
  }
  .resumeList .floatUns {
    float: unset;
  }
  .resume-item {
    position: relative;
    height: 100%;
  }
  ul.resumeList li {
    margin-bottom: 20px;
  }
}
.for-mobile {
  display: none;
}
/*================================ i-pad responsive css end  ===============================*/
/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .stickyBtn {
    margin-bottom: 12%;
  }
  .footerSection { margin-bottom: 14%;} 
  .pagination-previous {
    margin-bottom: 40px;
  }
  .button-collapse {
    display: none;
  }
  .cadidateDetails p {
    padding-left: 5px !important;
  }
  .main-container {
    margin-bottom: 60px;
  }
  .card {
    margin-bottom: 60px !important;
  }
  .cadidateDetails h6:after {
    /* content: unset !important; */
  }
  .rating > label {
    padding-left: 22px !important;
  }
  .homeLogoMAin {
    height: 200px !important;
  }
  .modal.modal-fixed-footer .modal-content {
    height: calc(100vh - 235px) !important;
  }
  .commonDivJobProfile label {
    font-size: 15px !important;
  }
  .title {
    font-size: 22px !important;
    color: #48aef3;
  }
  .actionDIv h4 {
    font-size: 17px !important;
  }
  .resume-item {
    position: relative;
    height: 100%;
    margin-bottom: 20px;
  }
  .singleDIv {
    display: unset !important;
    justify-content: unset !important;
    align-items: unset !important;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    border-radius: 10px;
  }
  .modal-footer {
    position: absolute !important;
    left: 0;
  }
  .leftCondition {
    width: 270px !important;
  }
  .number {
    margin: 0px auto !important;
    float: none !important;
  }
  .userName {
    max-width: 100% !important;
    width: 100% !important;
  }
  .ProgressBarMain {
    margin: 10px 0 !important;
    width: 100% !important;
  }
  .resumeList .floatUns {
    float: unset !important;
  }
  .countProgress {
    width: 100% !important;
  }
  .countProgress h4 {
    margin: 0px 0px 10px !important;
  }
  .list:after {
    content: "";
    display: none !important;
  }
  .hentry {
    margin-bottom: 0 !important;
    width: 100% !important;
  }
  .hentry:nth-of-type(odd) {
    margin-right: 0 !important;
  }
  .hentry:nth-of-type(even) {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }
  .hentry .title {
    padding: 30px 0 0 !important;
    font-size: 18px !important;
    margin: 0 0 10px !important;
  }
  .bid-event-item img {
    padding: 0px !important;
  }
  .bid-event-item .chip img {
    padding: 6px !important;
    /* margin: 2px 0 0 6px!important; */
    /* margin: 0px !important; */
  }
  .chip {
    /* margin-right: 0!important; */
    display: flex !important;
  }
  .reward {
    justify-content: unset !important;
  }

  .jobManegement {
    padding: 15px 10px !important;
  }
  .HeadBtnDiv h4 {
    margin: 0 !important;
  }
  .secHead {
    margin: 15px 0 0px !important;
    font-size: 25px !important;
    text-align: center !important;
  }
  .bx-pager {
    width: 100% !important;
  }
  .blueSection.fullwidth {
    text-align: center !important;
  }
  .logoHome {
    position: unset !important;
    height: 90px !important;
  }
  .salPerYear {
    width: 100% !important;
    float: left !important;
    margin-bottom: 30px !important;
  }
  .reward {
    font-size: 18px !important;
    margin: 0px 0 10px !important;
  }
  .tab-content {
    padding: 0 10px !important;
  }
  .row .col {
    /* padding: 0 0rem !important; */
  }
  .brand-logo img {
    display: none;
    width: 80%;
  }
  /* bidding-event-list */
  .feedbackDiv .PointsDivSingle h4 {
    min-width: 180px !important;
    margin-left: 0 !important;
    font-size: 17px !important;
  }
  .job-title {
    font-size: 16px !important;
  }
  .chip {
    font-size: 12px !important;
    margin-bottom: 15px !important;
    width: 48%;
    padding: 0 !important;
  }
  .eventListWon li {
    padding: 10px !important;
  }
  .resumeList {
    padding: 15px !important;
    width: 100% !important;
    float: left !important;
  }
  .sub-info img {
    width: 20% !important;
  }
  .resumeListPop {
    padding: 50px 15px !important;
  }
  .rewarDiv {
    text-align: center !important;
  }
  .rewarDiv label {
    width: 100% !important;
    float: left !important;
  }
  .bidDiv {
    padding: 5px 5px !important;
  }
  .whiteBtn {
    padding: 0 10px !important;
  }
  .startDiv {
    min-width: 115px !important;
  }
  .rating {
    margin: 0px 0px 0px 0px !important;
  }
  .feedbackDiv .PointsDivSingle {
    margin: 0px 0 !important;
    justify-content: flex-start !important;
  }
  .docDiv {
    border-right: none !important;
  }
  .singleList {
    padding: 15px !important;
    width: 100% !important;
    float: left !important;
    display: unset !important;
    height: auto !important;
  }
  .commonSingleInner {
    width: 50% !important;
    float: left;
    border: none !important;
  }
  .feedbackDiv.commonSingleInner {
    width: 100% !important;
    margin: 20px 0;
  }
  .approveBtnDiv .commonBtn {
    min-width: 150px !important;
  }
  .approveBtnDiv .btn.commonBtn {
    margin: 0 !important;
  }
  .ActionDiv.commonSingleInner {
    width: 100% !important;
    margin-top: 20px !important;
  }
  .docSection {
    width: 50% !important;
    float: left;
    /* margin: 25px 0px !important; */
  }

  .resumeSingleList .approveBtnDiv {
    width: 100% !important;
    float: left;
    display: flex !important;
    justify-content: space-between !important;
    margin: 20px 0;
  }

  .modal-content .ListResume {
    overflow-x: scroll !important;
    height: 24vh !important;
    width: 100% !important;
    float: left !important;
  }
  .modal {
    width: 95% !important;
  }
  .modal-content .singleList {
    box-shadow: none !important;
    margin-bottom: 0px !important;
  }
  /* ul.hide-on-small-only, ul.hide-on-small-and-down { */
  /* display: block !important; */
  /* } */

  /* Resume Bank Css start*/

  .resumeBankTable {
    max-width: 560px;
    overflow-x: scroll;
    width: 100%;
  }

  .resumeBankTable li {
    /* width: 500px; */
    width: 760px;
    float: left;
  }
  .commonDiv {
    padding: 5px 10px !important;
    font-size: 13px !important;
    width: 20% !important;
  }
  .parentCommonDF .commonDiv button {
    background-color: #33aaff;
    font-size: 13px;
    padding: 0 10px;
    height: 30px;
    line-height: unset;
  }

  .parentCommonDF {
    /* display: flex!important; */
    /* align-items: center!important;  */
    justify-content: initial !important;
    width: 100% !important;
    float: left !important;
  }
  .BtnDivBuilding {
    /* width: 35%!important; */
    width: 100% !important;
    display: flex !important;
    justify-content: space-between;
    padding-top: 30px;
  }
  .center-align {
    float: right;
    padding-top: 5px;
    /* padding-right: 24px; */
    margin-right: 0 !important;
    display: flex;
  }
  i.right {
    margin-left: 0 !important;
  }
  .center-align button {
    padding: 0 18px;
    height: 30px;
  }

  /* Resume Bank Css ends*/

  /* Resume Repository CSS StARTS */
  .right-align {
    text-align: center !important;
  }
  .collection {
    padding: 14px 0;
  }
  /* Resume Repository CSS ENDS */
  .bid-event-item {
    /* padding-bottom: 50px !important; */
  }

  .borderBott.borderBottN tag-input-form {
    width: 100% !important;
  }
  /* selectedCandidate Css starts*/
  .selectedCandidate {
    min-width: 160px;
  }
  .signIn {
    line-height: 0 !important;
  }
  /* selectedCandidate Css ends*/
  .side-nav {
    z-index: 9999999 !important;
  }
  .slide-heading {
    font-size: 20px !important;
  }
  .modalBodyPop {
    padding: 0 5px !important;
    margin-bottom: 10px !important;
    overflow-y: scroll;
    max-height: 60vh;
  }
  .modalBodyPop h5 {
    font-size: 16px !important;
  }
  .queHeadtext h4 {
    font-size: 16px !important;
  }
  .queHeadtext {
    margin: 0 !important;
  }
  .verifyDivInner button {
    min-width: 60px !important;
  }

  /*  footer */
  .recruterInner h5 {
    font-size: 16px !important;
    width: 60% !important;
  }
  .lineSide h5:before {
    width: 50px !important;
    right: -60px !important;
  }
  .lineSide h5:after {
    width: 50px !important;
    left: -60px !important;
  }
  .recruterInner .SecHeading {
    font-size: 25px !important;
  }
  .recruterInner p {
    font-size: 20px !important;
  }
  .date {
    min-width: 140px !important;
  }
  .Time h4 {
    font-size: 20px !important;
  }
  .Time p {
    font-size: 15px !important;
  }
  .date h3 {
    font-size: 50px !important;
  }
  .footerSection {
    padding: 10px 20px !important;
  }
  .LinksDiv {
    padding: 0px 20px !important;
  }
  .paddLR30 {
    padding: 0 30px;
  }
  .padd20 {
    padding: 20px;
  }
  .inputPlaceColor {
    padding: 20px 30px;
  }
  .commonEditResumeParent {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 0px !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
  }
  .commonEditResumeParent .commonEditResumeInner {
    width: 100% !important;
    height: auto !important;
  }
  /* .bx-pager-item .arrow span {
    top: -15px;
    right: 1px;
}
.bx-pager {
    overflow-x: auto !important; 
    overflow-y: hidden !important;
} */
  .collection-item.active:after,
  .collection-item.active:before {
    content: none !important;
  }
  .inputInnerDiv {
    padding-right: 20px;
    width: calc(100% - 70px) !important;
  }
  .wid150 {
    min-width: 70px !important;
  }
  .questionDivText h4 {
    font-size: 18px !important;
  }
  .countDiv {
    right: 0 !important;
    left: unset !important;
    box-shadow: -2px 2px 7px #8d8d8dad;
  }
  /* new css for tab menu start*/
  .hideInMobile {
    display: none;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: flex;
    overflow-x: scroll !important;
    padding: 0;
  }
  /* new css for tab menu end*/
}
/*================================= mobile responsive css end  =================================*/
/*===================================  responsive css end  ====================================*/
nav ul a {
  font-weight: bold;
}
.blogDeatialPage h1 {
  font-size: 55px !important;
  margin: 10px 0px !important;
}
.blogDeatialPage .NewBgDIv h2 {
  font-size: 45px !important;
  margin: 10px 0px !important;
}
.blogDeatialPage h3 {
  font-size: 35px !important;
  margin: 10px 0px;
}
.blogDeatialPage h4 {
  font-size: 25px !important;
  margin: 10px 0px !important;
}
.blogDeatialPage h5 {
  font-size: 20px !important;
  margin: 10px 0px !important;
}
.blogDeatialPage h6 {
  font-size: 15px !important;
  margin: 10px 0px !important;
}
.blogDeatialPage p {
  margin: 0 0 !important;
}

/* new css */
.recruterMain {
  background: url("../img/recruterBg.png"), #535475;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.meetupsMain {
  background: url("../img/recruterBg.png"), #535475;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.headerDiv {
  background: url("../img/blogBg.png"), #535475;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0 !important;
}
.shadowCommon {
  background-color: #fff;
  box-shadow: 0 0 10px #99999924;
}
@font-face {
  font-family: "gilroybold";
  src: url("../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroymedium";
  src: url("../fonts/radomir_tinkov_-_gilroy-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroysemibold";
  src: url("../fonts/radomir_tinkov_-_gilroy-semibold-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "gilroymedium";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "gilroybold";
}
@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-extrabold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroyregular";
  src: url("../fonts/radomir_tinkov_-_gilroy-regular-webfont.woff2")
      format("woff2"),
    url("../fonts/radomir_tinkov_-_gilroy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.commonBlueBtn {
  background-color: #0aafff !important;
  width: auto !important;
  padding: 2px 20px !important;
  height: 40px;
  box-shadow: none;
  text-transform: capitalize;
  border-radius: 3px;
  line-height: 1;
  color: #fff;
  border: 1px solid #0aafff;
}
.btn {
  width: auto;
  height: 40px !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}
.text-center {
  text-align: center;
}

.transparentBtnN {
  height: 40px !important;
  border: 1px solid #0aafff !important;
  background-color: transparent !important;
  color: #0aafff !important;
  border-radius: 5px !important;
  font-family: "gilroybold" !important;
  font-size: 16px !important;
}
.commonBlueBtnN {
  background-color: #0aafff !important;
  border: 1px solid #0aafff !important;
  color: #fff !important;
  font-size: 16px !important;
  font-family: "gilroybold";
  height: 40px !important;
  border-radius: 5px !important;
  padding: 0 10px !important;
  min-width: 120px;
}
a.transparentBtnN.waves-effect.waves-light {
  min-width: 120px;
  line-height: 2.2;
  margin: 0 10px;
}
/* .bx-pager-item span{
        width: 40px;
        height: 40px;
        background-color: #a5d9fe;
        display: flex;
        position: absolute;
        top: 0px;
        right: -30px;
        align-items: center;
        font-size: 15px;
        justify-content: center;
        border-radius: 50%;
        font-weight: bold;
        color: #fff;
    }
    .bx-pager-item{
        position: relative;
    } */
.bx-pager-item .arrow span {
  position: absolute;
  transform: translateY(0px) rotate(44deg) skew(0deg, 0deg) translateX(0);
  top: -10px;
  right: 10px;
  z-index: 9;
  width: 30px;
  height: 20px;
  background-color: #3ea9f5;
  display: flex;
  color: #fff;
  max-height: 30px !important;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.bx-pager-item .arrow {
  position: relative;
}
/* .bx-pager {
        overflow: visible !important;
    } */
html {
  background-color: #f5f5f5;
}
.collection {
  position: relative;
  border: none;
  background-color: #fff !important;
  box-shadow: 0 0 10px #99999924 !important;
}
.hide-on-med-and-down li .borderBA {
  color: #0aafff !important;
  position: relative;
}
.hide-on-med-and-down li .borderBA:after {
  content: "";
  background-color: #0aafff;
  position: absolute;
  left: 30px;
  width: calc(100% - 60px);
  bottom: 12px;
  height: 2px;
}
.flexWrap {
  align-items: unset;
}
.singleList {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 30px;
  transition: 1s;
  height: 210px;
  background-color: #ffffff;
}
.singleListClick {
  height: 0px;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.borderBott.borderBottN .ng2-tag-input .ng2-tags-container tag-input-form {
  width: 100% !important;
}
.borderBott.borderBottN
  .ng2-tag-input
  .ng2-tags-container
  tag-input-form
  form
  input {
  margin-bottom: 0;
}
.borderBott.borderBottN.skillBorBott
  .ng2-tag-input
  .ng2-tags-container
  tag-input-form
  form
  input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17) !important;
}
ng2-dropdown-menu.dropdown {
  position: relative !important;
  z-index: 9999 !important;
}

/* new css */
.radioGroup [type="radio"]:not(:checked),
.radioGroup [type="radio"]:checked {
  position: absolute;
  opacity: 0;
  top: 18px;
  pointer-events: fill;
  /* margin-left: 17px; */
}
.radioGroup {
  float: left;
  height: 50px;
}
.searchDiv {
  width: 100%;
  float: left;
  position: relative;
}
.searchDiv ng2-completer {
  width: 100%;
}
.searchDiv ng2-completer .completer-holder input {
  border: 1px solid #ddd;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin-bottom: 0;
}
.searchDiv .fa {
  position: absolute;
  top: 10px;
  font-size: 25px;
  right: 20px;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.searchDiv input[type="text"] {
  border: 1px solid #0aafff !important;
  border-radius: 25px !important;
  padding: 0 60px 0 25px !important;
  box-sizing: border-box !important;
  color: #0aafff;
  margin: 0 !important;
}
.searchDiv [type="radio"]:checked + label:after,
.searchDiv [type="radio"].with-gap:checked + label:after {
  background-color: #0aafff;
}
.searchDiv [type="radio"]:checked + label:after,
.searchDiv [type="radio"].with-gap:checked + label:before,
.searchDiv [type="radio"].with-gap:checked + label:after {
  border: 2px solid #0aafff;
}
.recruiterListMain h3 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #0aafff;
  padding-bottom: 10px;
  color: #0aafff;
}
.starDiv .fa {
  color: #ffc107;
  margin: 0 5px;
  font-size: 16px;
}
.recruitrList h4 {
  font-size: 18px;
  margin: 0;
  color: #0aafff;
  width: 60%;
}
.recruitrList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0aafff1a;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.actionDiv .fa {
  margin: 0 0px 0 5px;
  font-size: 23px;
}
.actionDiv .fa-plus-circle {
  color: #4caf50;
}
.actionDiv .fa-minus-circle {
  color: #f44336;
}
.recruiterListDiv {
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  /* background-color: #f5f5f5f7; */
}
.recruiterListMain {
  width: 100%;
  float: left;
}
.searchDivParent {
  width: 100%;
  float: left;
  position: relative;
}
.recriterSearchDiv {
  position: absolute;
  width: 100%;
  top: 50px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 10px #ddd;
  max-height: 200px;
  overflow-x: auto;
}
.recriterSearchDiv .recruitrList {
  /* background-color: #0aafff1a; */
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}
.recriterSearchDiv .recruitrList:hover {
  background-color: #0aafff1a;
}
/* mat video */
/* .video-interview .videoplayer {
  background-color: #212121 !important;
} */
.video-interview .progress {
  background-color: transparent !important;
  height: 34px !important;
  margin-bottom: 0px !important;
}
.video-interview .mat-icon-button {
  background-color: transparent;
}
.video-interview .mat-icon {
  color: #b8b8b8;
}
.video-interview .mat-icon-button {
  margin-right: 10px;
}
.video-interview .mat-slider-track-fill,
.video-interview .mat-slider-thumb {
  background-color: #33aaff;
}
.video-interview .mat-slider-progress-background {
  left: 0;
}
/*end mat video */

/* video js */

/* end of video js */

/*Common Custom scrollbar css :STRATS */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33aaff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #33aaff;
}
/*Common Custom scrollbar css :ENDS */

/* video js skin */

/* end video js skinn */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* global buttons */

.btn-accept {
  width: auto;
  font-weight: 500;
  height: 40px;
  border-radius: none;
  background-color: #48aef3;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition: all ease 0.3s;
  padding: 20px 20px;
}
/* p {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.btn-accept:active {
  box-shadow: 0 1px 2px #666;
  transform: translateY(2px);
}

.btn-reject {
  width: auto;
  font-weight: 500;
  height: 40px;
  border-radius: none;
  /* background-color: #e63d3d; */
  background-color: #adadad;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  outline: none;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  transition: all ease 0.3s;
  padding: 20px 20px;
}
/* p {
  max-width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.btn-reject:active {
  box-shadow: 0 1px 2px #666;
  transform: translateY(2px);
}

/* flatpicker */
.flatpickr-current-month .flatpickr-monthDropdown-months {
  display: inline-block !important;
}
.numInputWrapper:hover {
  background: #fff !important;
}
/* dropdown */
.nsdicon-close {
  display: none !important;
}
.dateTd .form-control.InnerInput {
  margin: 0 !important;
}
.cal-event-actions {
  margin-left: 10px;
}
.cal-event-actions .cal-event-action i {
  font-size: 13px;
  margin: 0 3px;
}
.cal-event-actions .cal-event-action i.fa-pencil-alt {
  color: #c4c4c4;
}
.cal-event-actions .cal-event-action i.fa-trash-alt {
  color: #ff8f8f;
}
.CalenderMain .cal-month-view .cal-event {
  width: 7px !important;
  height: 7px !important;
}
.collection a.collection-item {
  color: #48aef3 !important;
}
.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-calendar-table-divider {
  display: none !important ;
}
.requestpop .cdk-overlay-pane {
  z-index: 999999 !important;
}

.modal-overlay {
  z-index: 99 !important;
}
