<div id="addMember">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
    <div class="membersClass" *ngIf="groupChat">
        <form [formGroup]="addGroupMembers">
            <div class="member">
                <span>Add Members : </span>
                <div class="makeDiff">
                    <ng-container *ngFor="let member of updateGrpMembers">
                        <div class="chat-profile-item addUserUI" *ngIf="member._id !== loggedInUser._id">
                            <div class="disF">
                                <div *ngIf = "!member.showCreatedLogo">
                                    <img [src]="member.profileimage" (error)="getImage(member)" class="uploadedImgUser">
                                </div>
                                <div *ngIf = "member.showCreatedLogo" class="big-badge extrabig-badge-change">
                                    {{ member.fullName | uppercase | slice: 0 : 1 }}
                                </div>
                                <div class="chat-user-title"> {{ member.fullName }} </div>
                                <ng-container>
                                    <i class="fa fa-plus VIconE" [id]="'addNewGroup_' + member._id"
                                        style="margin-right: 15px;" aria-hidden="true"
                                        (click)="addNewGroupMember(member._id)"></i>
                                    <i class="fa fa-minus VIconE" [id]="'removeNewGroup_' + member._id"
                                        style="margin-right: 15px; display: none;" aria-hidden="true"
                                        (click)="removeNewGroupMember(member._id)"></i>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="form-group textRight">
                <button class="createAndAddMemberClass" (click)="addMoreGroupMembers()">Update</button>
            </div>
        </form>
    </div>
</div>