.collection .collection-item {
  border-bottom: none;
}
.collection a.collection-item {
  display: block;
  transition: 0.25s;
  color: #48aef3 !important;
}
.collection .collection-item.active {
  background-color: #48aef3;
  color: #fff !important;
}
.text-center {
  text-align: center;
}
.rewarDiv h4 {
  font-size: 13px;
  text-align: center;
  margin: 5px 0;
}
.borR {
  border-right: 1px solid #ddd;
}
.commonDivDF {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  min-height: 100px !important;
}
.marTB15 {
  margin: 15px 0;
}
.modal.modal-fixed-footer.custFooterModal {
  padding: 0;
  height: 100%;
  max-height: 350px;
}
img.greenArrowIcon {
  transform: rotate(180deg);
  width: 40px;
}
.mar0 {
  margin: 0px;
}
.redArrowIcon {
  width: 40px;
}
.popHead {
  text-align: center;
  font-size: 25px;
  color: #03a9f4;
  font-weight: bold;
}
.padd15 {
  padding: 15px;
}
.rewarDiv a {
  display: block;
}

.listDiv {
  position: absolute;
  width: 150px;
  left: 100%;
  top: 0;
  z-index: 9;
  border: 1px solid #ddd;
  display: none;
  background-color: #f8f8f8;
}
.listDiv ul {
  margin: 0 0;
}
.collection-item:hover .listDiv {
  display: block;
}
.collection-item {
  position: relative;
}
.overflowUnset {
  overflow: unset;
}
.listDiv li {
  padding: 2px 10px;
  cursor: pointer;
}
.listDiv li:hover {
  background-color: #ddd;
}
.collection {
  position: relative;
  background-color: #f4f4f499;
}

.collection-item.active {
  position: relative;
}
.collection-item.active:after,
.collection-item.active:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.collection-item.active:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #48aef3;
  border-width: 21px;
  margin-top: -21px;
}
/* .collection-item.active:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
} */
.pointAdded {
  position: relative;
}
.increaPoint {
  /* right: 0;
    position: absolute;
    top: 0;
    margin: 5px 0;
    font-size: 12px;
    color: #ff9100;
    font-weight: bold; */
  right: 0;
  position: absolute;
  top: 0;
  margin: 5px 0;
  font-size: 11px;
  color: #ffffff;
  background-color: #ff9100;
  border-radius: 10px;
  font-weight: bold;
  padding: 2px 5px;
}
.increaPoint i {
  color: #ffffff;
  font-size: 9px;
}
h4.pointAdded .increaPoint {
  margin: 0;
  font-size: 10px;
}
h4.pointAdded .increaPoint i {
  font-size: 8px;
}
.rewardImg {
  transition: 0.5s;
}
.rewardImg.animated {
  transform: scale(1.3);
}

.change-toRed {
  color: black;
  font-weight: 600;
}
.change {
  color: red;
  font-weight: 600;
}

.meni-1 {
  display: none;
}
.meni-1 ul li a:active {
  background: #0c3e68;
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .meni-1 {
    display: block;
  }
  .meni-1 ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .meni-1 ul li {
    float: left;
    padding: 5px 22px 5px 30px;
  }
  .meni-1 {
    position: fixed;
    background-color: #3fa9f5;
    z-index: 9999;
    width: 100%;
    bottom: 0;
  }
  .meni-1 a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .meni-1 {padding-left: 69px;}
  .meni-1 i {font-size: 32px;}
  .meni-1 ul li {padding: 14px 22px 20px 30px;}
}
@media (max-width: 570px) {
  .meni-1 {padding-left: 69px;}
  .meni-1 i {font-size: 32px;}
  .meni-1 ul li {padding: 14px 22px 20px 30px;}
}

@media (max-width: 480px) {
  .meni-1 {padding-left: 27px;}
}
@media (max-width: 460px) {
  .meni-1 {padding-left: 10px;}
}
@media (max-width: 420px) {
  .meni-1 {padding-left:0px;}
  .meni-1 ul li a {
    font-size: 12px;
  }
  .meni-1 ul li {padding: 14px 22px 20px 30px;}
}
@media (max-width: 428px) {

}
@media (max-width: 414px) {

  .meni-1 ul li a {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .meni-1 ul li {padding: 14px 22px 20px 21px;}
}
@media (max-width: 375px) {
  .meni-1 ul li {padding: 14px 22px 20px 19px;}
}
@media (max-width: 360px) {
  .meni-1 ul li {padding: 14px 19px 20px 19px;}
}
@media (max-width: 320px) {
  .meni-1 ul li {padding: 14px 15px 20px 15px;}
  .meni-1 ul li a {
    font-size: 12px;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
}
