<div class="" id="askOfferAndConnect">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
    <div class="email">
        <p>Would you like to offer an introduction to {{askAndConnectName}} to one of your connections ?
            {{askAndConnectName}} would like intros to {{askAndConnectDesiredCompanies}}. Members are more likely to accept
            connections when you offer intros. </p>
    </div>

    <div class="row form-group autoClass">
        <div class="">
            <button class="sendBtn" style="border: 1px solid red; background-color: red;"
                (click)="conenctWithIntro()">Connect with Intro</button>
        </div>
        <div class="">
            <button class="sendBtn" (click)="connect()">Connect</button>
        </div>
    </div>
</div>