<header>
  <div class="collection overflowUnset mobileScroll">
    <a
      class="collection-item"
      [ngClass]="{ active: tab.selected === true }"
      *ngFor="let tab of tabs1"
      (click)="SelectItem(tab.id)"
      [routerLink]="[tab.id]"
      >{{ tab.displayText }}</a
    >
  </div>
  <div class="meni-1">
    <ul *ngFor="let tab of tabs2">
      <li>
        <a (click)="SelectItem2(tab.id)" [routerLink]="[tab.id]">
          <!-- <i [ngClass]="tab.addedClass"></i><br />{{ tab.displayText }} -->
          <i [ngClass]="tab.addedClass"></i><br />
        </a>
      </li>
    </ul>
  </div>
</header>
