.collection .collection-item {
  position: relative;
}

.meni-1 {
  display: none;
}
.meni-1 ul li a:active {
  background: #0c3e68;
}
@media only screen and (min-width: 320px) and (max-width: 667px) {
  .meni-1 {
    display: block;
  }
  .meni-1 ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .meni-1 ul li {
    float: left;
    padding: 5px 22px 5px 30px;
  }
  .meni-1 {
    position: fixed;
    background-color: #3fa9f5;
    z-index: 9999;
    width: 100%;
    bottom: 0;
  }
  .meni-1 a {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
}
@media (max-width: 570px) {
  .meni-1 ul li {
    padding: 4px 25px;
  }
}
@media (max-width: 570px) {
  .meni-1 ul li {
    padding: 4px 23px;
  }
}
@media (max-width: 480px) {
  .meni-1 ul li {
    padding: 4px 15px;
  }
}
@media (max-width: 460px) {
  .meni-1 ul li {
    padding: 4px 17px;
  }
}
@media (max-width: 420px) {
  .meni-1 ul li {
    padding: 4px 12px;
  }
  .meni-1 ul li a {
    font-size: 12px;
  }
}
@media (max-width: 428px) {
  .meni-1 ul li {
    padding: 4px 13px;
  }
}
@media (max-width: 414px) {
  .meni-1 ul li {
    padding: 4px 11px;
  }
  .meni-1 ul li a {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .meni-1 ul li {
    padding: 4px 8px;
  }
}
@media (max-width: 375px) {
  .meni-1 ul li {
    padding: 4px 8px;
  }
}
@media (max-width: 360px) {
  .meni-1 ul li {
    padding: 4px 7px;
  }
}
@media (max-width: 320px) {
  .meni-1 ul li {
    padding: 4px 3px;
  }
  .meni-1 ul li a {
    font-size: 12px;
  }
  .mobileScroll a.collection-item {
    padding: 7px 10px !important;
    min-width: 105px;
    text-align: center;
    display: none !important;
    justify-content: center;
    align-items: center;
  }
  .mobileScroll {
    display: none !important;
    overflow-x: scroll !important;
    padding: 0;
  }
}
