<div class="center-align pageClass">
  <div class="row">
    <img src="assets/img/profile.png" style="margin-top:calc(6vh + 50px);" />
  </div>
</div>
<div class="center-align pageClass">
  <div class="row slide-heading"> <a [routerLink]="['/']">HIRE SEAT </a></div>
</div>
<div class="center-align pageClass">
  <div class="row slide-sub-heading" *ngIf="isExpired"> The link has been Used or Invalid Link </div>
</div>
<div class="center-align pageClass">
  <div class="row slide-sub-heading" *ngIf="isSuccess"> Email Verified Successfully</div>
</div>
<div class="center-align pageClass" *ngIf="key2 && key3">
  <div class="row slide-sub-heading">
    <a (click)="signIn()">Sign In</a>
  </div>
</div>
<div class="center-align pageClass">
  <div class="row slide-sub-heading" *ngIf="isErr"> Something went wrong! </div>
  <div class="row slide-sub-heading">
    <a [routerLink]="['']">Go To Home</a>
  </div>
</div>