.mainDiv {
    margin-bottom: 50px;
    height: calc(71vh);
    /* max-height: 800px; */
    overflow: auto;
    overflow-x: hidden;
    justify-content: center;
    /* display: flex; */
    padding: 10px;
    border: 1px solid #03aaff;
    background-color: #fff;
    border-radius: 10px;
    /* flex-direction: column; */
}

.mainDiv::-webkit-scrollbar {
    display: none;
}

.eduuction-btn-2 {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-transform: uppercase;
    margin: auto;
    padding: 10px;
    border-radius: 50px;
}

.eduuction-cant-2 {
    width: 100%;
    border-radius: 5px;
    border: solid 1px #ccc;
    text-transform: uppercase;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;
}

.marSpace {
    margin-left: 0px;
    width: 100%;
}

.uploadBtn {
    display: table-cell;
    vertical-align: middle;
    color: white;
    background-color: #4db0f4;
    border-radius: 10px;
    padding: 5px;
}

.centerDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accomCss {
    width: 95%;
    margin-left: 0px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.marAuto {
    justify-content: center;
    display: flex;
    margin: auto;
}

.inputInnerDiv {
    width: 100% !important;
    font-size: 18px;
    max-height: 250px;
    overflow: auto;
}

.suggestSkill {
    font-size: 16px;
    color: red;
}

.textDeco {
    font-size: 15px;
    color: black;
}

.CheckBoxcontainer {
    /* display: block; */
    position: relative;
    padding-left: 25px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 25px;
    pointer-events: fill;
    top: -10px;
}

/* Hide the browser's default checkbox */
.CheckBoxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-top: 13px;
    background-color: #eee;
    border: 1px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.CheckBoxcontainer:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.CheckBoxcontainer input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.CheckBoxcontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.CheckBoxcontainer .checkmark:after {
    left: 6px;
    top: 0px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.settleStepper .mat-stepper-vertical {
    margin: 5% auto auto auto !important;
    background-color: inherit !important;
}

.accomCss textarea {
    height: 5rem !important;
}

button {
    background-color: #03aaff;
    color: #fff;
}