<div>
   
    <div class="right-align" >
        <a *ngIf="!hideAddBtn" class="waves-effect waves-light btn" [routerLink]="['/employer/create-bidding-event']"> <i class="material-icons left">add</i> New Job Posting</a>
    </div>
    <div *ngIf="!noBiddingEvents">
        <ul id="bidding-event-list"  style="margin-top:15px;">
            <li *ngFor="let biddingEvent of biddingEvents | paginate: { itemsPerPage: 5, currentPage: p }" style="cursor:pointer;">
                <app-bidding-event-item [biddingEvent]="biddingEvent" (selected)="onSelect($event)" (delete)="onDelete($event)"></app-bidding-event-item>
                <!-- <app-bidding-event-item [biddingEvent]="biddingEvent" (selected)="onSelect($event)" ></app-bidding-event-item> -->
            </li>
        </ul>
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
    </div>
    <div *ngIf="noBiddingEvents" style="padding-top: 10px;">
            No Results to show
    </div>  
</div>
 