<div class="container">
  <div class="header">
    <div class="row">
      <div class="col s21 m2 l2 spaceLeft">
        <img
          [src]="'/assets/img/leftSide.png'"
          (click)="backToChat()"
          class="uploadedImgUser"
        />
      </div>
      <div class="col s2 m2 l2 spaceLeft">
        <img
          [src]="user.profileimage !== '' ? user.profileimage : 'assets/img/user.png'"
          (click)="showImageModal(user.profileimage !== '' ? true : false)"
          class="uploadedImgUser"
        />
      </div>
      <div
        class="col s8 m8 l8 spaceLeft"
        style="padding: 10px; font-size: 12px"
      >
        <span>{{ user.fullName }}</span>
      </div>
    </div>
  </div>
  <div #chatDiv class="chat-box">
    <ng-container *ngFor="let msg of userMessages.message">
      <!-- user1 as a sender -->
      <div
        class="message-box"
        *ngIf="msg.senderId === userMessages.user1._id"
        [ngClass]="
          msg.senderId === loggedInUser._id ? 'rightSideMsg' : 'leftSideMsg'
        "
      >
        <!-- <div class="message-box" *ngIf = "msg.senderId === userMessages.user1._id" [ngClass] = "(msg.senderId === loggedInUser._id) ? 'left-img' : 'right-img'"> -->
        <!-- <div class="picture">
          <img src="assets/img/user.png" title="user name"/>
          <span class="time">10 mins</span>
        </div> -->
        <div class="message messageRight">
          <span>{{ userMessages.user1.fullName }}</span>
          <p>{{ msg.message }}</p>
          <span class="dataTime">{{
            msg.timestamps | date: "dd/MM/yyyy HH:mm:ss"
          }}</span>
        </div>
      </div>

      <!-- user2 as a sender -->
      <div
        class="message-box"
        *ngIf="msg.senderId === userMessages.user2._id"
        [ngClass]="
          msg.senderId === loggedInUser._id ? 'rightSideMsg' : 'leftSideMsg'
        "
      >
        <!-- <div class="message-box" *ngIf = "msg.senderId === userMessages.user2._id" [ngClass] = "(msg.senderId === loggedInUser._id) ? 'left-img' : 'right-img'"> -->
        <!-- <div class="picture">
          <img src="assets/img/user.png" title="user name"/>
          <span class="time">10 mins</span>
        </div> -->
        <div class="message messageLeft">
          <span>{{ userMessages.user2.fullName }}</span>
          <p>{{ msg.message }}</p>
          <span class="dataTime">{{
            msg.timestamps | date: "dd/MM/yyyy HH:mm:ss"
          }}</span>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="right-chat">
    <input
      type="text"
      [(ngModel)]="messageIs"
      [value]="messageIs"
      placeholder="Enter your message.."
      (keyup.enter)="sendChatMessage($event.target.value)"
      #inputDiv
    />
    <a (click)="sendChatMessage(messageIs)" class="send">Send</a>
  </div>
</div>

<div id="showImage" class="modal">
  <img [src]="user.profileimage !== '' ? user.profileimage : 'assets/img/user.png'" class="showImgUser"/>
</div>