<app-navbar></app-navbar>
<div class="headerDiv text-center mar0 blogHeader">
  <h4 class="pageHeading ">Ask a Recruiter</h4>
  <p><a [routerLink]="['/home/']">Home</a> &#8811; <a> Ask a Recruiter</a></p>
</div>
<div class="mainDivForums">
  <div class="container">
    <div class="forumMainSection">
      <div class="forumPageMain">
        <!-- <div class="inputDivMainN">
                    <input type="text" [(ngModel)]="searchText" placeholder="search here .....">
                </div> -->
        <div class="inputDivMainN">
          <div class="inputDivMainNInner">
            <form [formGroup]="searchQues">
              <input type="text" formControlName="question" placeholder="search here ....."
                (input)="textChanges(searchQues.value)" />
              <button (click)="searchQuesData(searchQues.value)" class="serchBtn">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="forumPageInner">
          <!--only Question start-->
          <div *ngIf="!isLoggedIn">
            <div *ngFor="let data of questData | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
              <!-- <div *ngIf="data.questionById == askusersData._id && !isLoggedIn" -->
              <div
                class="forumQustionBlock forumQustionCommonBlock">
                <form [formGroup]="postAnsw">
                  <div class="headDiv">
                    <h4>Your question</h4>
                  </div>
                  <div class="questionDivText">
                    <h4>{{ data.question }}</h4>
                  </div>

                  <div>

                    <div>
                      <span style="cursor: pointer; color: #33AAFF; margin-left: 5px;">Answer : </span>
                      <div class="answerDiv">
                        - {{getSingleAnswer(data, false)}}
                      </div>
                    </div>

                    <span (click) = "getAnswers(data)" style="cursor: pointer; color: #33AAFF; margin-left: 5px;">Click here to see more answers...</span>
                    <div class="loader" [id] = "'loader_' + data._id"></div>
                    <div class="addScrollForAnswerDiv questionDivTextAnswer" [id] = "'answer_' + data._id">
                      <div class="answerDiv" *ngFor = "let answerIs of answerData">
                        <div class="pro">
                          <div class="candProfile" *ngIf = "!answerIs.showCreatedLogo">
                            <img [src]="answerIs.answerByUserId?.profileimage" (error)="getImage(answerIs)" class="uploadedImgUser">
                          </div>
                          <div *ngIf = "answerIs.showCreatedLogo" class="big-badge extrabig-badge-answer">
                            {{ answerIs.answerByUserId?.fullName | uppercase | slice: 0 : 1 }}
                          </div>
                          {{answerIs.answerByUserId?.fullName}}
                        </div>
                        <div style="margin-left: 20px;">
                          - {{ answerIs.answer }}
                        </div>
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <div>
              <pagination-controls (pageChange)="handlePaginator($event)"></pagination-controls>
            </div>
          </div>
          <!--only question end  -->

          <div *ngIf="isLoggedIn">
            <ul>
              <li *ngFor="let data of questData | paginate: {id : 'paginator1', itemsPerPage: itemsPerPage, currentPage: p }"
                class="forumQustionBlock forumQustionCommonBlock">
                <form [formGroup]="postAnswer">
                  <div class="headDiv">
                    <h4>Questions for You</h4>
                    <div *ngIf="data.isAnswered==false">
                      <i class="fa fa-star yellowStar" aria-hidden="true"></i>
                    </div>
                  </div>
                  <p class="byAnnomus"> Question added by : Anonymous user</p>

                  <div class="questionDivText">
                    <h4>{{data.question}}</h4>
                    <button class="answer" (click)="showAnsDiv(data._id)"><i class="fa fa-reply"
                        aria-hidden="true"></i> Answer</button>
                    <div class="questionDivTextReply" [id]="'questionDivTextReplyId_'+data._id">
                      <textarea placeholder="Write Your Answer here.." formControlName="answerPost"
                        id="answerspost" (keyup)="handleAnswerPost($event)"></textarea>
                      <div *ngIf="postAnswer.hasError('','answerPost') && postAnswer.get('answerPost').touched">
                        Answer is required*</div>
                      <button class="waves-effect waves-light btn" id="postAnswerBtn" disabled
                        (click)="postAns(postAnswer.value,data._id,data.answersCount)"> post </button>
                    </div>

                    
                    <div>

                      <div>
                        <span style="cursor: pointer; color: #33AAFF; margin-left: 5px;">Answer : </span>
                        <div class="answerDiv">
                          - {{getSingleAnswer(data, true)}}
                        </div>
                      </div>

                      <span (click) = "getAnswersQue(data)" style="cursor: pointer; color: #33AAFF; margin-left: 5px;">Click here to see more answers...</span>
                      <div class="loader" [id] = "'loaderQue_' + data._id"></div>
                      <div class="addScrollForAnswerDiv questionDivTextAnswer" [id] = "'answerQue_' + data._id">
                        <div class="answerDiv" *ngFor = "let answerIsIs of answerQueData">
                          <div class="pro">
                            <div class="candProfile" *ngIf = "!answerIsIs.showCreatedLogo">
                              <img [src]="answerIsIs.answerByUserId?.profileimage" (error)="getImage(answerIsIs)" class="uploadedImgUser">
                            </div>
                            <div *ngIf = "answerIsIs.showCreatedLogo" class="big-badge extrabig-badge-answer">
                              {{ answerIsIs.answerByUserId?.fullName | uppercase | slice: 0 : 1 }}
                            </div>
                            {{answerIsIs.answerByUserId?.fullName}}
                          </div>
                          <div style="margin-left: 20px;">
                            - {{ answerIsIs.answer }}
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </li>
            </ul>
            <pagination-controls id="paginator1" (pageChange)="handlePaginator($event)"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="stickyDiv">
        <div class="AksQutionN">
          <app-askbutton></app-askbutton>
        </div>
        <div class="recentQuestionsDivMain">
          <app-questions [questData]="questData"></app-questions>
        </div>
      </div>
    </div>
  </div>
</div>
<!--message pop up:START-->
<div id="answermsdPop" class="modal videoModalMain forumPopMain forumMsgPopup newPopZindex">
  <a (click)="closeanswerPopup()" class=" videoCloseBtn"><i class="material-icons">close</i></a>
  <div class="modal-content videoModalContent">
    <h4 class="slide-heading text-center">Message</h4>
    <div class="modalBodyPop">
      <p>{{ msgForPopup }}</p>
    </div>
  </div>
</div>

<!--message pop up:END-->
<app-footer></app-footer>
