<div *ngIf="mode===0">
  <!-- <div class="right-align">
    <a class="waves-effect waves-light btn" [routerLink]="['/recruiter/new-resume']"> <i
        class="material-icons left">add</i> New Resume</a>
  </div> -->
  <div class="resume-container" *ngIf="!noResume">

    <div class="row">
      <a class="waves-effect waves-light btn right" [routerLink]="['/employer/new-resume']">
        <i class="material-icons left">add</i>New Candidate</a>
    </div>

    <div class="row" style="margin-top: 10px;">
      <app-filter-data (handleToggleSign)="handleToggleSign($event)"></app-filter-data>
    </div>

    <div class="searchForm">
      <form [formGroup]="SearchFrm" novalidate>
      <div
          class="input-field disFlex s12 m12 l12"
          style="text-align: left;"
        >
          <div class="inputInnerDiv">
            <div class="skillInput">Select the skill sets*</div>
            <span>Note: select skills from dropdown</span>
            <tag-input
              class="borderBott borderBottN skillBorBott"
              [(ngModel)]="tags"
              formControlName="tags"
              [addOnBlur]="true"
              (onAdd)="onadd($event)"
              (onRemove)="onadd($event)"
              [onlyFromAutocomplete]="true"
              [placeholder]="'search by skillSets'"
              [secondaryPlaceholder]="'search by skillSets'"
            >
              <tag-input-dropdown
                [autocompleteItems]="skillSets"
                [keepOpen]="false"
                [showDropdownIfEmpty]="true"
                [dynamicUpdate]="false"
              >
              </tag-input-dropdown>
            </tag-input>
          </div>
        </div>

      <div class="right-align mainTopBar marT10">
        <div class="posrelDiv dropdownMain">
          <!-- <ngx-select-dropdown (change)="selectionChanged($event)" formControlName="selectedResume" [multiple]="false" [config]="{displayKey:candidateName,search:true}" [options]="resumes"></ngx-select-dropdown> -->
          <!-- <div class="searchDropdownMain"> -->
          <div class="input-field" (click)="toggle($event)">
            <form [formGroup]="searchResumeBid">
              <label style="margin-top: -15px;" for="jobProfiler" for="selectedResumeIs"
                [ngClass]="{ hide: selectedResumeIs }"></label>
              <input type="hidden" name="selectedResumeIs" id="selectedResumeIs" class="selectedResume"
                placeholder="Select Resume" />
              <a class="dropdown-button_resume" data-activates="dropdown_jobProfile_resume">
                {{ CandidateName }}
              </a>
              <i id="toggleDropdownId" class="material-icons right" style="cursor: pointer;"
                (click)="openDropdown($event)">
                arrow_drop_down
              </i>
            </form>
          </div>
          <div id="dropdown_jobProfile_resume" *ngIf="toggleSearch" class="dropdown-content bidDropDown dropdown-toggle">
            <div class="searchDivList">
              <input type="text" (input)="searchtext($event)" (focus)="onfocus($event)" placeholder="search"
                autocomplete="off" class="searchBox" [(ngModel)]="CandidateName" [ngModelOptions]="{standalone: true}"
                style="padding: 0 20px; box-sizing: border-box; position: relative; margin: 0;" />
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <ul class="resumeDrodown">
              <li *ngFor="let resume of tempResume">
                <a [ngClass]="{ myclass: resume._id | inArray: resume?._id }"
                  (click)="selectedResumeVal(resume?._id, resume?.candidateName)"
                  class="noCSSjustClosingDiv">{{ resume.candidateName}} , years of experience :
                  {{ resume?.experience || "fresher" }} ,
                  <span *ngFor="let skill of resume?.tags">{{
                    skill?.display
                  }}</span></a>
              </li>
            </ul>
          </div>
          <!-- </div> -->
        </div>
      </div>
      </form>
    </div>
    <ul class="resumeList">
      <li *ngFor="let resume of resumes | paginate: { itemsPerPage: 8, currentPage: p }"
        class="col s12 m12 l6 floatUns">
        <app-resume-item [resume]="resume" (selectedForEdit)="editResume($event)"
          (selectedForDelete)="deleteResume($event)"></app-resume-item>
      </li>
    </ul>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
<div *ngIf="mode===1">
  <app-edit-resume [resume]="selectedResume" (back)="comeBack()" (getAllResume)="getAllHiredResume($event)">
  </app-edit-resume>
</div>
<div *ngIf="noResume" class="no-content">

  <ng-container *ngIf="!msg">
    No Results to show
  </ng-container>
  <ng-container *ngIf="msg">
    {{msg}}
  </ng-container>

</div>


<div id="DeleteConfirm" class="modal">
  <div class="modal-content">
    <h4>Confirm Delete Action</h4>
    <p>Are want to sure delete this resume ?</p>
  </div>
  <div class="modal-footer">
    <button (click)="confirmedDeleteResume()" class="waves-effect waves-light btn">Yes</button>&nbsp;&nbsp;
    <button class="modal-close right waves-effect waves-light btn">No</button>
    <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
  </div>
</div>
