.chat-list {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-top: 10px;
  overflow: auto;
  height: calc(60vh);
  background-color: white;
}

.chat-list:hover {
  overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
  width: 8px;
  display: none;
  border-radius: 30px;
}

.chat-list::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #0aafff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.chat-list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 30px;
}

.chat-profile-item {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding:10px;
}

.chat-user-title {
  font-size: 20px;
  color: #114488;
  font-weight: 700;
  padding-left: 15px;
  width: 570px;
  padding: 0 25px;
  cursor: pointer;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.disF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
}

/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .chat-user-title {
    width: 250px;
    padding: 0 15px !important;
  }
  .disF {
    padding: 0 !important;
  }
  .VIconE {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-user-title {
    width: 350px;
    padding: 0 15px !important;
  }
}

.textAlign {
  text-align: center;
  font-size: 15px;
  font-family: 'gilroybold';
}

.frtClass {
  color: #0AAFFF;
  border-bottom : 1px solid #0AAFFF;
}

.secClass {
  color: #000;
  border-bottom : none;
}

.uploadedImgUser {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50% !important;
}

.createGRP{
  font-size: 20px;
  margin-right: 25px;
  float: right;
  color: #0AAFFF;
}

.marBt {
  margin-bottom: 15px !important;
}