<div class="" style="margin-bottom: 50px;">

  <div class="row">
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 1 ? 'frtClass' : 'secClass'" (click) = "changesType('1')">
      CHATS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 3 ? 'frtClass' : 'secClass'" (click) = "changesType('3')">
      GROUPS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 2 ? 'frtClass' : 'secClass'" (click) = "changesType('2')">
      {{currentUserRole}}
    </div>
  </div>

  <div class="row" *ngIf = "chgStyle == 3">
    <form [formGroup]="">
      <div class="createGRP" (click) = "createGroup()">
        Create Group
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="row">
    <form [formGroup]="auctionFrm">
      <div class="searchDiv">
        <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByName" placeholder="Search..." #searchInputTerm>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 1">
    <ng-container *ngFor="let user of onlyChatUsers | inUserChatSearch : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user.user1._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user1.profileimage !=='') ? user.user1.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user1.profileimage !== '' ? user.user1.profileimage : '')" class="uploadedImgUser">
          <span [ngClass]="user.user1.online ? 'dotOnline' : 'dotOffline'" [id] = "'online_'+user.user1._id"></span>
          <div class="chat-user-title" (click)="showUserData(user.user1._id)"> {{ user.user1.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i>
        </div>
      </div>

      <div class="chat-profile-item animatePart" *ngIf = "user.user2._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user2.profileimage !=='') ? user.user2.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user2.profileimage !== '' ? user.user2.profileimage : '')" class="uploadedImgUser">
          <span [ngClass]="user.user2.online ? 'dotOnline' : 'dotOffline'" [id] = "'online_' + user.user2._id"></span>
          <div class="chat-user-title" (click)="showUserData(user.user2._id)"> {{ user.user2.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i>
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
    <app-no-data-available *ngIf = "onlyChatUsers.length == 0"></app-no-data-available>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 2">
    <ng-container *ngFor="let user of chatUsers | search : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.profileimage !=='') ? user.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.profileimage !== '' ? user.profileimage : '')" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user._id)"> {{ user.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
    <app-no-data-available *ngIf = "chatUsers.length == 0"></app-no-data-available>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 3">
    <ng-container *ngFor="let group of groupChatUsers | searchByOnlyFullName : searchTermByName">

      <div class="chat-profile-item animatePart">
        <div class="disF">
          <img [src]="(group.profileimage !=='') ? group.profileimage : 'assets/img/user.png'"  (click)="showImageModal(group.profileimage !== '' ? group.profileimage : '')" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(group._id, true)"> {{ group.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
    <app-no-data-available *ngIf = "groupChatUsers.length == 0"></app-no-data-available>
  </div>

</div>