<div class="">

  <div class="row">
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 1 ? 'frtClass' : 'secClass'" (click) = "changesType('1')">
      CHATS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 3 ? 'frtClass' : 'secClass'" (click) = "changesType('3')">
      GROUPS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 2 ? 'frtClass' : 'secClass'" (click) = "changesType('2')">
      {{currentUserRole}}
    </div>
  </div>

  <div class="row" *ngIf = "chgStyle == 3">
    <form [formGroup]="">
      <div class="createGRP" (click) = "createGroup()">
        Create Group
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="row">
    <form [formGroup]="auctionFrm">
      <div class="searchDiv">
        <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByName" placeholder="Search..." #searchInputTerm>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 1">
    <ng-container *ngFor="let user of onlyChatUsers | inUserChatSearch : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user.user1._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user1.profileimage !=='') ? user.user1.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user1.profileimage !== '' ? user.user1.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user.user1._id)"> {{ user.user1.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

      <div class="chat-profile-item animatePart" *ngIf = "user.user2._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.user2.profileimage !=='') ? user.user2.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.user2.profileimage !== '' ? user.user2.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user.user2._id)"> {{ user.user2.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 2">
    <ng-container *ngFor="let user of chatUsers | search : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user._id !== loggedInUser._id">
        <div class="disF">
          <img [src]="(user.profileimage !=='') ? user.profileimage : 'assets/img/user.png'" (click)="showImageModal(user.profileimage !== '' ? user.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(user._id)"> {{ user.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 3">
    <ng-container *ngFor="let group of groupChatUsers | searchByOnlyFullName : searchTermByName">

      <div class="chat-profile-item animatePart">
        <div class="disF">
          <img [src]="(group.profileimage !=='') ? group.profileimage : 'assets/img/user.png'"  (click)="showImageModal(group.profileimage !== '' ? group.profileimage : 0)" class="uploadedImgUser">
          <div class="chat-user-title" (click)="showUserData(group._id, true)"> {{ group.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
    <div class="divider"></div>
  </div>

</div>

<div id="showImage" class="modal">
  <img [src]="imgVal" class="showImgUser"/>
</div>

<div id="createGroupModal" class="modal">
  <div class="grpModal">
    <i (click)="closeGroupModal()" style="float: right;" class="fa fa-times" aria-hidden="true"></i>
    <span>Create Group : </span>
    <div class="">
      <input type="text" class="createGroupName" [(ngModel)]="groupName" placeholder="Group Name...">
    </div>

    <div class="uploadProfilePictureClass">
      <span>Upload Profile Picture : </span>
      <form [formGroup]="updateProfileimg">
        <div class="uploadProfileImgDiv">
          <div class="uploadProfileImg">
            <ng-container *ngIf="imgURL">
              <img [src]="imgURL" alt="add img" />
            </ng-container>
    
            <ng-container>
              <div class="UploadImgDefault">
                <img src="assets/img/profile-user.png" alt="add img" />
              </div>
            </ng-container>
    
            <div class="profileAdd">
              <div class="profileAddInner">
                <i class="fa fa-camera" aria-hidden="true"></i>
                <p>ADD PROFILE PHOTO</p>
              </div>
            </div>
            <input
              #file
              type="file"
              accept="image/*"
              formControlName="file"
              (change)="preview(file.files)"
            />
          </div>
        </div>
      </form>
    </div>

    <div class="member">
      <span>Add Members : </span>
      <ng-container *ngFor="let user of chatUsers">
        <div class="chat-profile-item addUserUI" *ngIf = "user._id !== loggedInUser._id">
          <div class="disF">
            <img [src]="(user.profileimage !=='') ? user.profileimage : 'assets/img/user.png'" class="uploadedImgUser">
            <div class="chat-user-title"> {{ user.fullName }} </div>
            <i class="fa fa-plus VIconE" [id] = "'add_'+user._id" style="margin-right: 15px;" aria-hidden="true" (click) = "addMember(user._id)"></i>
            <i class="fa fa-minus VIconE" [id] = "'remove_'+user._id" style="margin-right: 15px; display: none;" aria-hidden="true" (click) = "removeMember(user._id)"></i>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="form-group textRight">
      <button class="createAndAddMemberClass" (click)="createAndAddGroup()">Create</button>
    </div>
  </div>
</div>