<div class="" style="margin-bottom: 50px;">

  <div class="row">
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 1 ? 'frtClass' : 'secClass'" (click) = "changesType('1')">
      CHATS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 3 ? 'frtClass' : 'secClass'" (click) = "changesType('3')">
      GROUPS
    </div>
    <div class="col s4 m4 l4 textAlign" [ngClass] = "chgStyle == 2 ? 'frtClass' : 'secClass'" (click) = "changesType('2')">
      <!-- {{currentUserRole}} -->
      MEMBERS
    </div>
  </div>

  <div class="row" *ngIf = "chgStyle == 3">
    <form [formGroup]="">
      <div class="createGRP" (click) = "createGroup()">
        Create Group
        <i class="fa fa-plus" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="row">
    <form [formGroup]="auctionFrm">
      <div class="searchDiv">
        <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByName" placeholder="Search..." #searchInputTerm>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </form>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 1">
    <ng-container *ngIf="showOnlyCharUserLoader">
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </ng-container>
    <ng-container *ngIf = "!showOnlyCharUserLoader && onlyChatUsers.length == 0">
      <div class="marTop">
        <app-no-data-available ></app-no-data-available>
      </div>
    </ng-container>

    <ng-container *ngFor="let user of onlyChatUsers | inUserChatSearch : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user.user1._id !== loggedInUser._id">
        <div class="disF">
          <div *ngIf = "!user.user1.showCreatedLogo">
            <img [src]="user.user1.profileimage" (error)="getImage(user.user1)" (click)="showImageModal(user.user1)" class="uploadedImgUser">
          </div>
          <div *ngIf = "user.user1.showCreatedLogo" class="big-badge extrabig-badge" (click)="showImageModal(user.user1)">
            {{ user.user1.fullName | uppercase | slice: 0 : 1 }}
          </div>
          <div class="chat-user-title" (click)="showUserData(user.user1._id, false, user._id)">
            {{ user.user1.fullName }}
            <span class="countText" *ngIf="user.count > 0">
              {{user.count}}
            </span>
          </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i>
        </div>
      </div>

      <div class="chat-profile-item animatePart" *ngIf = "user.user2._id !== loggedInUser._id">
        <div class="disF">
          <div *ngIf = "!user.user2.showCreatedLogo">
            <img [src]="user.user2.profileimage" (error)="getImage(user.user2)" (click)="showImageModal(user.user2)" class="uploadedImgUser">
          </div>
          <div *ngIf = "user.user2.showCreatedLogo" class="big-badge extrabig-badge" (click)="showImageModal(user.user2)">
            {{ user.user2.fullName | uppercase | slice: 0 : 1 }}
          </div>
          <div class="chat-user-title" (click)="showUserData(user.user2._id, false, user._id)">
            {{ user.user2.fullName }}
            <span class="countText" *ngIf="user.count > 0">
              {{user.count}}
            </span>
          </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i>
        </div>
      </div>

    </ng-container>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 2">
    <ng-container *ngIf="showChatUsersLoader">
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </ng-container>
    <ng-container *ngIf = "!showChatUsersLoader && chatUsers.length == 0">
      <div class="marTop">
        <app-no-data-available ></app-no-data-available>
      </div>
    </ng-container>

    <ng-container *ngFor="let user of chatUsers | search : searchTermByName">

      <div class="chat-profile-item animatePart" *ngIf = "user._id !== loggedInUser._id">
        <div class="disF">
          <div *ngIf = "!user.showCreatedLogo">
            <img [src]="user.profileimage" (error)="getImage(user)" (click)="showImageModal(user)" class="uploadedImgUser">
          </div>
          <div *ngIf = "user.showCreatedLogo" class="big-badge extrabig-badge" (click)="showImageModal(user)">
            {{ user.fullName | uppercase | slice: 0 : 1 }}
          </div>
          <div class="chat-user-title" (click)="showUserData(user._id, false, user._id)"> {{ user.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
  </div>

  <div class="chat-list" *ngIf = "chgStyle == 3" style="height: calc(62vh) !important;">
    <ng-container *ngIf="showGroupChatUsersLoader">
      <div class="loader-container">
        <div class="loader"></div>
      </div>
    </ng-container>
    <ng-container *ngIf = "!showGroupChatUsersLoader && groupChatUsers.length == 0">
      <div class="marTop">
        <app-no-data-available ></app-no-data-available>
      </div>
    </ng-container>

    <ng-container *ngFor="let group of groupChatUsers | searchByOnlyFullName : searchTermByName">

      <div class="chat-profile-item animatePart">
        <div class="disF">
          <div *ngIf = "!group.showCreatedLogo">
            <img [src]="group.profileimage" (error)="getImage(group)" (click)="showImageModal(group)" class="uploadedImgUser">
          </div>
          <div *ngIf = "group.showCreatedLogo" class="big-badge extrabig-badge" (click)="showImageModal(group)">
            {{ group.fullName | uppercase | slice: 0 : 1 }}
          </div>
          <div class="chat-user-title" (click)="showUserData(group._id, true)"> {{ group.fullName }} </div>
          <i class="fa fa-ellipsis-v VIconE" aria-hidden="true" (click) = "setting()"></i> 
        </div>
      </div>

    </ng-container>
  </div>

</div>