.chat-list {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-top: 10px;
  overflow: auto;
  max-height: 580px;
}

.chat-list:hover {
  overflow-y: auto;
}

.chat-list::-webkit-scrollbar {
  width: 8px;
  display: none;
  border-radius: 30px;
}

.chat-list::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #0aafff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.chat-list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 30px;
}

.chat-profile-item:hover {
  background-color: #03a9f4;
}

.chat-profile-item {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding:10px;
}

.chat-user-title {
  font-size: 20px;
  color: #114488;
  font-weight: 700;
  padding-left: 15px;
  width: 570px;
  padding: 0 25px;
  cursor: pointer;
}

.chat-profile-item:hover .chat-user-title {
  color: white;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}

.disF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
}

/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .chat-user-title {
    width: 250px;
    padding: 0 15px !important;
  }
  .disF {
    padding: 0 !important;
  }
  .VIconE {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-user-title {
    width: 350px;
    padding: 0 15px !important;
  }
}

.textAlign {
  text-align: center;
  font-size: 15px;
  font-family: 'gilroybold';
}

.frtClass {
  color: #0AAFFF;
  border-bottom : 1px solid #0AAFFF;
}

.secClass {
  color: #000;
  border-bottom : none;
}

.uploadedImgUser {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50% !important;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 78%;
  width: 35%;
  margin: 2% auto;
  overflow-y: auto;
  border-radius: 5px;
  will-change: top, opacity;
}

.showImgUser{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 50% !important; */
  margin-bottom: -5px;
}

.createGRP{
  font-size: 20px;
  margin-right: 25px;
  float: right;
  color: #0AAFFF;
}

.grpModal {
  padding: 25px;
}

.grpModal input{
  padding-left: 5px;
  font-size: 18px;
}

.grpModal span {
  font-size: 20px;
  font-family: 'gilroybold';
}

.grpModal .member span {
  font-size: 18px;
  font-family: 'gilroybold';
}

.member {
  margin-top: 10px;
  height: 300px !important;
  overflow: auto;
}

.createAndAddMemberClass{
  background-color: #039be5;
  color: #fff;
  border: 1px solid #039be5;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 10px;
  float: right;
}

.uploadProfileImgDiv {
  background-color: #ffffff;
  padding: 15px;
}

.uploadProfileImg {
  background-color: #f7f7f7;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.uploadProfileImg img {
  width: 100%;
  height: 100%;
}

.UploadImgDefault {
  width: 100%;
  height: 100%;
  position: relative;
}

.uploadProfileImg:hover .profileAdd {
  opacity: 1;
  cursor: pointer;
}

.uploadProfileImg input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
}

.profileAdd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18181842;
  opacity: 0;
  transition: 0.8s;
  cursor: pointer;
}

.profileAdd i {
  color: #ffffff;
  cursor: pointer;
}

.profileAdd p {
  font-size: 13px;
  color: #ffffff;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
}

.profileAddInner {
  cursor: pointer;
}

.VIconE {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #4E5857;
}

.uploadProfilePictureClass span{
  font-size: 18px;
  font-family: 'gilroybold';
}