<div style="background:#64baf71a; min-height:100vh; padding-top:4vh;">
  <div class="container">
      <div [routerLink]="['/']" class="center-align" style="margin-bottom:30px;cursor: pointer;"> <img src="assets/img/navbar-logo.png"></div>
      <div class="row" style="padding:4vh 0 4vh 0; margin-bottom:0px;">
          <div class="col s12 m8 l8 offset-m2 offset-l2">
              <div class="page-title" style="margin-bottom:40px;"> HIRE SEAT Auction Rules </div>
              <div class=""row>
                  <div class="col s12 m4 l4">
                      <img class="z-depth-1" style="width:100%; height:auto; border-radius:5px;"  src="assets/img/auction-rules.png">
                  </div>
                  <div class="col s12 m8 l8">
                      <ul>
                          <li> • The HireSeat Auction is for opportunities for recruiters to have their candidate interviewed and not for guaranteed hiring.</li>
                           <br> 
                          <li> • Employers decide how many interview seats will be auctioned off for each job.</li>
                          <br> 
                          <li> • The highest bids will have their candidates interviewed. If there are 3 seats, the 3 highest bids will have their candidate interviewed.</li>
                          <br>
                          <li> • The first recruiter to submit a candidate owns that candidate for that job role</li>
                          <br>
                          <li> • Only one candidate can be submitted by each Recruiting Firm</li>
                          <br>
                          <li> • No need to pay for bids until a candidate is successfully placed</li>
                      </ul>
                  </div>
              </div>
              
          </div>
      </div>
      <div class="row" style="padding:2vh 0 2vh 0; margin-bottom:0px;">
          <div class="col s12 m8 l8 offset-m2 offset-l2">
              <div class="page-title"> When Bids must be paid… </div>
              <p>
                  If a recruiter’s candidate wins the auction and all 3 conditions below are met:
              </p>
              <ul>
                  <li> • Candidate is interviewed.</li>
                  <!-- <br> -->
                  <li> • Candidate is rejected by the employer.</li>
                  <!-- <br> -->
                  <li> • Employer chooses another recruiter’s candidate from the HireSeat Auction.</li>
                  
              </ul>
          </div>
      </div>

      <div class="row" style="padding:2vh 0 2vh 0; margin-bottom:0px;">
          <div class="col s12 m8 l8 offset-m2 offset-l2">
              <div class="page-title"> When Bids are not paid… </div>
              <ul>
                  <li> • If the employer chooses the recruiter’s candidate (the candidate does not need to accept the position).</li>
                  <!-- <br> -->
                  <li> • No candidate from the HireSeat Auctions is chosen by the Employer.</li>
                  <!-- <br> -->
                  <li> • The Recruiter’s candidate is not interviewed.</li>
                  
              </ul>
          </div>
      </div>
  </div>
</div>