<ng-container>
    <label for="" style="color: red !important;">
        <div *ngIf = "!getStep(2)">
            <p>Thank you for joining Hireseat….</p>
            <div>
                I am the founder of HireSeat and I can be your first connection if you send me a request below. We will help you get better jobs and grow your network. 
            </div><br>
            <div>Sujith.</div>
        </div>
        <div *ngIf = "getStep(2)">
            'Welcome to HireSeat. Connect with the below members that can intros you to your desired companies.'
        </div>
    </label>
    <div>
        <mat-selection-list (selectionChange)="selectionChange($event)" [(ngModel)]="selectedList">
            <mat-list-option class="optionClass" *ngFor="let profile of profileContents" checkboxPosition="before"
                [value]="profile.candidate_id._id" [selected]="profileSet.get(profile.candidate_id._id)">
                <div class="row">
                    <div *ngIf="!profile.candidate_id.showCreatedLogo" class="big-badge candProfile22">
                        <img src="{{ profile.candidate_id.profileimage }}" (error)="changeLogo(profile.candidate_id)"
                            style="max-width: 100%" />
                    </div>
                    <div *ngIf="profile.candidate_id.showCreatedLogo" class="big-badge candProfile22">
                        {{ profile.candidate_id.fullName | uppercase | slice: 0 : 1 }}
                    </div>
                    <span style="margin-left: 10px; word-wrap: break-word;">
                        {{profile?.candidate_id?.fullName}}
                        <div *ngIf = "profile?.introduceYouToo" class="row" style="margin-bottom: 10px; max-height: 35px; overflow: auto;">
                            <span style="margin-left: 10px; font-size: 10px; color: red;">
                                [ Introduce : {{profile?.introduceYouToo}} ]
                            </span>
                        </div>
                    </span>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div *ngIf = "getStep(1)">
        <div class="form-group">
            <button class="sendBtn" (click)="nextStep(2)">Skip</button>
        </div>
    </div>
    <div>
        <div class="form-group">
            <button class="sendBtn marRight" (click)="sendFriendRequest()">Send Request</button>
        </div>
    </div>
</ng-container>