<div id="showSettings">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
  <div class="settingClass">
    <ng-container *ngFor="let list of settingLists">
      <div class="chat-profile-item addUserUI" (click) = "openListsModals(list.id)" *ngIf = "list.status">
        <div class="disF">
          <div class="chat-user-title">
            {{ list.name }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>