/* * {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
} */

a {
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
  max-height: 530px;
  overflow-y: scroll;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
}

.header {
  padding: 20px 20px 18px 20px;
  background: #0aafff;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.uploadedImgUser {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50% !important;
}

.header h2 {
  font-size: 16px;
  line-height: 15px;
  display: inline-block;
}

.right-chat {
  height: 92px;
  /* padding: 0 20px; */
  width: 90%;
  /* width: auto; */
  display: flex;
  color: #000;
  background: #ececec;
  padding: 15px 20px 10px 21px;
  justify-content: space-between;
  position: absolute;
  bottom: 70px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 40%);
}

.input-div {
  width: 100%;
}

.right-chat input {
  border: none;
  padding: 10px 12px;
  background: #fff;
  width: 70%;
  height: 35%;
  margin-top: 10px;
  border: 1px solid #0aafff;
  border-radius: 2px;
}

.right-chat a.send {
  padding: 10px 15px;
  background: #0aafff;
  border-radius: 2px;
  float: right;
  margin-top: 13px;
}

.chat-box {
  background: #ececec;
  padding: 0 20px;
  color: #a1a1a1;
  overflow: auto;
  max-height: 510px;
  /* background-image: url('../../../../assets/img/ask-recruter.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.chat-box:hover {
  overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
  width: 8px;
  display: block;
  border-radius: 30px;
}

.chat-box::-webkit-scrollbar-thumb {
  width: 12px;
  background-color: #0aafff; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.chat-box::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 30px;
}

.chat-box .message-box {
  padding: 18px 0 10px;
  clear: both;
}

.message-box .picture {
  float: left;
  width: 50px;
  display: block;
  padding-right: 10px;
}

.picture img {
  width: 43px;
  height: 48px;
  border-radius: 5px;
}

.picture span {
  font-weight: bold;
  font-size: 12px;
  clear: both;
  display: block;
  text-align: center;
  margin-top: 3px;
}

.message {
  background: #fff;
  display: inline-block;
  padding: 13px;
  width: 274px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  position: relative;
}

.messageRight:before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  top: 10px;
  margin-right: -6px;
}

.messageLeft:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  border-right: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  top: 10px;
  margin-left: -6px;
}

.message span {
  color: #555;
  font-weight: bold;
}

.message p {
  padding-top: 5px;
}

/* .message-box.right-img .picture{
  float:right;
  padding:0;
  padding-left:10px;
}

.message-box.right-img .picture img{
  float:right;
}

.message-box.right-img .message:before{
  left:100%;
  margin-right:6px;
  margin-left:0;
  border-right:6px solid transparent;
  border-left:6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom:6px solid transparent;
} */

.spaceLeft {
  margin-left: -15px;
}

.leftSideMsg {
  float: left;
}

.rightSideMsg {
  float: right;
}

.dataTime {
  float: right;
  font-size: 12px;
  font-style: italic;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 35%;
  margin: 15% auto;
  overflow-y: auto;
  border-radius: 5px;
  will-change: top, opacity;
}

@media(max-width:640px) {
  .right-chat { bottom: 69px !important; position: fixed;}
  .chat-box {max-height: 100px;}
  .chat-height {max-height: 100px;}
}
@media(max-width:600px) {
  .right-chat { bottom: 69px; position: fixed;}
  .chat-height{max-height: 502px;}
  .chat-box {max-height: 520px;}
}
@media(max-width:550px) {
  .right-chat { bottom: 32px; position: fixed;}
  .chat-box {max-height: 503px;}
}
@media(max-width:420px) {
  .right-chat { bottom: 69px; position: fixed;}
 
}
@media(max-width:414px) {
  .right-chat { bottom: 69px; position: fixed;}
  .chat-height{max-height:510px;}
  .chat-box {max-height: 510px;}
}
@media(max-width:411px) {
  .right-chat { bottom: 69px; position: fixed;}
  .chat-height{max-height:525px;}
  .chat-box {max-height: 525px;}
}
@media(max-width:375px) {
  .right-chat { bottom: 69px; position: fixed;}
  .chat-height{max-height:369px;}
  .chat-box {max-height: 369px;}
}
@media(max-width:360px) {
  .right-chat { bottom: 69px; position: fixed;}
  .chat-height{max-height:342px;}
  .chat-box {max-height: 342px;}
}
@media(max-width:320px) {
  .right-chat { bottom: 69px; position: fixed;}
  .message { width: 243px ;}
  .chat-height{max-height:270px;}
  .chat-box {max-height: 270px;}
}

.addMember {
  font-size: 20px;
	margin-top: 5px;
}

.fullNameClass {
  width: 40%;
  padding: 10px;
  font-size: 12px
}

.chat-profile-item:hover {
  background-color: #03a9f4;
}

.chat-profile-item {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
  padding:10px;
}

.chat-profile-item:hover .chat-user-title {
  color: white;
}

.disF {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  cursor: pointer;
  width: 100%;
}

.chat-user-title {
  font-size: 20px;
  color: #114488;
  font-weight: 700;
  padding-left: 15px;
  width: 570px;
  padding: 0 25px;
  cursor: pointer;
}

/*================================ mobile responsive css start  ===============================*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .chat-user-title {
  width: 250px;
  padding: 0 15px !important;
  }

  .disF {
  padding: 0 !important;
  }

  .VIconE {
  font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .chat-user-title {
  width: 350px;
  padding: 0 15px !important;
  }
}

.settingClass {
  padding: 15px;
}

.membersClass {
  padding: 10px;
}

.membersClass .member span {
  font-size: 18px;
  font-family: 'gilroybold';
}

.member {
  margin-top: 10px;
}

.makeDiff {
  margin-top: 5px;
  max-height: 350px !important;
  overflow: auto;
}

.createAndAddMemberClass{
  background-color: #039be5;
  color: #fff;
  border: 1px solid #039be5;
  padding: 10px 20px;
  border-radius: 3px;
  margin: 10px;
  float: right;
}

.VIconE {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #4E5857;
}

.uploadProfilePictureClass {
  padding: 10px;
}

.uploadProfilePictureClass span{
  font-size: 18px;
  font-family: 'gilroybold';
}

.uploadProfileImgDiv {
  background-color: #F7F2F2;
  padding: 10px;
}

.uploadProfileImg {
  background-color: #f7f7f7;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.uploadProfileImg img {
  width: 100%;
  height: 100%;
}

.UploadImgDefault {
  width: 100%;
  height: 100%;
  position: relative;
}

.uploadProfileImg:hover .profileAdd {
  opacity: 1;
  cursor: pointer;
}

.uploadProfileImg input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
}

.profileAdd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18181842;
  opacity: 1;
  transition: 0.8s;
  cursor: pointer;
}

.profileAdd i {
  color: #ffffff;
  cursor: pointer;
}

.profileAdd p {
  font-size: 10px;
  color: #ffffff;
  margin-top: 4px;
  text-align: center;
  cursor: pointer;
}

.profileAddInner {
  cursor: pointer;
}

.userNameCssIs {
  /* white-space: nowrap; */
  width: 100%;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  margin: auto;
}

.marquee {
  background: red;
  white-space: nowrap;
}

.groupNoMore {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}