<ng-container>
  <div class="header">
    <div class="row">
      <div class="col s2 m2 l2 spaceLeft">
        <img
          [src]="'/assets/img/leftSide.png'"
          (click)="backToChat()"
          class="uploadedImgUser"
        />
      </div>
      <div class="col s2 m2 l2 spaceLeft">
        <div *ngIf = "!user.showCreatedLogo">
          <img [src]="user.profileimage" (error)="getImage(user)" (click)="showImageModal(user)" class="uploadedImgUser"/>
        </div>
        <div *ngIf = "user.showCreatedLogo" class="big-badge extrabig-badge"  style="background: radial-gradient(black, transparent) !important;" (click)="showImageModal(user)">
          {{ user.fullName | uppercase | slice: 0 : 1 }}
        </div>
      </div>
      <div class="col s6 m6 l6 spaceLeft fullNameClass elipsesClass">
        <span>{{ user.fullName }}</span>
      </div>

      <div class="col s2 m2 l2 addMember" *ngIf = "!groupChat">
        <i class="fa fa-ellipsis-v" style="color: black;" aria-hidden="true" (click) = "setting()"></i>
      </div>

      <div class="col s2 m2 l2 addMember" *ngIf = "groupChat && groupIsMore">
        <i class="fa fa-ellipsis-v" style="color: black;" aria-hidden="true" (click) = "setting()"></i>
      </div>
    </div>
    <div class="" *ngIf = "groupChat">
      <marquee>
        <p class="userNameCssIs">
          {{groupUserAre}}
        </p>
      </marquee>
    </div>
  </div>

  <div #chatDiv class="container chat-height">
    <!-- user chat -->
    <div class="chat-box" style="margin-bottom: 20px;" *ngIf = "!groupChat">
      <ng-container *ngFor="let msg of userMessages.message">
        <!-- user1 as a sender -->
        <div
          class="message-box"
          *ngIf="msg.senderId === userMessages.user1._id"
          [ngClass]="
            msg.senderId === loggedInUser._id ? 'rightSideMsg' : 'leftSideMsg'
          "
        >
          <div class="message">
            <div
              [ngClass]="
                msg.senderId === loggedInUser._id ? 'messageRight' : 'messageLeft'
              "
            >
              <span>{{ userMessages.user1.fullName }}</span>
              <p>{{ msg.message }}</p>
              <span class="dataTime">{{
                msg.timestamps | date: "dd/MM/yyyy HH:mm:ss"
              }}</span>
            </div>
          </div>
        </div>

        <!-- user2 as a sender -->
        <div
          class="message-box"
          *ngIf="msg.senderId === userMessages.user2._id"
          [ngClass]="
            msg.senderId === loggedInUser._id ? 'rightSideMsg' : 'leftSideMsg'
          "
        >
          <div class="message">
            <div
              [ngClass]="
                msg.senderId === loggedInUser._id ? 'messageRight' : 'messageLeft'
              "
            >
              <span>{{ userMessages.user2.fullName }}</span>
              <p>{{ msg.message }}</p>
              <span class="dataTime">{{
                msg.timestamps | date: "dd/MM/yyyy HH:mm:ss"
              }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- group chat -->
    <div class="chat-box" style="margin-bottom: 30px;" *ngIf = "groupChat">
      <ng-container *ngFor="let msg of groupMessages.message">
          
        <div class="message-box" [ngClass] = "msg.senderId._id === loggedInUser._id ? 'rightSideMsg' : 'leftSideMsg'">
          <div class="message">
            <div [ngClass]="msg.senderId._id === loggedInUser._id ? 'messageRight' : 'messageLeft'">
              <span>{{ msg.senderId.fullName }}</span>
              <p>{{ msg.message }}</p>
              <span class="dataTime">{{
                msg.timestamps | date: "dd/MM/yyyy HH:mm:ss"
              }}</span>
            </div>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
  
  <div class="right-chat">
    <div class="input-div">
      <input
        type="text"
        [(ngModel)]="messageIs"
        [value]="messageIs"
        placeholder="Enter your message.."
        (keyup.enter)="sendChatMessage($event.target.value)"
        #inputDiv
      />
    </div>
    <div class="send-div">
      <a (click)="sendChatMessage(messageIs)" class="send">Send</a>
    </div>
  </div>

  <div class="groupNoMore" *ngIf = "!groupIsMore">
    This group is not more...
  </div>

</ng-container>