<ng-container>
    <span style="font-size: 20px;">Applied for Jobs : </span>
    <div class="ListResume">
        <div *ngIf = "showLoadStatus" class="stDv">{{loadStatus}}</div>
        <div class="singleList employerResume animatePart" *ngFor="let item of appliedPostJobs">
            <div class="pro">
                <span style="color: red;">
                    Job Post : {{ item?.postJobId?.companyName | uppercase }}
                </span>
                <br>
                <span style="color: red; font-size: 10px;">
                    *JOb Suggested By : {{ item?.postJobId?.suggestBy?.fullName }}
                </span>
                <br>
                <span style="color: green; font-size: 10px;">
                    *You Referred By : {{ item?.referedUserId?.fullName }}
                </span>
                <div class="sideCss">
                    <div class="lblTxt">
                        <p *ngIf="item?.postJobId?.jobTitle"><label>Job Title :</label> {{ item?.postJobId?.jobTitle }}
                        </p>
                        <p *ngIf="item?.postJobId?.jobSpecification || item?.postJobId?.jobBrief"><label>Job
                                Specification
                                :</label>
                            <span (click)="showHideJobSpec(item)" style="color: red;"> - Click to see
                                specifications</span>
                            <span class="jobSpecClass" [id]="'jobSpec_' + item._id">
                                - {{ item?.postJobId?.jobSpecification || item?.postJobId?.jobBrief }}
                            </span>
                        </p>
                        <p *ngIf="item?.postJobId?.location"><label>Location :</label> {{ item?.postJobId?.location }}
                        </p>

                        <div class="formDivCreate">
                            <div *ngIf="item?.point1 && item?.postJobId?.point1" class="form-group">
                                <p *ngIf="item?.postJobId?.point1"><label>Point1 :</label> {{ item?.postJobId?.point1 }}
                                </p>
                            </div>
                            <div *ngIf="item?.point2 && item?.postJobId?.point2" class="form-group">
                                <p *ngIf="item?.postJobId?.point2"><label>Point2 :</label> {{ item?.postJobId?.point2 }}
                                </p>
                            </div>
                            <div *ngIf="item?.point3 && item?.postJobId?.point3" class="form-group">
                                <p *ngIf="item?.postJobId?.point3"><label>Point3 :</label> {{ item?.postJobId?.point3 }}
                                </p>
                            </div>
                            <div *ngIf="item?.message1" class="form-group">
                                <p *ngIf="item?.message1"><label>Message1 :</label> {{ item?.message1 }}
                                </p>
                            </div>
                            <div *ngIf="item?.message2" class="form-group">
                                <p *ngIf="item?.message2"><label>Message2 :</label> {{ item?.message2 }}
                                </p>
                            </div>
                            <div *ngIf="item?.message3" class="form-group">
                                <p *ngIf="item?.message3"><label>Message3 :</label> {{ item?.message3 }}
                                </p>
                            </div>
                            <div *ngIf="item?.profileLink" class="form-group" style="color: red;">
                                <p *ngIf="item?.profileLink" (click)="seeProfile(item?._id, item?.profileLink)">
                                    <label>
                                        Profile :
                                    </label>
                                    <span class="pointer">
                                        Click to see your profile.
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>