<ng-container id="notify" *ngIf="show && !isAdmin && isLoggedIn">
  <div class="notificationList">
    <div class="notificationListInner">
      <div class="hederNotification">
        <h4>Notification</h4>
        <div class="col" class="clearNotification1" *ngIf = "notificationAre.length > 0">
          <i class="fa fa-close" noClose = "true" tooltip="tootip on right" placement="right" aria-hidden="true" (click)="deleteAllNotification()"></i>
        </div>
      </div>
      <div
        class="scrollNotification"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="100"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()"
      >
        <ul>
          <li *ngFor="let notify of notificationAre">

            <div class="col" class="clearNotification">
              <i class="fa fa-trash" noClose = "true" aria-hidden="true" (click)="deleteNotification(notify._id)"></i>
            </div>
            
            <div class="notificaationDateTime">
              <!-- {{notify.createdAt | date:'dd/MM/yyyy HH:mm:ss.SS'}} -->
              {{notify.updatedAt | amTimeAgo}}
              <!-- {{notify.createdAt | amLocale:'en' | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}} -->
            </div>
            <a
              (click)="getToQuestion(notify._id, notify.notification.notificationType, notify.notification.redirectId, notify.notification.redirectId2)"
              [routerLink]=""
              routerLinkActive="notification-content"
              [innerHtml]="truncateHTML(notify.notification.message, notify.senderName)"
              [ngStyle] = "{'color' : notify.isRead ? '#0AAFFF' : '#1c2d41'}"
              >{{ notify.notification.message }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<div class="hideInMobile">
  <li *ngIf="!isAdmin && isLoggedIn">
    <a (click)="toggle()">
      <h4 class="count" *ngIf="notificationLength > 0">
        {{ notificationLength}}
      </h4>
      <img
        src="assets/img/Notification-512.png"
        style="vertical-align: middle; height: 30px; width: 30px;"
      />
    </a>
  </li>
</div>

<ng-container>
  <div class="noticatin-a">
    <div class="notificationListOverlay2">
      <h6>Notification
        <div style="float: right;">
          <i class="fa fa-close" noClose = "true" tooltip="tootip on right" placement="right" aria-hidden="true" (click)="deleteAllNotification()"></i>
        </div>
      </h6>
        <div
          class="scrollNotification"
          infiniteScroll
          [infiniteScrollDistance]="1"
          [infiniteScrollThrottle]="100"
          (scrolled)="onScroll()"
          [scrollWindow]="false"
        >
        <ul>
          <li *ngFor="let notify of notificationAre">
            <div class="row" style="margin: auto; margin-top: 10px;">
              <div class="col s2 l2 m2">
                <div *ngIf = "!notify.showCreatedLogo" class="big-badge">
                  <img src="{{ notify.icon }}" (error)="changeLogo(notify)" class="iconStyle" style="max-width: 100%" />
                </div>
                <div *ngIf = "notify.showCreatedLogo" class="big-badge">
                  <!-- {{ (notify.senderName ? notify.senderName : notify.notification.message) | uppercase | slice: 0 : 1 }} -->
                  {{ "A" | uppercase | slice: 0 : 1 }}
                </div>
              </div>
              <div class="col s10 l10 m10" style="margin-left: -20px;">
                <a
                  (click)="getToQuestion(notify._id, notify.notification.notificationType, notify.notification.redirectId, notify.notification.redirectId2, notify.notification.message)"
                  [routerLink]=""
                  routerLinkActive="notification-content"
                  [innerHtml]="truncateHTML(notify.notification.message, notify.senderName)"
                  id = "text_{{notify._id}}"
                  >{{ notify.notification.message }}
                </a>
              </div>
              <div c lang="col s2 m2 l2">
                <i class="fa fa-ellipsis-h" style="font-size : 20px; margin-left : -10px;" (click) = "exapndText(notify)"></i>
              </div>
            </div>
            <div class="row" style="margin: 8px 0px 8px 0px;">
              <div class="col s1 l1 m1 deleteNdateClass">
                <i class="fas fa-trash-alt" style="margin-left: -10px;"></i><br>
              </div>
              <div class="col s4 l4 m4 deleteNdateClass">
                {{notify.updatedAt | amTimeAgo}}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>