<app-navbar></app-navbar>
<div class="MainWrapperBg">
  <div class="container">
    <div class="ClientDetailCard">
      <div class="ClientImage">
        <img src="../assets/img/user1.jpg" alt=""> 
        <div class="NameDetails">
          <h4>Monique Porras</h4>
          <p>Rate: $99 for 30 mins</p>
        </div>
      </div>
      <div class="BioDetails">
        <h2>Bio :</h2>
        <p>Talent Acquisition leader for a global organization, with 15 years experience in recruiting, sourcing, interviewing, and hiring, including 4.5 years in global talent acquisition management.
          9 years corporate recruiting and 6 years IT recruiting agency experience.  Recruiting experience for entry-level to C-level executive positions across the corporate spectrum.</p>
        <p>Specialize in resume consulting, interviewing/presentation skills, behavioral interviewing, salary negotiation, and LinkedIn profile optimization.</p>
        <p>Experience in high-volume recruiting.  Accomplishments include successfully recruited and hired 100+ IT professionals within a 3 month time frame to meet IT project initiatives. Recruited and hired up to 30 entry-level positions within a 3 week period on a quarterly basis. </p>

        <h5 class="BioSubHead">Industries Expertise:</h5>
        <p>Information technology, human resources, digital marketing, accounting & finance, research & laboratory, and business development.</p>

        <h5 class="BioSubHead">Companies Recruited:</h5>
        <p>The Gemological Institute of America, Inc, Microsoft, Intel, Motorola, Northrop Grumman, General Dynamics, Choice Hotels International, AAA, Home Depot Corporate</p>
      </div>
    </div>
    <div class="ClientDetailCard">
      <div class="ClientImage">
        <img src="../assets/img/user2.jpg" alt=""> 
        <div class="NameDetails">
          <h4>Gibran Alvarado</h4>
          <p>Rate: $99 for 30 mins</p>
        </div>
      </div>
      <div class="BioDetails">
        <h2>Bio :</h2>
        <p>Talent Acquisition leader for a global organization, with 15 years experience in recruiting, sourcing, interviewing, and hiring, including 4.5 years in global talent acquisition management.
          9 years corporate recruiting and 6 years IT recruiting agency experience.  Recruiting experience for entry-level to C-level executive positions across the corporate spectrum.</p>
        <p>Specialize in resume consulting, interviewing/presentation skills, behavioral interviewing, salary negotiation, and LinkedIn profile optimization.</p>
        <p>Experience in high-volume recruiting.  Accomplishments include successfully recruited and hired 100+ IT professionals within a 3 month time frame to meet IT project initiatives. Recruited and hired up to 30 entry-level positions within a 3 week period on a quarterly basis. </p>

        <h5 class="BioSubHead">Industries Expertise:</h5>
        <p>Information technology, human resources, digital marketing, accounting & finance, research & laboratory, and business development.</p>

        <h5 class="BioSubHead">Companies Recruited:</h5>
        <p>The Gemological Institute of America, Inc, Microsoft, Intel, Motorola, Northrop Grumman, General Dynamics, Choice Hotels International, AAA, Home Depot Corporate</p>
      </div>
    </div>
    <div class="ClientDetailCard">
      <div class="ClientImage">
        <img src="../assets/img/user1.jpg" alt=""> 
        <div class="NameDetails">
          <h4>Monique Porras</h4>
          <p>Rate: $99 for 30 mins</p>
        </div>
      </div>
      <div class="BioDetails">
        <h2>Bio :</h2>
        <p>Talent Acquisition leader for a global organization, with 15 years experience in recruiting, sourcing, interviewing, and hiring, including 4.5 years in global talent acquisition management.
          9 years corporate recruiting and 6 years IT recruiting agency experience.  Recruiting experience for entry-level to C-level executive positions across the corporate spectrum.</p>
        <p>Specialize in resume consulting, interviewing/presentation skills, behavioral interviewing, salary negotiation, and LinkedIn profile optimization.</p>
        <p>Experience in high-volume recruiting.  Accomplishments include successfully recruited and hired 100+ IT professionals within a 3 month time frame to meet IT project initiatives. Recruited and hired up to 30 entry-level positions within a 3 week period on a quarterly basis. </p>

        <h5 class="BioSubHead">Industries Expertise:</h5>
        <p>Information technology, human resources, digital marketing, accounting & finance, research & laboratory, and business development.</p>

        <h5 class="BioSubHead">Companies Recruited:</h5>
        <p>The Gemological Institute of America, Inc, Microsoft, Intel, Motorola, Northrop Grumman, General Dynamics, Choice Hotels International, AAA, Home Depot Corporate</p>
      </div>
    </div>
    <div class="ClientDetailCard">
      <div class="ClientImage">
        <img src="../assets/img/user1.jpg" alt=""> 
        <div class="NameDetails">
          <h4>Monique Porras</h4>
          <p>Rate: $99 for 30 mins</p>
        </div>
      </div>
      <div class="BioDetails">
        <h2>Bio :</h2>
        <p>Talent Acquisition leader for a global organization, with 15 years experience in recruiting, sourcing, interviewing, and hiring, including 4.5 years in global talent acquisition management.
          9 years corporate recruiting and 6 years IT recruiting agency experience.  Recruiting experience for entry-level to C-level executive positions across the corporate spectrum.</p>
        <p>Specialize in resume consulting, interviewing/presentation skills, behavioral interviewing, salary negotiation, and LinkedIn profile optimization.</p>
        <p>Experience in high-volume recruiting.  Accomplishments include successfully recruited and hired 100+ IT professionals within a 3 month time frame to meet IT project initiatives. Recruited and hired up to 30 entry-level positions within a 3 week period on a quarterly basis. </p>

        <h5 class="BioSubHead">Industries Expertise:</h5>
        <p>Information technology, human resources, digital marketing, accounting & finance, research & laboratory, and business development.</p>

        <h5 class="BioSubHead">Companies Recruited:</h5>
        <p>The Gemological Institute of America, Inc, Microsoft, Intel, Motorola, Northrop Grumman, General Dynamics, Choice Hotels International, AAA, Home Depot Corporate</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>