.container {
    width: 85%;
}
.ClientDetailCard {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0 0 10px #99999954;
}
.ClientImage {
    display: flex;
    align-items: flex-end;
}
.ClientImage img{
    width: 200px;
    margin-right: 20px;
}
.ClientImage h4{
    font-size: 20px;
    color: #000000;
    margin: 0 0 10px;
}
.ClientImage p{
    margin: 0;
}
.BioDetails h2{
    font-size: 30px;
    color: #33aaff;
    margin-bottom: 0px;
}
.BioDetails p {
    font-size: 15px;
    color: #4d4d4d;
    margin: 7px 0 10px;
}
.BioSubHead{
    font-size: 17px;
    color: #383838;
    margin-bottom: 0;
}