.chart {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.donut-inner {
  margin-top: -100px;
  margin-bottom: 100px;
}
.donut-inner h5 {
  margin-bottom: 5px;
  margin-top: 0;
}
.donut-inner span {
  font-size: 12px;
}

.candidateStatus {
  margin-top: -15px;
  /* margin-left: -30px; */
}

.candidateForm {
  /* border: 2px solid #E0DFDF; */
  margin-top: 20px;
}

.candidateStatusCount {
  margin-top: 10px;
  /* margin-left: -30px; */
}

.candidateReferred,
.candidateReferredCount {
  width: 25%;
  float: left;
}

.candidateHelped,
.candidateHelpedCount {
  width: 25%;
  float: left;
}

.candidateThanks,
.candidateThanksCount {
  width: 25%;
  float: left;
}

.candidateComments,
.candidateCommentsCount {
  width: 25%;
  float: left;
}
.display-chart {
  width: 55%;
  height: 60%;
}
#doughnutChart {
  width: 100% !important;
  height: 100% !important;
}
.partition {
  display: flex;
  width: 100%;
  height: 80%;
}

.comments-div {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #48aef3;
  border-radius: 3px;
}

.recruiterComment {
  margin-left: 15px;
  text-align: left;
}

.replyComment {
  margin-left: 30px;
  text-align: left;
}

.styleReply {
  font-size: 14px;
  /* font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: brown; */
  margin-top: -20px;
  margin-left: 10px;
}

.styleComment {
  font-size: 16px;
  /* font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: crimson; */
}

.allComments {
  font-size: 18px;
  /* font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: darkred; */
}

.candProfile {
  float: left;
  width: 30%;
}

.candProfile img {
  width: 60%;
  height: 30%;
  background-color: #e7e7e7;
  border-radius: 20px;
  object-fit: cover;
}

.candProfile2 {
  float: left;
  width: 30%;
}

.candProfile2 img {
  width: 30%;
  height: 30%;
  background-color: #e7e7e7;
  border-radius: 20px;
  object-fit: cover;
}
