<div class="chart">
  <div class="partition">
    <div class="display-chart">
      <canvas id="doughnutChart"></canvas>
    </div>
    <div class="comments-div"></div>
  </div>
  <div class="row candidateForm">
    <form [formGroup]="CandidateFrm" novalidate>
      <div class="row candidateStatusCount">
        <div class="col candidateHelpedCount">{{ candidateHelpedCount }}</div>
        <div class="col candidateReferredCount">
          {{ candidateReferredCount }}
        </div>
        <div class="col candidateThanksCount">{{ candidateThanksCount }}</div>
        <div class="col candidateCommentsCount">
          {{ candidateCommentsCount }}
        </div>
      </div>
      <div class="row candidateStatus">
        <div class="col candidateHelped">Candidates Helped</div>
        <div class="col candidateReferred">Candidates Referred</div>
        <div class="col candidateThanks">Candidates Thanks</div>
        <div class="col candidateComments">Candidates Comments</div>
      </div>
    </form>
  </div>
</div>
