
<div class="center-align" style="width:100%; min-height:100vh; padding:50px 0px 50px 0px; background:#E9F4FF;"> 
    <div class="container">
        <img src="assets/img/hireseat_header_logo.png" class="logoIcon"/>
            <div class="slide-heading" style="margin-top:10px;"> <a [routerLink]="['/']">HIRE SEAT </a></div>
        <div class="row">      
        <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
          <form [formGroup]="forgotResetPassfrm" (ngSubmit)="onSubmit()" *ngIf="isValid==true && loginShow==false" >
            <div class="card row"  style="padding:30px; margin-top:calc(5% + 3px);">
                <div class="page-title center-align">Enter New Password ! </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <input id="password" type="password" class="validate" name="password" formControlName="password">
                        <label for="password">Password</label>               
                        <div *ngIf="(f.password.touched && f.password.errors)" class="invalid-feedback" class="error">
                            <div *ngIf="f.password.errors.required">Enter Password</div>  
                            <div *ngIf="f.password.errors.minlength">Please Enter Minimum 5 Char password</div>                  
                        </div>
                    </div>
                </div>
                <div class="center-align">
                    <button [disabled]="forgotResetPassfrm.valid==true ? false:true " style="margin-top:30px;" type="submit" class="waves-effect waves-light btn-large ">Reset Password</button>
                </div>
            </div>
            </form>
            <div class="card row" style="padding:30px; margin-top:calc(10% + 5px);" *ngIf="isValid==false && loginShow==false">
                <div class="page-title center-align">Link Used or Invalid Link </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                      
                    </div>
                </div>               
            </div>
            <div class="card row" style="padding:30px; margin-top:calc(10% + 5px);" *ngIf="loginShow==true">
                <div class="page-title center-align">Password Updated Login with New Password !</div>
                <div class="row">
                    <div class="input-field col s12 m12 l12">
                        <a class="waves-effect waves-light btn" [routerLink]="['/login']">Login Now</a>
                    </div>
                </div>               
            </div>
          </div>
        </div>     
    </div>
  </div>