<div id="offerEmailIntroModal">
  <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
  <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
  <div class="email">
    <p> <span>Hi<input type="text" placeholder="User..." [(ngModel)]="recipientName"></span> , </p>
    <p>{{senderName}} has offered to intro you to a contact at <input type="text" style="width: 50%;" placeholder="Enter contact’s company name..." [(ngModel)]="companies" ></p>
  </div>
  <div class="email">
    <p>Thanks,</p>
    <input type="text" placeholder="Sender..." class="maar-none" [(ngModel)]="senderName">
  </div>

  <div>
    <div class="form-group textRight">
      <button class="sendBtn spaceBet introStyle" (click)="closeIntroduceDialog()">Introduce</button>
    </div>
  </div>
</div>