<ng-container>
    <span style="font-size: 20px;">Find Introductions : </span>
    <div class="ListResume">
        <div *ngIf = "showLoadStatus" class="stDv">{{loadStatus}}</div>
        <div class="singleList employerResume animatePart" *ngFor="let companiesAre of suggestIntro">
            <div class="pro">
                <div class="shareIcon" style="float: right;" (click) = "shareClick(companiesAre._id)">
                    <i class="fas fa-share"></i>
                </div>
                <span style="color: red;" (click)="gotoUsers(companiesAre)">
                    {{companiesAre.companyName | uppercase}}
                </span>
                <br>
                <div class="sideCss">
                    <div class="lblTxt">
                        <p *ngIf = "companiesAre?.jobTitle"><label>Job Title :</label> {{ companiesAre?.jobTitle }}</p>
                        <p *ngIf = "companiesAre?.jobSpecification"><label>Job Specification :</label> 
                            <span (click) = "showHideJobSpec(companiesAre)" style="color: red;"> - Click to see specifications</span>
                            <span class="jobSpecClass" [id] = "'jobSpec_' + companiesAre._id">
                                - {{ companiesAre?.jobSpecification }}
                            </span>
                        </p>
                        <p *ngIf = "companiesAre?.location"><label>Location :</label> {{ companiesAre?.location }}</p>
                    </div>
                    <div *ngIf = "companiesAre?.candidate?.length == 0" class="row" style="margin: auto;">- No users</div>
                    <span *ngIf = "companiesAre?.candidate?.length" style="color: red;"  (click)="gotoUsers(companiesAre)">- Users who can introduce you to above company : </span>
                    <div class="sideCss" *ngFor="let userList of companiesAre.candidate; index as indexValue">
                        <div class="row" (click)="gotoUser(userList.candidate_id._id)" style="margin: auto;">

                            <div *ngIf="!userList?.candidate_id?.showCreatedLogo" class="big-badge candProfile22">
                                <img src="{{ userList.candidate_id?.profileimage }}" (error)="changeLogo(userList.candidate_id)"
                                    style="max-width: 100%" />
                            </div>
                            <div *ngIf="userList?.candidate_id?.showCreatedLogo" class="big-badge candProfile22">
                                {{ userList?.candidate_id?.fullName | uppercase | slice: 0 : 1 }}
                            </div>

                            <div style="margin-left: 22px !important;">
                                {{userList?.candidate_id?.fullName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>