.ListResume {
    list-style: none;
    padding: 0;
    width: 100%;
    float: left;
    margin-bottom: 100px;
    height: calc(75vh) !important;
    overflow: auto;
    /* border: 1px solid black; */
}

.singleList.employerResume {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 30px;
    display: block;
    justify-content: unset;
    margin-bottom: 20px;
    transition: 1s;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

/* Tablet css :STARTS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .docSectionBtns button {
        margin-bottom: 7px !important;
    }

    .singleList.employerResume {
        padding: 20px !important;
    }

    .singleList22.employerResume22 {
        padding: 20px !important;
    }
}

.pro {
    width: 100%;
    float: left;
}

.sideCss {
    margin-left: 10px;
}

.candProfile22 {
    float: left;
    margin-top: 3px;
    width: 15px !important;
    height: 15px !important;
}

@media (max-width: 1440px) {
    .candProfile22 {
        width: 15px;
        height: 15px;
    }

}

.big-badge img {
    border-radius: 50% !important;
    width: 100%;
    height: 100%;
}

.lblTxt label{
    color: red;
}

.jobTime {
    float: right;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 12px !important;
}

.formDivCreate p {
    margin: 0 5px;
}

.formDivCreate .form-group {
    display: flex;
    align-items: center;
}

.createpostInput{
    opacity: 1;
    position: unset;
    pointer-events: unset;
}

.commonBlueBtnN{
    height: 30px !important;
    margin-top: 10px;
    border: none !important;
}

.spaceLft {
    margin-left: 5px;
}