<ng-container>
    <span class="styClass">Find Introductions : </span>
    <div class="ListResume">
        <div *ngIf = "showLoadStatus" class="stDv">{{loadStatus}}</div>
        <div class="singleList employerResume animatePart" *ngFor="let companiesAre of suggestIntro">
            <div class="pro">
                <div class="shareIcon" style="float: right;" (click) = "shareClick(companiesAre._id)">
                    <i class="fas fa-share"></i>
                </div>
                <span style="color: red;" (click)="gotoUsers(companiesAre)">
                    {{companiesAre.companyName | uppercase}}
                </span>
                <br>
                <div class="sideCss">
                    <div class="lblTxt">
                        <p *ngIf = "companiesAre?.jobTitle"><label>Job Title :</label> {{ companiesAre?.jobTitle }}</p>
                        <p *ngIf = "companiesAre?.jobSpecification || companiesAre?.jobBrief"><label>Job Specification :</label> 
                            <span (click) = "showHideJobSpec(companiesAre)" style="color: red;"> - Click to see specifications</span>
                            <span class="jobSpecClass" [id] = "'jobSpec_' + companiesAre._id">
                                - {{ companiesAre?.jobSpecification || companiesAre?.jobBrief }}
                            </span>
                        </p>
                        <p *ngIf = "companiesAre?.location"><label>Location :</label> {{ companiesAre?.location }}</p>

                        <div class="formDivCreate">
                            <span style="font-size: 16px; color: green;">
                                Below are 3 Hiring Manager Must Haves. Click all that apply.
                            </span>
                        </div>

                        <div class="formDivCreate">
                            <div *ngIf = "companiesAre?.point1" class="form-group">
                                <input type="checkbox" name="point1" [checked]="checkApplyPoints(companiesAre, 'point1')" [disabled]="!checkApply(companiesAre) && checkApplyPoints(companiesAre, 'point1')" (change)="changedValue($event, companiesAre, 'pointBoolean1')" class="createpostInput"> 
                                <!-- <p *ngIf = "companiesAre?.point1">
                                    <label>Point1 :</label>
                                </p> -->
                                <span class="spaceLft">
                                    {{ companiesAre?.point1 }}
                                </span>
                            </div>
                            <div *ngIf = "companiesAre?.point2" class="form-group">
                                <input type="checkbox" name="point2" [checked]="checkApplyPoints(companiesAre, 'point2')" [disabled]="!checkApply(companiesAre) && checkApplyPoints(companiesAre, 'point2')" (change)="changedValue($event, companiesAre, 'pointBoolean2')" class="createpostInput"> 
                                <!-- <p *ngIf = "companiesAre?.point2">
                                    <label>Point2 :</label>
                                </p> -->
                                <span class="spaceLft">
                                    {{ companiesAre?.point2 }}
                                </span>
                            </div>
                            <div *ngIf = "companiesAre?.point3" class="form-group">
                                <input type="checkbox" name="point3" [checked]="checkApplyPoints(companiesAre, 'point3')" [disabled]="!checkApply(companiesAre) && checkApplyPoints(companiesAre, 'point3')" (change)="changedValue($event, companiesAre, 'pointBoolean3')" class="createpostInput"> 
                                <!-- <p *ngIf = "companiesAre?.point3">
                                    <label>Point3 :</label>
                                </p> -->
                                <span class="spaceLft">
                                    {{ companiesAre?.point3 }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div *ngIf = "companiesAre?.candidate?.length == 0" class="row" style="margin: auto;">- No users</div>
                    <span *ngIf = "companiesAre?.candidate?.length" style="color: red;"  (click)="gotoUsers(companiesAre)">- Users who can introduce you to above company : </span>
                    <div class="sideCss" *ngFor="let userList of companiesAre.candidate; index as indexValue">
                        <div class="row" (click)="gotoUser(userList.candidate_id._id)" style="margin: auto;">

                            <div *ngIf="!userList?.candidate_id?.showCreatedLogo" class="big-badge candProfile22">
                                <img src="{{ userList.candidate_id?.profileimage }}" (error)="changeLogo(userList.candidate_id)"
                                    style="max-width: 100%" />
                            </div>
                            <div *ngIf="userList?.candidate_id?.showCreatedLogo" class="big-badge candProfile22">
                                {{ userList?.candidate_id?.fullName | uppercase | slice: 0 : 1 }}
                            </div>

                            <div style="margin-left: 22px !important;">
                                {{userList?.candidate_id?.fullName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center; margin-top: 10px; margin-bottom: 5px;">
                <button type="button" class="waves-effect waves-light commonBlueBtnN" [ngClass] = "{ 'waves-effect waves-light commonBlueBtnN' : true, 'red' : !checkApply(companiesAre), 'green' : checkApply(companiesAre) }" (click)="checkApply(companiesAre) ? applyForJobPost(companiesAre) : allreadApplyForJobPost(companiesAre)">
                    {{ checkApply(companiesAre) ? "Apply" : "Applied"}}
                </button>
                <button type="button" class="waves-effect waves-light commonBlueBtnN" style="margin-left: 10px;" (click)="refer(companiesAre)">
                    Refer
                </button>
            </div>
            <div class="row jobTime notificaationDateTime">
                {{companiesAre.updatedAt | amTimeAgo}}
            </div>
        </div>
    </div>
</ng-container>