
<ng-container *ngIf = "showResult">
  <div (click) = "goBack()" style="font-size: 15px; color: #33aaff;">
    <i class="fas fa-long-arrow-alt-left"></i>
    <span style="margin-left: 5px;">Back</span>
  </div>
  <div class="row animatePart" style="margin-top: 10px; margin-bottom: 5px; padding: 0 0px !important;">
    <app-filter-data (handleToggleSign)="handleToggleSign($event)" [item]="searchText"></app-filter-data>
  </div>
  <div class="hideAndSHoTab animatePart">
    <div class="sortIndustriesMain input-field col s12 m12 l12">
      
      <div>
        <form [formGroup]="CompaniesTeamsRolesFrm" novalidate style="width: 100%">
          <div class="row" class="btmSpace">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black; font-size: 14px;"> Search Introductions to Companies/Teams/Roles: </span><br>
                <span style="font-size: 10px; color: red;">For multi search use comma (ex- abc , lmn) seperated values.</span>
              </span>
            </div>

            <div class="row" class="btmSpace">
              <div class="searchDiv" joyrideStep="firstStep" title="The Network" text="Search for members who can make intros to your top companies." stepPosition = "bottom">
                <input type="text" class="searchRecruiter" autocomplete="off" formControlName="searchCTRTerm" [(ngModel)]="searchCTRTerm" placeholder="Ex: Barclays, Amazon, ABC...">
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>

            <!-- <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchCTRTerm"
                formControlName="searchCTRTerm"
                autocomplete="off"
                placeholder="Search Introductions to Companies/Teams/Roles..."
              />
            </div> -->
          </div>
        </form>

      </div>

      <div *ngIf="loggedUser.userRole == 'candidate'">
        <form [formGroup]="Search" novalidate style="width: 100%">
          <div class="row" class="btmSpace">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black; font-size: 14px;"> Search by Name : </span>
              </span>
            </div>

            <div class="row" class="btmSpace">
              <div class="searchDiv">
                <input type="text" class="searchRecruiter" autocomplete="off" formControlName="searchTerm" [(ngModel)]="searchTerm" placeholder="Ex: Sujith Papali..." #searchByName>
                <i class="fa fa-search" aria-hidden="true"></i>
              </div>
            </div>

            <!-- <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                formControlName="searchTerm"
                placeholder="Search here..."
                #searchByName
              />
            </div> -->
          </div>
        </form>
      </div>

    </div>
  </div>
</ng-container>

<div>
  <app-list-loader></app-list-loader>
</div>

<div>
  <app-list-loader-search></app-list-loader-search>
</div>

<ng-container *ngIf="resumes && showResult">
  <div class="ListResume">
    <div
      [id] = "'onlyCan_'+resume._id"
      class="singleList employerResume resumeSingleList animatePart"
      *ngFor="
        let resume of resumes | serchByFullName : searchTerm | searchByCTR : searchCTRTerm | serchByJobTitle : searchJobTitleTerm | sortByIndustires : searchIndustry | paginate: { itemsPerPage: itemsPerPage, currentPage: p };
        let i = index
      "
    >
      <!-- | shareProfileSearch: searchTerm -->
      <div class="pro">
        <div class="pro-3">
          <ng-container
            *ngIf="
              !resume?.candidate_id?.profileimage &&
              !resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img src="assets/img/profile-user.png" alt="profile" />
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              resume?.candidate_id?.profileimage ||
              resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img
                [src]="
                  resume?.candidate_id?.profileimage ||
                  resume?.candidateKey?.profileimage
                "
                alt="profile"
              />
            </div>
          </ng-container>

        </div>
        <div class="pro-1">
          <div class="docSectionBtns lates-s">
            <div class="candidate-name">
              <div class="CandidateDetails">
                <div class="user-details">
                  <span>
                    <span [ngClass]="(resume?.candidateKey?.online || resume?.candidate_id?.online) ? 'dotOnline' : 'dotOffline'" style="margin-left : -28px !important;"></span>
                    {{ resume?.candidateName || resume?.candidate_id?.fullName }}
                  </span>
                  <div class="other-details">
                    <p *ngIf = "resume?.jobTitle">
                      <label>Job Title :</label> {{ resume?.jobTitle }}
                    </p>
                    <p *ngIf = "resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles">
                      <label>Desired Roles :</label>
                        {{ resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles }}
                    </p>
                    <p *ngIf = "resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo">
                      <i class="fas fa-star" aria-hidden="true"></i>
                      <label>I can Intro you to Companies/Teams at :</label>
                        <label style="font-size: 14px; color: #cc530c;">
                          {{ resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo }}
                        </label>
                    </p>
                    <p *ngIf = "resume?.location"><label>Location :</label> {{ resume?.location }}</p>
                    <p *ngIf = "resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies">
                      <i class="fas fa-binoculars" aria-hidden="true"></i>
                      <label joyrideStep="secondStep" title="The Network" text="See which companies members want intros to." stepPosition = "bottom">Desired Companies :</label>
                        <label style="font-size: 14px; color: #54A4F0;">
                          {{ resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies }}
                        </label>
                    </p>
                    <p *ngIf = "resume?.introduceCount || resume?.candidateProfileKey?.introduceCount">
                      <label># of Introductions : </label>
                        <label class="backStyle">
                          {{ resume?.introduceCount || resume?.candidateProfileKey?.introduceCount }}
                        </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pro-share" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn" (click)="showShareModal2(resume, false)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn impBtnColor" (click)="shareInvisible(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn" (click)="connectWithOffers(resume)" joyrideStep="thirdStep" title="Connect" text="Start a real connection by offering an introduction with your connection request." stepPosition = "bottom">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Connect </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn impBtnColor" (click)="showShareModal(resume, true)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Referral </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;">
          <div class="">
            <button class="chatBtn prjColor" (click)="goToUserChat(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Chat </span>
                </div>
              </a>
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="row" *ngIf="loggedUser.userRole == 'candidate' && resumes.length !== 0">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>

<div id="shareToUsers" class="modal">
  <form [formGroup]="auctionFrm">
    <i (click)="closeShareToUserModal()" class="fa fa-times" aria-hidden="true"></i>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'recruiter'">Select Recruiters</div>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'employer'">Select Employers</div>
    <div class="searchDiv">
      <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByNameIs" placeholder="Search..." #searchInputTerm>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="searchData">
      <div *ngFor="let item of topRecruiters">
        <div class="recruitrList" *ngIf = "loggedUser._id !== item._id">
            <img [src]="item.profileimage !== '' ? item.profileimage : '../../../assets/img/user.png'" class="uploadedImgUser" />
            <h4 style="margin-left: -40px;">{{ item.fullName }}</h4>
            <div class="actionDiv">
              <label class="CheckBoxcontainer">
                <input type="checkbox" name="{{item._id}}" (change)="handleTopSelected($event,'search')" [checked]="item.isChecked">
                <span class="checkmark"></span>
              </label>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group textRight">
      <button class="shareToUserClass" (click)="shareToUsers()">Share</button>
    </div>

  </form>
</div>

<div class="row eduPage animatePart" *ngIf = "!showResult">
  <ng-container *ngFor = "let industry of industriesAre">
    <div class="eductionn-tab" (click) = "industryClick(industry.name)">
        <div class="eduction-blue">
            <h6 class="padd-40">{{industry.name}}</h6>
        </div>
    </div>
  </ng-container>
</div>

<app-no-data-available *ngIf = "resumes.length == 0"></app-no-data-available>