
<ng-container *ngIf = "showResult">
  <div (click) = "goBack()" style="font-size: 15px; color: #33aaff;">
    <i class="fas fa-long-arrow-alt-left"></i>
    <span style="margin-left: 5px;">Back</span>
  </div>
  <div class="row animatePart" style="margin-top: 10px; margin-bottom: 5px; padding: 0 0px !important;">
    <app-filter-data (handleToggleSign)="handleToggleSign($event)" [item]="searchText"></app-filter-data>
  </div>
  <div class="hideAndSHoTab animatePart">
    <div class="sortIndustriesMain input-field col s12 m12 l12">
      
      <div>
        <form [formGroup]="CompaniesTeamsRolesFrm" novalidate style="width: 100%">
          <div class="row">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black;"> Search Introductions to Companies/Teams/Roles : </span><br>
                <span style="font-size: 10px; color: red;">For multi search use comma (ex- abc , lmn) seperated values.</span>
              </span>
            </div>
            <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchCTRTerm"
                formControlName="searchCTRTerm"
                autocomplete="off"
                placeholder="Search Introductions to Companies/Teams/Roles..."
              />
            </div>
          </div>
        </form>

      </div>

      <div *ngIf="loggedUser.userRole == 'candidate'">
        <form [formGroup]="Search" novalidate style="width: 100%">
          <div class="row">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black;"> Search by Name : </span>
              </span>
            </div>
            <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                formControlName="searchTerm"
                placeholder="Search here..."
                #searchByName
              />
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</ng-container>

<div>
  <app-list-loader></app-list-loader>
</div>

<div>
  <app-list-loader-search></app-list-loader-search>
</div>

<ng-container *ngIf="resumes && showResult">
  <div class="ListResume">
    <div
      [id] = "'onlyCan_'+resume._id"
      class="singleList employerResume resumeSingleList animatePart"
      *ngFor="
        let resume of resumes | serchByFullName : searchTerm | searchByCTR : searchCTRTerm | serchByJobTitle : searchJobTitleTerm | sortByIndustires : searchIndustry | paginate: { itemsPerPage: itemsPerPage, currentPage: p };
        let i = index
      "
    >
      <!-- | shareProfileSearch: searchTerm -->
      <div class="pro">
        <div class="pro-3">
          <ng-container
            *ngIf="
              !resume?.candidate_id?.profileimage &&
              !resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img src="assets/img/profile-user.png" alt="profile" />
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              resume?.candidate_id?.profileimage ||
              resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img
                [src]="
                  resume?.candidate_id?.profileimage ||
                  resume?.candidateKey?.profileimage
                "
                alt="profile"
              />
            </div>
          </ng-container>
        </div>
        <div class="pro-1">
          <div class="docSectionBtns lates-s">
            <div class="candidate-name">
              <div class="CandidateDetails">
                <div class="user-details">
                  <span>
                    {{ resume?.candidateName || resume?.candidate_id?.fullName }}
                  </span>
                  <div class="other-details">
                    <p *ngIf = "resume?.jobTitle">
                      <label>Job Title :</label> {{ resume?.jobTitle }}
                    </p>
                    <p *ngIf = "resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles">
                      <label>Desired Roles :</label>
                        {{ resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles }}
                    </p>
                    <p *ngIf = "resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo">
                      <i class="fas fa-star" aria-hidden="true"></i>
                      <label>I can Intro you to Companies/Teams at :</label>
                        <label style="font-size: 14px; color: #cc530c;">
                          {{ resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo }}
                        </label>
                    </p>
                    <p *ngIf = "resume?.location"><label>Location :</label> {{ resume?.location }}</p>
                    <p *ngIf = "resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies">
                      <i class="fas fa-binoculars" aria-hidden="true"></i>
                      <label>Desired Companies :</label>
                        <label style="font-size: 14px; color: #54A4F0;">
                          {{ resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies }}
                        </label>
                    </p>
                    <p *ngIf = "resume?.introduceCount || resume?.candidateProfileKey?.introduceCount">
                      <label># of Introductions : </label>
                        <label style="font-size: 14px; color: #cc530c;">
                          {{ resume?.introduceCount || resume?.candidateProfileKey?.introduceCount }}
                        </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pro-share" style="margin-top: 10px;" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn" (click)="connect(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Connect </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn impBtnColor" (click)="connected(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Request Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn" (click)="showShareModal(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn impBtnColor" (click)="shareInvisible(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;">
          <div class="">
            <button class="chatBtn prjColor" (click)="goToUserChat(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Chat </span>
                </div>
              </a>
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="row" *ngIf="loggedUser.userRole == 'candidate' && resumes.length !== 0">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>


<div id="shareEmailModal" class="modal">
  <i (click)="closeShareModal()" class="fa fa-times" aria-hidden="true"></i>
  <div class="emailTemp">
    <div class="form-group posRel">
      <!-- <label>Receiver Name </label> -->
      <input type="text" class="form-control inputCommReceiver" (keyup)="searchClient(recipientName)" (focusout)="closeClients($event)" [(ngModel)]="recipientName" placeholder="Receiver Name"/>
      <div class="search-result" *ngIf="flag">
        <ul>
          <li style="height: 35px; background-color: #D4D9DF; color: white;" *ngFor="let client of clients | searchByOnlyFullName : recipientName">
            <a style="margin-left: 5px" (click)="onselectClient(client)">{{client.fullName}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group posRel">
      <!-- <p class="hideBtn"><a href="#">Hide CC / BCC</a></p> -->
      <label>To </label>
      <input
        type="text"
        class="form-control inputComm"
        [(ngModel)]="recipientEmail"
      />
    </div>
    <div class="form-group posRel">
      <label>CC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="cc" />
    </div>
    
    <div class="row form-group autoClass">
      <div class="" style="float: right;">
        <button class="sendBtn introStyle" (click)="offerEmailIntro()">Offer Intro</button>
      </div>
    </div>

    <div class="row form-group autoClass" style="margin-top: -25px;">
      <div class="" style="width: 55%; float: left;">
        <button class="sendBtn" (click)="generalEmailIntro()">General Referral</button>
      </div>
      <div class="" style="width: 45%; float: left; border-left: 2px solid white;">
        <button class="sendBtn" (click)="introduceUser()">Career Referral</button>
      </div>
    </div>

    <div class="row form-group autoClass" style="margin-top: -25px;">
      <div class="" style="float: right;">
        <button class="sendBtn" (click)="generateLinkForVideo()">Copy Profile Link</button>
      </div>
    </div>

  </div>
</div>

<div id="shareToUsers" class="modal">
  <form [formGroup]="auctionFrm">
    <i (click)="closeShareToUserModal()" class="fa fa-times" aria-hidden="true"></i>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'recruiter'">Select Recruiters</div>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'employer'">Select Employers</div>
    <div class="searchDiv">
      <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByNameIs" placeholder="Search..." #searchInputTerm>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="searchData">
      <div *ngFor="let item of topRecruiters">
        <div class="recruitrList" *ngIf = "loggedUser._id !== item._id">
            <img [src]="item.profileimage !== '' ? item.profileimage : '../../../assets/img/user.png'" class="uploadedImgUser" />
            <h4 style="margin-left: -40px;">{{ item.fullName }}</h4>
            <div class="actionDiv">
              <label class="CheckBoxcontainer">
                <input type="checkbox" name="{{item._id}}" (change)="handleTopSelected($event,'search')" [checked]="item.isChecked">
                <span class="checkmark"></span>
              </label>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group textRight">
      <button class="shareToUserClass" (click)="shareToUsers()">Share</button>
    </div>

  </form>
</div>

<div id="emaiPreviewModal" class="modal">
  <div>
    <span>Email Preview...</span>
  </div>
  <div class="ccBcc">
    <ul>
      <li><label for="">Receiver Name</label>  <input type="text" placeholder="receiver name..." [(ngModel)]="recipientName"> </li>
      <li><label for="">To</label>  <input type="text" placeholder="to..." [(ngModel)]="recipientEmail"> </li>
      <li><label for="">CC</label>  <input type="text" placeholder="cc..." [(ngModel)]="cc"> </li>
      <!-- <li><label for="">BCC</label>  <input type="text" placeholder="bcc..." [(ngModel)]="bcc"> </li> -->
   </ul>
  </div>
  <div class="email">
    <p> <span>Hi<input type="text" placeholder="User..." [(ngModel)]="recipientName"></span> , </p>
    <p>I just wanted to introduce you to <input type="text" placeholder="introduce..." [(ngModel)]="candidateNameIs" >, I think you can probably provide some great guidance and advice. The resume is attached and below are a few quick highlights.</p>
  </div>
  <div class="skill">
    <ul>
      <li><input type="text" placeholder="commect1..." [(ngModel)]="comment1"> </li>
      <li><input type="text" placeholder="commect2..." [(ngModel)]="comment2"> </li>
      <li><input type="text" placeholder="commect3..." [(ngModel)]="comment3"> </li>
    </ul>
  </div>
  <div class="email">
    <p>Thanks,</p>
    <input type="text" placeholder="Sender..." class="maar-none" [(ngModel)]="loggedUser.fullName">
    <p>Video link : </p>
    <p>Attach resume : This email has attached a resume, please check.</p>
  </div>

  <div>
    <div class="form-group textRight">
      <button class="sendBtn spaceBet introStyle" (click)="share(true)">Introduce</button>
    </div>
  </div>
</div>

<div id="generalEmaiPreviewModal" class="modal">
  <div>
    <span>Email Preview...</span>
  </div>
  <div class="ccBcc">
    <ul>
      <li><label for="">Receiver Name</label>  <input type="text" placeholder="receiver name..." [(ngModel)]="recipientName"> </li>
      <li><label for="">To</label>  <input type="text" placeholder="to..." [(ngModel)]="recipientEmail"> </li>
      <li><label for="">CC</label>  <input type="text" placeholder="cc..." [(ngModel)]="cc"> </li>
      <!-- <li><label for="">BCC</label>  <input type="text" placeholder="bcc..." [(ngModel)]="bcc"> </li> -->
   </ul>
  </div>
  <div class="email">
    <p> <span>Hi<input type="text" placeholder="User..." [(ngModel)]="recipientName"></span> , </p>
    <p>I just wanted to introduce you to <input type="text" placeholder="introduce..." [(ngModel)]="candidateNameIs" >, I think there are a lot of opportunities and synergies that the two of you may find mutually beneficial. I will let the both of you take it from here but I just wanted to make the connection.</p>
  </div>
  <div class="email">
    <p>Thanks,</p>
    <input type="text" placeholder="Sender..." class="maar-none" [(ngModel)]="senderName">
    <p>LinkedIn link : <input type="text" style="width: 60% !important;" placeholder="linked in link..." [(ngModel)]="linedIn" ></p>
  </div>

  <div>
    <div class="form-group textRight">
      <button class="sendBtn spaceBet introStyle" (click)="generalEmailIntroSend()">Introduce</button>
    </div>
  </div>
</div>

<div id="offerEmailIntroModal" class="modal">
  <div>
    <span>Email Preview...</span>
  </div>
  <div class="email">
    <p> <span>Hi<input type="text" placeholder="User..." [(ngModel)]="recipientName"></span> , </p>
    <p>{{senderName}} has offered to intro you to a contact at <input type="text" style="width: 50%;" placeholder="Enter contact’s company name..." [(ngModel)]="companies" ></p>
  </div>
  <div class="email">
    <p>Thanks,</p>
    <input type="text" placeholder="Sender..." class="maar-none" [(ngModel)]="senderName">
  </div>

  <div>
    <div class="form-group textRight">
      <button class="sendBtn spaceBet introStyle" (click)="offerEmailIntroSend()">Introduce</button>
    </div>
  </div>
</div>

<div class="row eduPage animatePart" *ngIf = "!showResult">
  <ng-container *ngFor = "let industry of industriesAre">
    <div class="eductionn-tab" (click) = "industryClick(industry.name)">
        <div class="eduction-blue">
            <h6 class="padd-40">{{industry.name}}</h6>
        </div>
    </div>
  </ng-container>
</div>

<div id="askOfferAndChat" class="modal">
  <div>
    <span>Offer Intro</span>
  </div>
  <div class="email">
    <p>Would you like to offer an intro of one of your contacts? This person is interested in intros at {{introsAt}}</p> <br>
    <p>Contacts are more likely to connect and share their networks if you offer yours. </p>
  </div>

  <div class="row form-group autoClass" style="margin: auto;">
    <div class="" style="width: 55%; float: left;">
      <button class="sendBtn" (click)="offerEmailIntroPopup()">Offer Intro</button>
    </div>
    <div class="" style="width: 45%; float: left; border-left: 2px solid white;">
      <button class="sendBtn" (click)="redirectToUserChat()">No thank you</button>
    </div>
  </div>

</div>

<app-no-data-available *ngIf = "resumes.length == 0"></app-no-data-available>