<ng-container>
  <div class="row" style="margin-top: 10px; margin-bottom: 5px; padding: 0 0px !important;">
    <app-filter-data (handleToggleSign)="handleToggleSign($event)" [item]="searchText"></app-filter-data>
  </div>
  <div class="hideAndSHoTab">
    <div class="sortIndustriesMain input-field col s12 m12 l12">
      
      <div>
        <form [formGroup]="CompaniesTeamsRolesFrm" novalidate style="width: 100%">
          <div class="row">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black;"> Search Introductions to Companies/Teams/Roles : </span><br>
                <span style="font-size: 10px; color: red;">For multi search use comma (ex- abc , lmn) seperated values.</span>
              </span>
            </div>
            <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchCTRTerm"
                formControlName="searchCTRTerm"
                autocomplete="off"
                placeholder="Search Introductions to Companies/Teams/Roles..."
              />
            </div>
          </div>
        </form>

      </div>

      <div *ngIf="loggedUser.userRole == 'candidate'">
        <form [formGroup]="Search" novalidate style="width: 100%">
          <div class="row">
            <div class="skillInput" style="margin-top: 10px">
              <span class="note" style="float: left"
                ><span style="color: black;"> Search by Name : </span>
              </span>
            </div>
            <div class="inputDivMainN">
              <input
                type="text"
                [(ngModel)]="searchTerm"
                formControlName="searchTerm"
                placeholder="Search here..."
                #searchByName
              />
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</ng-container>

<div>
  <app-list-loader></app-list-loader>
</div>

<div>
  <app-list-loader-search></app-list-loader-search>
</div>

<ng-container *ngIf="resumes">
  <div class="ListResume">
    <div
      class="singleList employerResume resumeSingleList animatePart"
      *ngFor="
        let resume of resumes | serchByFullName : searchTerm | searchByCTR : searchCTRTerm | serchByJobTitle : searchJobTitleTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: p };
        let i = index
      "
    >
      <!-- | shareProfileSearch: searchTerm -->
      <div class="pro">
        <div class="pro-3">
          <ng-container
            *ngIf="
              !resume?.candidate_id?.profileimage &&
              !resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img src="assets/img/profile-user.png" alt="profile" />
            </div>
          </ng-container>
          <ng-container
            *ngIf="
              resume?.candidate_id?.profileimage ||
              resume?.candidateKey?.profileimage
            "
          >
            <div class="candProfile">
              <img
                [src]="
                  resume?.candidate_id?.profileimage ||
                  resume?.candidateKey?.profileimage
                "
                alt="profile"
              />
            </div>
          </ng-container>
        </div>
        <div class="pro-1">
          <div class="docSectionBtns lates-s">
            <div class="candidate-name">
              <div class="CandidateDetails">
                <div class="user-details">
                  <span>
                    {{ resume?.candidateName || resume?.candidate_id?.fullName }}
                  </span>
                  <div class="other-details">
                    <p *ngIf = "resume?.jobTitle">
                      <i class="fa fa-file-text-o" aria-hidden="true"></i>
                      <label>Job Title :</label> {{ resume?.jobTitle }}
                    </p>
                    <p *ngIf = "resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles">
                      <i class="fas fa-binoculars" aria-hidden="true"></i>
                      <label>Desired Roles :</label>
                        {{ resume?.desiredRoles || resume?.candidateProfileKey?.desiredRoles }}
                    </p>
                    <p *ngIf = "resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo">
                      <label>I can Intro you to Companies/Teams at :</label>
                        <label style="font-size: 14px; color: #cc530c;">
                          {{ resume?.introduceYouToo || resume?.candidateProfileKey?.introduceYouToo }}
                        </label>
                    </p>
                    <p *ngIf = "resume?.location"><label>Location :</label> {{ resume?.location }}</p>
                    <p *ngIf = "resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies">
                      <label>Desired Companies :</label>
                        {{ resume?.desiredCompanies || resume?.candidateProfileKey?.desiredCompanies }}
                    </p>
                    <p *ngIf = "resume?.introduceCount || resume?.candidateProfileKey?.introduceCount">
                      <label># of Introductions : </label>
                        <label style="font-size: 14px; color: #cc530c;">
                          {{ resume?.introduceCount || resume?.candidateProfileKey?.introduceCount }}
                        </label>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pro-share" style="margin-top: 10px;" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn" (click)="connect(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Connect </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="connectBtn impBtnColor" (click)="connected(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Request Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" *ngIf = "resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn" (click)="showShareModal(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" *ngIf = "!resume.addedAsAFriend">
          <div class="">
            <button class="shareBtn impBtnColor" (click)="shareInvisible(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Offer Intro </span>
                </div>
              </a>
            </button>
          </div>
        </div>

        <div class="pro-share" style="margin-top: 10px;">
          <div class="">
            <button class="chatBtn prjColor" (click)="goToUserChat(resume)">
              <a>
                <div class="icon-name">
                  <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                  <span class="shareText"> Chat </span>
                </div>
              </a>
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="row" *ngIf="loggedUser.userRole == 'candidate' && resumes.length !== 0">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</ng-container>


<div id="shareEmailModal" class="modal">
  <i (click)="closeShareModal()" class="fa fa-times" aria-hidden="true"></i>
  <div class="emailTemp">
    <div class="form-group posRel">
      <!-- <label>Receiver Name </label> -->
      <input type="text" class="form-control inputCommReceiver" [(ngModel)]="recipientName" placeholder="Receiver Name"/>
    </div>
    <div class="form-group posRel">
      <!-- <p class="hideBtn"><a href="#">Hide CC / BCC</a></p> -->
      <label>To </label>
      <input
        type="text"
        class="form-control inputComm"
        [(ngModel)]="recipientEmail"
      />
    </div>
    <div class="form-group posRel">
      <label>CC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="cc" />
    </div>
    <!-- <div class="form-group posRel">
      <label>BCC </label>
      <input type="text" class="form-control inputComm" [(ngModel)]="bcc" />
    </div> -->
    <div class="form-group textRight">
      <!-- <button class="sendBtn spaceBet" (click)="share(false)">Send Email</button> -->
      <button class="sendBtn spaceBetOn" (click)="generateLinkForVideo()">Copy Link Intro</button>
      <button class="sendBtn spaceBet introStyle" *ngIf="loggedUser.userRole == 'candidate'" (click)="introduceUser()">Email Intro</button>
    </div>
  </div>
</div>

<div id="shareToUsers" class="modal">
  <form [formGroup]="auctionFrm">
    <i (click)="closeShareToUserModal()" class="fa fa-times" aria-hidden="true"></i>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'recruiter'">Select Recruiters</div>
    <div class="title spaceBottom" *ngIf="loggedUser.userRole == 'employer'">Select Employers</div>
    <div class="searchDiv">
      <input type="text" class="searchRecruiter" formControlName="searchTermByNameIs" [(ngModel)]="searchTermByNameIs" placeholder="Search..." #searchInputTerm>
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="searchData">
      <div *ngFor="let item of topRecruiters">
        <div class="recruitrList" *ngIf = "loggedUser._id !== item._id">
            <img [src]="item.profileimage !== '' ? item.profileimage : '../../../assets/img/user.png'" class="uploadedImgUser" />
            <h4 style="margin-left: -40px;">{{ item.fullName }}</h4>
            <div class="actionDiv">
              <label class="CheckBoxcontainer">
                <input type="checkbox" name="{{item._id}}" (change)="handleTopSelected($event,'search')" [checked]="item.isChecked">
                <span class="checkmark"></span>
              </label>
            </div>
        </div>
      </div>
    </div>

    <div class="form-group textRight">
      <button class="shareToUserClass" (click)="shareToUsers()">Share</button>
    </div>

  </form>
</div>

<div id="emaiPreviewModal" class="modal">
  <div>
    <span>Email Preview...</span>
  </div>
  <div class="ccBcc">
    <ul>
      <li><label for="">Receiver Name</label>  <input type="text" placeholder="receiver name..." [(ngModel)]="recipientName"> </li>
      <li><label for="">To</label>  <input type="text" placeholder="to..." [(ngModel)]="recipientEmail"> </li>
      <li><label for="">CC</label>  <input type="text" placeholder="cc..." [(ngModel)]="cc"> </li>
      <!-- <li><label for="">BCC</label>  <input type="text" placeholder="bcc..." [(ngModel)]="bcc"> </li> -->
   </ul>
  </div>
  <div class="email">
    <p> <span>Hi<input type="text" placeholder="User..." [(ngModel)]="recipientName"></span> , </p>
    <p>I just wanted to introduce you to <input type="text" placeholder="introduce..." [(ngModel)]="candidateNameIs" >, I think you can probably provide some great guidance and advice. The resume is attached and below are a few quick highlights.</p>
  </div>
  <div class="skill">
    <ul>
      <li><input type="text" placeholder="commect1..." [(ngModel)]="comment1"> </li>
      <li><input type="text" placeholder="commect2..." [(ngModel)]="comment2"> </li>
      <li><input type="text" placeholder="commect3..." [(ngModel)]="comment3"> </li>
    </ul>
  </div>
  <div class="email">
    <p>Thanks,</p>
    <input type="text" placeholder="Sender..." class="maar-none" [(ngModel)]="loggedUser.fullName">
    <p>Video link : </p>
    <p>Attach resume : This email has attached a resume, please check.</p>
  </div>

  <div>
    <div class="form-group textRight">
      <button class="sendBtn spaceBet introStyle" *ngIf="loggedUser.userRole == 'candidate'" (click)="share(true)">Introduce</button>
    </div>
  </div>
</div>

<!-- modal to select dates -->

<div id="selectDates" class="modal videoModalMain forumPopMain forumMsgPopup">
  <form [formGroup]="requestDatesForm">
    <a (click)="closeSelectDatesModal()" class="videoCloseBtn"
      ><i class="material-icons">close</i></a
    >
    <div class="modal-content videoModalContent">
      <h4 class="slide-heading text-center">Select your available days</h4>
      <div class="modalBodyPop">
        <div class="dates">
          <div class="start">
            <div class="accept-dates">
              <div class="accept-values">
                <!-- <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  formControlName="date1"
                  [enableTime]="false"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                  [disable]="[disabledDay]"
                  [minDate]="'today'"
                /> -->

                <input
                  name="date1"
                  formControlName="date1"
                  [owlDateTime]="date1"
                  [owlDateTimeTrigger]="date1"
                  [selectMode]="'single'"
                  [min]="today"
                />

                <owl-date-time
                  [firstDayOfWeek]="'1'"
                  [pickerType]="'calendar'"
                  #date1
                ></owl-date-time>
              </div>
              <div class="accept-values">
                <ngx-select-dropdown
                  (change)="selectionChanged($event)"
                  [options]="availableTime"
                  formControlName="time1"
                  [config]="{ placeholder: 'Select a slot' }"
                >
                </ngx-select-dropdown>
              </div>
            </div>
            <div class="accept-dates">
              <div class="accept-values">
                <!-- <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  formControlName="date2"
                  [enableTime]="false"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                  [disable]="[disabledDay]"
                  [minDate]="'today'"
                /> -->

                <input
                  name="date2"
                  formControlName="date2"
                  [owlDateTime]="date2"
                  [owlDateTimeTrigger]="date2"
                  [selectMode]="'single'"
                  [min]="today"
                />

                <owl-date-time
                  [firstDayOfWeek]="'1'"
                  [pickerType]="'calendar'"
                  #date2
                ></owl-date-time>
              </div>
              <div class="accept-values">
                <ngx-select-dropdown
                  (change)="selectionChanged($event)"
                  [options]="availableTime"
                  formControlName="time2"
                  [config]="{ placeholder: 'Select a slot' }"
                >
                </ngx-select-dropdown>
              </div>
            </div>
            <div class="accept-dates">
              <div class="accept-values">
                <!-- <input
                  class="form-control"
                  type="text"
                  mwlFlatpickr
                  (ngModelChange)="refresh.next()"
                  [altInput]="true"
                  [convertModelValue]="true"
                  formControlName="date3"
                  [enableTime]="false"
                  dateFormat="Y-m-dTH:i"
                  altFormat="F j, Y H:i"
                  placeholder="Not set"
                  [disable]="[disabledDay]"
                  [minDate]="'today'"
                /> -->

                <input
                  name="date3"
                  formControlName="date3"
                  [owlDateTime]="date3"
                  [owlDateTimeTrigger]="date3"
                  [selectMode]="'single'"
                  [min]="today"
                />

                <owl-date-time
                  [firstDayOfWeek]="'1'"
                  [pickerType]="'calendar'"
                  #date3
                ></owl-date-time>
              </div>
              <div class="accept-values">
                <ngx-select-dropdown
                  (change)="selectionChanged($event)"
                  [options]="availableTime"
                  formControlName="time3"
                  [config]="{ placeholder: 'Select a slot' }"
                >
                </ngx-select-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="confirm">
        <div class="spacing">
          <div class="no">
            <div class="btn-accept" (click)="confirmSelectDatesEvent()">
              Request
            </div>
          </div>
          <div class="yes">
            <div class="btn-reject" (click)="closeSelectDatesModal()">
              Cancel
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- opening a recruiter details modal -->
<div id="showRecruiterModal" class="modal recruiter">
  <i (click)="closeRecruiterModal()" class="fa fa-times" aria-hidden="true"></i>
  <!--  -->
  <div class="ClientDetailCard">
    <div class="ClientImage">
      <div class="uploadImageDiv">
        <ng-container
          *ngIf="selectedCoachingRecruiter['refUserId']?.profileimage"
        >
          <img
            [src]="selectedCoachingRecruiter['refUserId']?.profileimage"
            class="uploadedImg"
          />
        </ng-container>
        <ng-container
          *ngIf="!selectedCoachingRecruiter['refUserId']?.profileimage"
        >
          <img src="../../../assets/img/user.png" class="uploadedImg" />
        </ng-container>
      </div>
      <div class="NameDetails">
        <h4>{{ selectedCoachingRecruiter["refUserId"]?.fullName }}</h4>
        <p>
          Rate: ${{ selectedCoachingRecruiter["refUserId"]?.rate }} for
          {{ selectedCoachingRecruiter["refUserId"]?.mins }} Minutes
        </p>
      </div>
      <ng-container *ngIf="loggedUser.userRole === 'candidate'">
        <div class="req-selectedCoachingRecruiter">
          <button
            class="req-recruiter-coaching"
            (click)="reqCoachingFunction()"
          >
            Request Coaching
          </button>
        </div>
      </ng-container>
    </div>
    <div class="BioDetails">
      <h2>Bio :</h2>
      <div [innerHTML]="selectedCoachingRecruiter['refUserId']?.bio"></div>

      <ng-container *ngIf="selectedCoachingRecruiter['refUserId']?.companies">
        <h5 class="BioSubHead">Companies Recruited for:</h5>
        <p>{{ selectedCoachingRecruiter["refUserId"]?.companies }}</p>
      </ng-container>
      <ng-container *ngIf="selectedCoachingRecruiter['refUserId']?.roles">
        <h5 class="BioSubHead">Expertise in Recruiting for these Roles :</h5>
        <p>{{ selectedCoachingRecruiter["refUserId"]?.roles }}</p>
      </ng-container>
      <ng-container *ngIf="selectedCoachingRecruiter['linkedInLink']">
        <h5 class="BioSubHead">LinkedIn:</h5>
        <a
          class="pointer"
          (click)="onLinkedIn(selectedCoachingRecruiter['linkedInLink'])"
          >{{ selectedCoachingRecruiter["linkedInLink"] }}</a
        >
      </ng-container>
    </div>
  </div>

</div>

<app-no-data-available *ngIf = "resumes.length == 0"></app-no-data-available>