<div class="">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>
    <div class="" *ngIf="step == 1">
        <app-show-friend-request-list
            [(profileContents)] = "suggestProfileContents"
            [step] = "1"
            (closeEM)='closeDialog($event)'
            (nextEM)='nextStep($event)'
        ></app-show-friend-request-list>
    </div>
    <div class="" *ngIf="step == 2">
        <app-show-friend-request-list
            [(profileContents)] = "profileContents"
            [(profileSet)] = "profileSet"
            [step] = "2"
            (closeEM)='closeDialog($event)'
        ></app-show-friend-request-list>
    </div>
</div>