<div class="tabsAre">
    <ul class="tabs">
        <li class="tablink" id="switch0" [ngClass]="itemsIs === 0 ? 'tablinkActive' : false" (click)="switchPage(0)">
            Intros
        </li>
        <li class="tablink" id="switch2" [ngClass]="itemsIs === 1 ? 'tablinkActive' : false" (click)="switchPage(1)">
            New Intros
        </li>
    </ul>
</div>

<ng-container *ngIf="intros">
    <app-introductions></app-introductions>
</ng-container>

<ng-container *ngIf="pendingIntros">
    <app-pending-introductions></app-pending-introductions>
</ng-container>