.tablink {
    /* background-color: #33aaff;
      color: #fff; */
    background-color: #ffffff !important;
    color: #33aaff !important;
    border-bottom: 1px solid #33aaff !important;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    z-index: 1;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    position: relative;
    margin-bottom: 10px;
}

.tablink:hover {
    background-color: #33aaff !important;
    color: #ffffff !important;
    box-shadow: 0px 3px 5px #00000047;
}

.tablinkActive {
    background-color: #33aaff !important;
    color: #ffffff !important;
    box-shadow: 0px 3px 5px #00000047;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
    .tablink {
        height: 50px;
        font-size: 10px !important;
        width: 39% !important;
    }
}

.tabsAre {
    margin-bottom: 10px;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}