<div class="center-align" style="width:100%; min-height:100vh; padding:50px 0px 50px 0px; background:#E9F4FF;">

    <div class="container">
        <div class="row">

            <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
                <img src="assets/img/hireseat_header_logo.png" class="logoIcon" />
                <div class="slide-heading" style="margin-top:10px;"> <a [routerLink]="['/']">HIRE SEAT </a></div>
                <form [formGroup]="forgotPassfrm" (ngSubmit)="onSubmit()" *ngIf="isLinkSend==false">
                    <div class="card row" style="padding:30px; margin-top:calc(5% + 3px);">
                        <div class="page-title center-align"> Forgot Password? </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <input id="email" type="text" class="validate" name="email" formControlName="email">
                                <label for="email">Email</label>
                                <div *ngIf="(f.email.touched && f.email.errors)" class="invalid-feedback" class="error">
                                    <div *ngIf="f.email.errors.required">Enter The Registered Email</div>
                                    <div *ngIf="f.email.errors.email">Enter valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="center-align">
                            <button [disabled]="forgotPassfrm.valid==true ? false:true " style="margin-top:30px;"
                                type="submit" class="waves-effect waves-light btn-large ">Reset Password</button>
                        </div>
                    </div>
                </form>
                <div class="card row" style="padding:30px; margin-top:calc(10% + 5px);" *ngIf="isLinkSend==true">
                    Please Check Your Email Id For Next Steps.
                </div>
            </div>
        </div>
    </div>

   
</div>

<ion-grid class="show_mobile_view" style="padding: 10px 20px;">
    <ion-row class="welcome_row">
        <ion-col class="mar0" size="12">
            <p class="welcome_back mar0">Forgot Password?</p>
        </ion-col>
        <ion-col class="mar0" size="12">
            <p class="txt mar0">
                To reset your password, you need your email or mobile number that can be authenticated
            </p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <!-- <ion-avatar> -->
                <img src="assets/icon_mobile_app/forgot_password.svg" alt="profile" />
              <!-- </ion-avatar> -->
        </ion-col>
    </ion-row>
    <div>
        <ion-label class="email_label">Email</ion-label>
        <ion-row class="inpt">
            <ion-input mode="ios" placeholder="Enter Email Address"></ion-input>
        </ion-row>

    </div>

    <ion-row class="btn_align">
        <ion-col size="12">
            <ion-button class="btn_signUp" expand="block">
                reset password
            </ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button  class="btn_google_signup" expand="block">
                Back to Login
            </ion-button>
        </ion-col>

    </ion-row>
</ion-grid>