<form [formGroup]="SearchFrm" novalidate>
    <div class="container">
        <div class="row">
            <div class="input-field disFlex s12 m12 l12">
                <div class="inputInnerDiv">
                    <span class="suggestSkill">Add skills</span>
                    <tag-input
                        class="borderBott borderBottN skillBorBott"
                        [(ngModel)]="tags"
                        formControlName="tags"
                        [addOnBlur]="true"
                        (onAdd)="onadd($event)"
                        (onRemove)="onadd($event)"
                        [onlyFromAutocomplete]="true"
                        [placeholder]="'search by skillSets'"
                        [secondaryPlaceholder]="'search by skillSets'"
                    >
                        <tag-input-dropdown
                            [autocompleteItems]="skillSets"
                            [keepOpen]="false"
                            [showDropdownIfEmpty]="true"
                        >
                        </tag-input-dropdown>
                    </tag-input>

                </div>
                <div class="inputInnerDiv2">
                    <span class="suggestSkill">Suggested skill based off your profile</span>
                    <div class="inputInnerDiv3">
                        <tag-input [ngModel]="skillSets"
                                formControlName="tagsAre"
                                [maxItems]="skillSets.length"
                                [ripple]="false"
                                [removable]="false">
                        </tag-input>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <button class="waves-effect waves-light btn" style="float: right;" (click)="add()">Add</button>
        </div>

    </div>
</form>