<div class="mainDiv">
    <div class="valu" *ngIf = "valuePropFinderTab">
    <div class="blue-box">
        <h4 style="margin-top: 60px;">Value Prop Finder </h4>
        <h6 style="margin-top: 30px;">Let’s help you find out what makes you special. Here we will walk through what you can highlight to hiring managers and recruiters. We will help you give hiring managers 3 string reasons to hire you.</h6>
    </div>
    <button class="valu-continue" (click) = "valuePropFinderBtn()">continue </button>
    </div>

    <div class="eduPage" *ngIf = "eduPageTab">
        <div class="eductionn-tab" (click) = "educationClick()">
            <div class="eduction-blue">
                <h6 class="padd-40">Education</h6>
            </div>
        </div>
        <div class="eduction-blue-2" (click) = "workClick()">
            <h6 class="padd-30">Work <br>Experience</h6>
        </div>
        <div class="eductionn-tab">
            <div class="eduction-blue" (click) = "skillSetsClick()">
                <h6 class="padd-40">Skills </h6>
            </div>
            <div class="eduction-blue-2" (click) = "industriesClick()">
                <h6 class="padd-30">Industry<br> Knowledge </h6>
            </div>
        </div>  
        <div class="eductionn-tab">
            <div class="eduction-blue" >
                <h6>Accomplishm<br>ents<br> and Unique Exp </h6>
            </div>
            <div class="eduction-blue-2">
                <h6 class="padd-30">Video –<br>soft skills </h6>
            </div>
        </div>

        <div class="details">
            <div class="bottom-text" *ngIf = "schoolName !== ''">
                <p>
                    <span>Education : </span>
                    I went to {{schoolName !== '' ? schoolName : '...'}}  and I have a GPA of {{highGPA}} and a {{techMajor !== '' ? techMajor : '...'}} degree and {{degree !== '' ? degree : '...'}} phd.
                </p>
            </div>
            <div class="bottom-text" *ngIf = "companyName !== ''">
                <p>
                    <span>Work exp  : </span>
                    I worked at {{companyName !== '' ? companyName : '...'}} and i had a title of {{title !== '' ? title : '...'}}.<br>
                    I have {{manageralExp !== '' ? manageralExp : '...'}} Managerial experience and  I have managed a team of {{managedTeamSize !== '' ? managedTeamSize : '...'}} for {{totalDegree !== '' ? totalDegree : '...'}} years.
                </p>
            </div>
            <div class="bottom-text skillDiv" *ngIf = "finalSkillSets.length !== 0">
                <p>Skills  :</p>
                <div class="chip" *ngFor = "let item of finalSkillSets">
                    <span style="text-align: center;">{{item}}</span>
                </div>
            </div>
            <div class="bottom-text" *ngIf = "finalIndustriesAre.length !== 0">
                <p>Industries  :</p>
                <div class="scrollIndustriesDiv">
                    <div class="chip" *ngFor = "let item of finalIndustriesAre">
                        <span style="text-align: center;">{{item.name}}</span>
                    </div>
                </div>
            </div>

            <div class="bottom-text" *ngIf = "eduPageTab && (schoolName !== '' || companyName !== '' || finalSkillSets.length !== 0 || finalIndustriesAre.length !== 0)">
                <form [formGroup]="SearchInputFrm" novalidate>
                    <p style="font-size: 17px;">
                        Now that we highlighted some of your value propositions above, write 3 quick reasons why a hiring manager should hire you below.
                    </p>
                    <textarea
                        rows="10"
                        [(ngModel)] = "comments"
                        maxlength="250"
                        formControlName="comments"
                    ></textarea>
                    <textarea
                        rows="10"
                        [(ngModel)] = "comment2"
                        maxlength="250"
                        formControlName="comment2"
                    ></textarea>
                    <textarea
                        rows="10"
                        [(ngModel)] = "comment3"
                        maxlength="250"
                        formControlName="comment3"
                    ></textarea>
                </form>
        
            </div>

        </div>

    </div>


    <div class="secound-eductions" *ngIf = "secEduPageTab">
        <h4>Education</h4>
        <h5>Highlight a prestigious school,technical major, high GPA, degree </h5>
        <div class="grouup-in">
            <label>Prestigious School:</label>
            <input type="text" [(ngModel)] = "schoolName">
        </div>
        <div class="grouup-in-2">
            <label>High GPA:</label>
            <input type="number" [(ngModel)] = "highGPA">
        </div>
        <div class="grouup-in-3">
        <label>Technical Major:</label>
        <input type="text"  [(ngModel)] = "techMajor">
        </div>
        <div class="grouup-in-4">
            <label>Degree:</label>
            <input type="text" [(ngModel)] = "degree">
        </div>
        <div class="bottom-text">
            <p>I went to {{schoolName !== '' ? schoolName : '...'}}  and I have a GPA of {{highGPA}} and a {{techMajor !== '' ? techMajor : '...'}} degree and {{degree !== '' ? degree : '...'}} phd.</p>
        </div>
        <button class="eduuction-btn" (click) = "secEduSkip()">Skip</button>
        <button class="eduuction-cant" (click) = "secEduContinue()">continue </button>
    </div>

    <div class="work" *ngIf = "workTab">
        <h4>Work exp </h4>
        <h5>Highlight a prestigious companies you worked at, managerial experience </h5>
        <div class="work-in">
            <label>Prestigious Companies:</label>
            <input type="text" [(ngModel)] = "companyName">
        </div>
        <div class="work-in-2">
            <!-- <label>Title (VP, Director, Lead, Head of):</label> -->
            <label>Title:</label>
            <input type="text" [(ngModel)] = "title">
        </div>
        <div class="work-in-3">
            <label>Managerial exp:</label>
            <input type="number" [(ngModel)] = "manageralExp">
        </div>
        <div class="work-in-4">
            <label>Managed team size:</label>
            <input type="number" [(ngModel)] = "managedTeamSize">
        </div>
        <div class="work-in-5">
            <label>Degree:</label>
            <input type="number" [(ngModel)] = "totalDegree">
        </div>
        
        <div class="bottom-text-2">
            <p>I worked at {{companyName !== '' ? companyName : '...'}} and i had a title of {{title !== '' ? title : '...'}}.</p>
            <p>I have {{manageralExp !== '' ? manageralExp : '...'}} Managerial experience and  I have managed a team of {{managedTeamSize !== '' ? managedTeamSize : '...'}} for {{totalDegree !== '' ? totalDegree : '...'}} years.</p>
        </div>
        <button class="eduuction-btn-2"(click) = "workSkip()">Skip</button>
        <button class="eduuction-cant-2"(click) = "workContinue()">continue </button>
    </div>

    <div class="skillsAreTheir" *ngIf = "skillSetsTab">
        <form [formGroup]="SearchFrm" novalidate>
            <div class="container">
                <div class="row">
                    <div class="input-field disFlex s12 m12 l12">
                        <div class="inputInnerDiv">
                            <span class="suggestSkill">Add skills</span>
                            <tag-input
                                class="borderBott borderBottN skillBorBott"
                                [(ngModel)]="tags"
                                formControlName="tags"
                                [addOnBlur]="true"
                                (onAdd)="onSkillSetsAdd($event)"
                                (onRemove)="onSkillSetsAdd($event)"
                                [onlyFromAutocomplete]="true"
                                [placeholder]="'search by skillSets'"
                                [secondaryPlaceholder]="'search by skillSets'"
                            >
                                <tag-input-dropdown
                                    [autocompleteItems]="skillSets"
                                    [keepOpen]="false"
                                    [showDropdownIfEmpty]="true"
                                >
                                </tag-input-dropdown>
                            </tag-input>

                        </div>
                        <div class="inputInnerDiv2">
                            <span class="suggestSkill">Suggested skill based off your profile</span>
                            <div class="inputInnerDiv3">
                                <tag-input [ngModel]="skillSets"
                                        formControlName="tagsAre"
                                        [maxItems]="skillSets.length"
                                        [ripple]="false"
                                        [removable]="false">
                                </tag-input>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!-- <button class="waves-effect waves-light btn" style="float: right;" (click)="addSkillAre()">Add</button> -->
                </div>

            </div>
        </form>

        <button class="eduuction-btn marginAngle" (click) = "skillSetsSkip()">Skip</button>
        <button class="eduuction-cant" (click) = "skillSetsContinue()">continue </button>

    </div>

    <div class="" *ngIf = "industriesTab">
        <form [formGroup]="SearchIndustryFrm" novalidate>
            <div class="container">
                <div class="row">
                    <div class="input-field disFlex s12 m12 l12">
                        <div class="inputInnerDiv">
                            <span class="suggestSkill">Add Industries</span>
                            <tag-input
                                class="borderBott borderBottN skillBorBott"
                                [(ngModel)]="industry"
                                formControlName="industry"
                                [addOnBlur]="true"
                                (onAdd)="onIndustriesAdd($event)"
                                (onRemove)="onIndustriesAdd($event)"
                                [onlyFromAutocomplete]="true"
                                [placeholder]="'search by Industries'"
                                [secondaryPlaceholder]="'search by Industries'"
                            >
                                <tag-input-dropdown
                                    [autocompleteItems]="industriesAre"
                                    [keepOpen]="false"
                                    [showDropdownIfEmpty]="true"
                                >
                                </tag-input-dropdown>
                            </tag-input>

                        </div>
                        <div class="inputInnerDiv2">
                            <span class="suggestSkill">Suggested industries based off your profile</span>
                            <div class="inputInnerDiv3">
                                <tag-input [ngModel]="industriesAre"
                                        formControlName="industryAre"
                                        [maxItems]="skillSets.length"
                                        [ripple]="false"
                                        [removable]="false">
                                </tag-input>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <!-- <button class="waves-effect waves-light btn" style="float: right;" (click)="addIndustriesAre()">Add</button> -->
                </div>

            </div>
        </form>

        <button class="eduuction-btn marginAngle" (click) = "industriesSkip()">Skip</button>
        <button class="eduuction-cant" (click) = "industriesContinue()">continue </button>

    </div>

    <div class="saveDetails" *ngIf = "eduPageTab && (schoolName !== '' || companyName !== '' || finalSkillSets.length !== 0 || finalIndustriesAre.length !== 0)">
        <button class="waves-effect waves-light btn saveBtn" style="float: right;" (click)="saveCandidateInfo()">Save</button>
    </div>
    <div class="row emptySpace" style="color: #fff;">
        Hireseat
    </div>
</div>