<div>
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>

    <div class="modal-content">
        <p class="bodyPara">{{dialogText}}</p>
        <div class="textCenter">
            <button *ngIf = "showBtn('cancel')" (click)="closeScreen($event)" class="sendBtn spaceBet introStyle">
                {{getBtnText("cancel")}}
            </button>&nbsp;&nbsp;
            <button *ngIf = "showBtn('accept')" (click)="accept()" class="sendBtn spaceBet introStyle">
                {{getBtnText("accept")}}
            </button>
            <button *ngIf = "showBtn('share')" (click)="accept()" class="sendBtn spaceBet introStyle">
                {{getBtnText("share")}}
            </button>
        </div>
    </div>
</div>