<div>
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)] = "dialogTitle"></app-dialog-title>

    <div class="modal-content">
        <p class="bodyPara">{{dialogText}}</p>
        <div class="textCenter">
            <button (click)="closeScreen($event)" class="sendBtn spaceBet introStyle">
                Cancel
            </button>&nbsp;&nbsp;
            <button (click)="accept()" class="sendBtn spaceBet introStyle">
                Accept
            </button>
        </div>
    </div>
</div>