<header>
  <div class="collection">
    <a class="collection-item-one">
      <div class="listDiv">
        <ul>
          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/enterprise/user-list']"
            >
              <span class="text-center">
                User List
              </span>
            </a>
          </li>

          <li>
            <a
              class="collection-item-one"
              [routerLinkActive]="'active'"
              [routerLink]="['/enterprise/create-employer']"
            >
              <span class="text-center">
                Create Employer
              </span>
            </a>
          </li>
        </ul>
      </div>
    </a>
  </div>
</header>
