/* You can add global styles to this file, and also import other style files */
/* html {
    font-family: 'Rajdhani', sans-serif;
  } */

  .btn,
  .btn-large {
    background-color: #33AAFF;
  }

  .btn:hover,
  .btn-large:hover {
    background-color: #33AAFF;
  }

  .collection .collection-item.active {
    background-color: #33AAFF;
  }

  .picker__date-display {
    background-color: #66BAFF;
  }

  .picker__weekday-display {
    background-color: #33AAFF;
  }

  .picker__day--selected {
    background-color: #33AAFF;
  }

  .picker__day--selected,
  .picker__day--selected:hover,
  .picker--focused .picker__day--selected {
    background-color: #33AAFF;
  }

  .picker__nav--prev:hover,
  .picker__nav--next:hover {
    background: #BCDEFF;
  }
  .resume_pagination  ul.ngx-pagination{
    margin: 15px 15px !important;
    
}
.resume_pagination li.current {
    border-radius: 50%;
}

.boxDiv .article{
  height: 130px;
  width: auto;
  overflow: hidden;
}
h2{
  font-size: 25px !important;
}
ng2-dropdown-menu.dropdown {
  position: relative !important;
  z-index: 9999 !important;
}