.timelineUI {
  width: 98% !important;
  border-bottom: 1px solid #708381;
}

.pro {
  width: 100%;
  float: left;
  padding: 10px;
}

.pro-3 {
  width: 15%;
  float: left;
}

.pro-4 {
  width: 80%;
  float: left;
  margin: 8px 0px 0px 5px;
}

.pro .candProfile {
  width: 50px;
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.pro .candProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pro .candProfile11 {
  float: right;
  width: 25px;
  height: 25px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  /* margin-right: 15px; */
}

.pro .candProfile11 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.timelineTime {
  float: right;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px !important;
}

.intoedClass {
  width: 58%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'gilroybold';
  font-size: 15px;
}

.introSection {
  margin: auto;
  text-align: center;
}

.pro-share{
  width: 100%;
  float: left;
  margin-top: 10px;
}

.connectBtn {
  width: 100%;
  border-radius: 7px;
}

.connectBtn i{
  color: #fff !important;
}

button.connectBtn{
  border: 1px solid #1a1;
  background-color: #1a1;
}

.shareText {
  color: #fff !important;
}

.timelineList{
  height: calc(72vh);
  overflow: auto;
  position: relative;
}

.backStyle {
  width: 35px !important;
  height: 35px !important;
  font-size: 15px !important;
}

.candProfile12 {
  float: right;
  width: 18px;
  height: 18px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -5px;
}

.candProfile12 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tablink {
  background-color: #33aaff;
  color: #fff;
  border-bottom: 1px solid #33aaff !important;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50%;
  z-index: 1;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  position: relative;
  margin-bottom: 10px;
  font-size: 10px !important;
}

.tablink:hover {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

.tablinkActive {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .tablink {height: 50px; font-size: 10px !important; width: 50%!important;}
}

.tabsAre{
  margin-bottom: 2px;
}

.cirDiv {
  background: #ff0000 !important;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  padding: 3px;
  top: 25px;
  margin-left: -10px;
}
