.timelineUI {
  width: 98% !important;
  border-bottom: 1px solid #708381;
}

.pro {
  width: 100%;
  float: left;
  padding: 10px;
}

.pro-3 {
  width: 15%;
  float: left;
}

mat-grid-tile {
  background: lightblue;
}

.pro-4 {
  width: 80%;
  float: left;
  margin: 8px 0px 0px 5px;
}

.pro .candProfile {
  width: 50px;
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.pro .candProfile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pro .candProfile11 {
  float: right;
  width: 25px;
  height: 25px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  /* margin-right: 15px; */
}

.pro .candProfile11 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.timelineTime {
  float: right;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px !important;
}

.intoedClass {
  width: 58%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'gilroybold';
  font-size: 15px;
}

.introSection {
  margin: auto;
  text-align: center;
}

.pro-share {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.connectBtn {
  width: 100%;
  border-radius: 7px;
}

.connectBtn i {
  color: #fff !important;
}

button.connectBtn {
  border: 1px solid #1a1;
  background-color: #1a1;
}

.shareText {
  color: #fff !important;
}

.timelineList {
  height: calc(72vh);
  overflow: auto;
  position: relative;
}

.backStyle {
  background: #ff0000 !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 50%;
  color: #fff;
  /* position: absolute; */
  padding: 3px;
  top: 8px;
}

.candProfile12 {
  float: right;
  width: 18px;
  height: 18px;
  background-color: #e7e7e7;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -5px;
}

.candProfile12 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.tablink {
  background-color: #33aaff;
  color: #fff;
  border-bottom: 1px solid #33aaff !important;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 33.3%;
  z-index: 1;
  height: 50px;
  text-align: center;
  padding-top: 8px;
  position: relative;
  margin-bottom: 10px;
  font-size: 10px !important;
}

.tablink:hover {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

.tablinkActive {
  background-color: #33aaff !important;
  color: #ffffff !important;
  box-shadow: 0px 3px 5px #00000047;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
  .tablink {
    height: 50px;
    font-size: 10px !important;
    width: 50% !important;
  }
}

.tabsAre {
  margin-bottom: 2px;
}

.cirDiv {
  font-size: 12px;
  display: inline-block;
  background: #ff0000 !important;
  min-width: 20px !important;
  min-height: 20px !important;
  border-radius: 50%;
  color: #fff;
  padding: 3px;
  top: 25px;
}

.marTop-8 {
  margin-top: -8px !important;
}

.pro .candProfile31 {
  /* width: 50px; */
  height: 100px;
  background-color: #e7e7e7;
  /* border-radius: 50%; */
  overflow: hidden;
  margin-right: 15px;
}

.imgEvent {
  width: 100%;
  height: 100%;
}

.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.expansionHeader,
.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  color: white !important;
  background-color: #03aaff !important;
  padding: 8px;
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: center;
  color: white !important;
}

.mat-expansion-panel-header {
  height: 20px !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 2px !important;
}

/* /////////////////////////////   MR Style    */
.align_item_center {
  display: grid;
  justify-items: center;
}

.linkedin_btn {
  color: #FFFAFA;
  text-align: center;
  font-size: 12px;
  border-radius: 50% !important;
  height: 20px;
  min-height: 20px;
  border-radius: 10px;
  --background: linear-gradient(237deg, #0184F7 27.05%, #01A3FD 82.68%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.18);
}

.p_style {
  font-size: 12px;
}

.connection_icon {
  font-size: 3rem;
  margin-top: 16px;
}

.min_width {
  min-width: 100px !important;
}

.bottom_btn {
  min-width: 92px;
  --background: #ebebeb;
  color: #524b6b;
  height: 24px;
  min-height: 24px;
  --border-radius: 7px !important;
  font-size: 10px;
  /* padding: 5px; */
  --box-shadow: none !important;
}

.font_weight_700 {
  font-weight: 700 !important;
}

.font_size_14 {
  font-size: 14px !important;
}

.border_bottom {
  border-bottom: 1px solid #bcbcbc !important;
}

.title_txt {
  color: #150A33;
  font-size: 14px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  word-wrap: break-word
}
.block{
  display: inline-block;
  vertical-align: middle;
}
.marginBottom_10{
  margin-bottom: 10px;
}
.padding{
  padding: 10px 0px;
}
.name{
  color: #5C5674;
font-size: 13.03px;
font-family: 'DM Sans', sans-serif;
font-weight: 700;
word-wrap: break-word
}