<div class="tabsAre">
  <ul class="tabs">
    <li class="tablink" id="switch0">
      Intros made
      <br>
      <span class="row cirDiv">
        {{ introsMadeCount }}
      </span>
    </li>
    <li class="tablink" id="switch1">
      My Network
      <br>
      <span class="row cirDiv">
        {{ myNetworkCount }}
      </span>
    </li>
  </ul>
</div>

<ng-container *ngIf="showLoader">
  <div class="loader-container marTop50">
    <div class="loader"></div>
  </div>
</ng-container>

<ng-container *ngIf = "!showLoader && timelines.length == 0">
  <div class="marTop">
    <app-no-data-available ></app-no-data-available>
  </div>
</ng-container>

<ng-container *ngIf="timelines">
  <div
    class="timelineList"
    infiniteScroll
    [infiniteScrollDistance]="1"
    [infiniteScrollThrottle]="100"
    [infiniteScrollContainer]="selector"
    [fromRoot]="true"
    (scrolled)="onScroll()"
  >
    <div class="timelineUI animatePart" *ngFor="let timeline of timelines; let ind = index">
      <div class="row" style="margin: auto;">
        <div class="pro">
          <div class="pro-3">
            <ng-container *ngIf="!timeline.fromId?.profileimage">
              <div class="candProfile" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
                <img src = "assets/img/profile-user.png" alt="profile" />
              </div>
            </ng-container>

            <ng-container *ngIf="timeline.fromId?.profileimage">
              <div class="candProfile" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
                <img [src] = "timeline.fromId?.profileimage" alt="profile" />
              </div>
            </ng-container>

            <ng-container *ngIf="timeline.status == _constants.threeIntroduce || timeline.status == _constants.connectionRequest">
              <div class="row mar0 fontSize10">
                <span>
                  Job Title : {{ timeline?.candidateFromId?.jobTitle }}
                </span>
              </div>
              <div class="smallBtns" (click)="onLinkedIn(timeline?.fromId)">
                <button class="LinkedInBtnNew">
                  <a>
                    <div class="icon-name">
                      <span class="font12 zIndex10">LinkedIn</span>
                    </div>
                  </a>
                </button>
              </div>
            </ng-container>
            
          </div>
          <div class="pro-4">
            <span class="intoedClass" *ngIf = "timeline.status == _constants.actualTimeline && !timeline.systemUserId" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
              {{timeline.fromId?.fullName}} intro'd {{timeline.profileUserId?.fullName}}.
              <div class="row removeMargin" *ngIf = "timeline.candidateFromId?.introduceCount">
                <span>
                  <label class="redColor"># of Introductions : </label>
                  <label class="backStyle" style="color: green;">
                    {{ getIntroduceCount(timeline.candidateFromId?.introduceCount) }}
                  </label>
                </span>
              </div>
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.connectionRequest" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
              {{timeline.fromId?.fullName}} Connected to {{timeline.profileUserId?.fullName}}.
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.actualTimeline && timeline.systemUserId" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
              {{timeline.fromId?.fullName}} intro'd {{timeline.profileUserId?.fullName}} with {{timeline.systemUserId.fullName}}.
              <div class="row removeMargin" *ngIf = "timeline.candidateFromId?.introduceCount">
                <span>
                  <label class="redColor"># of Introductions : </label>
                  <label class="backStyle" style="color: green;">
                    {{ getIntroduceCount(timeline.candidateFromId?.introduceCount) }}
                  </label>
                </span>
              </div>
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.sayThanks" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
              {{timeline.fromId?.fullName}} said thanks to {{timeline.profileUserId?.fullName}}.
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.publicProfile" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
              {{timeline.fromId?.fullName}} just joined the HireSeat Network. Welcome {{timeline.fromId?.fullName}}.
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.answer" (click)="goToQuestionAnswer()">
              {{timeline.toName}} : <br>
              Question : {{timeline?.answerId?.questionByUserId?.question}}
              <p class="marAuto" style="font-size: 15px; font-family: 'gilroybold';">
                Answer by {{timeline.fromId?.fullName}} : 
              </p>
              <p class="marAuto" style="margin-left: 10px;">
                - {{timeline?.answerId?.answer}}
              </p>
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.eventCheckIn" (click)="goToPeopleEvent(timeline.peopleEventId)">
              {{timeline.fromId?.fullName}} Check In to ' {{timeline.peopleEventId?.name}} ' event.
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.eventAttendingAre" (click)="goToPeopleEvent(timeline.peopleEventId)">
              {{timeline.fromId?.fullName}} Attending ' {{timeline.peopleEventId?.name}} ' event.
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.threeIntroduce" (click)="goToIntroducePage(timeline)">
              {{timeline.fromId?.fullName}} introduced {{timeline.introduceId?.fullName}} to {{timeline.toId?.fullName}}.
              <div class="row removeMargin" *ngIf = "timeline.candidateFromId?.introduceCount">
                <span>
                  <label class="redColor"># of Introductions : </label>
                  <label class="backStyle" style="color: green;">
                    {{ getIntroduceCount(timeline.candidateFromId?.introduceCount) }}
                  </label>
                </span>
              </div>
            </span>
            
            <span class="intoedClass" *ngIf = "timeline.status == _constants.createdNewEvent" (click)="goToPeopleEvent(timeline.peopleEventId)">
              New event - '{{timeline.peopleEventId?.name}}'.
              <br>
              <span>
                Date : {{timeline.peopleEventId?.eventDate | date}}.
              </span>
              <br>
              <span>
                Time : {{timeline.peopleEventId?.eventTime}}.
              </span>
            </span>

            <span class="intoedClass" *ngIf = "timeline.status == _constants.jobPostAnnounce" (click)="goToJobPosts(timeline)">
              {{ timeline.fromId?.fullName }} - {{ timeline?.toName }}.
            </span>

            <div class="row floatRight">
              <div class="col paddZeroClass floatRight">
                <ng-container *ngIf="timeline.systemUserId && timeline.status == !_constants.actualTimeline">
                  <div class="candProfile11" (click)="introProfile(timeline, 'candidateSystemUserId', 'systemUserId')">
                    <img [src] = "timeline.systemUserId?.profileimage ? timeline.systemUserId.profileimage : 'assets/img/profile-user.png'" alt="profile" />
                  </div>
                </ng-container>
              </div>

              <div class="col paddZeroClass floatRight">
                <ng-container *ngIf="timeline.profileUserId && timeline.status == !_constants.actualTimeline">
                  <div class="candProfile11" (click)="introProfile(timeline, 'candidateProfileUserId', 'profileUserId')">
                    <img [src] = "timeline.profileUserId?.profileimage ? timeline.profileUserId.profileimage : 'assets/img/profile-user.png' " alt="profile" />
                  </div>
                </ng-container>
              </div>
              
              <ng-container *ngIf="timeline.status == _constants.connectionRequest">
                <div class="smallBtns" (click)="onLinkedIn(timeline?.toId)">
                  <button class="LinkedInBtnNew">
                    <a>
                      <div class="icon-name">
                        <span class="font12 zIndex10">LinkedIn</span>
                      </div>
                    </a>
                  </button>
                </div>
              </ng-container>

            </div>

            <div *ngIf="timeline.status == _constants.threeIntroduce" class="row floatRight">
              <div class="col paddZeroClass" style="padding-left: 15px !important;">
                <ng-container *ngIf="timeline.introduceId">
                  <div class="candProfile11">
                    <img [src] = "timeline.introduceId?.profileimage ? timeline.introduceId.profileimage : 'assets/img/profile-user.png' " alt="profile" />
                  </div>
                </ng-container>
                <div class="smallBtns">
                  <button class="LinkedInBtnNew" (click)="onLinkedIn(timeline?.introduceId)">
                    <a>
                      <div class="icon-name">
                        <span class="font12 zIndex10">LinkedIn</span>
                      </div>
                    </a>
                  </button>
                </div>
              </div>
              
              <div class="col paddZeroClass" style="padding-left: 15px !important;">
                <ng-container *ngIf="timeline.toId">
                  <div class="candProfile11">
                    <img [src] = "timeline.toId?.profileimage ? timeline.toId.profileimage : 'assets/img/profile-user.png'" alt="profile" />
                  </div>
                </ng-container>
                <div class="smallBtns" (click)="onLinkedIn(timeline?.toId)">
                  <button class="LinkedInBtnNew">
                    <a>
                      <div class="icon-name">
                        <span class="font12 zIndex10">LinkedIn</span>
                      </div>
                    </a>
                  </button>
                </div>
              </div>
            </div>

            <div *ngIf="timeline.status == _constants.actualTimeline" class="row floatRight">
              <div class="col paddZeroClass" style="padding-left: 15px !important;">
                <ng-container *ngIf="timeline.profileUserId">
                  <div class="candProfile11">
                    <img [src] = "timeline.profileUserId?.profileimage ? timeline.profileUserId.profileimage : 'assets/img/profile-user.png' " alt="profile" />
                  </div>
                </ng-container>
                <div class="smallBtns">
                  <button class="LinkedInBtnNew" (click)="onLinkedIn(timeline?.profileUserId)">
                    <a>
                      <div class="icon-name">
                        <span class="font12 zIndex10">LinkedIn</span>
                      </div>
                    </a>
                  </button>
                </div>
              </div>
              
              <div class="col paddZeroClass" style="padding-left: 15px !important;">
                <ng-container *ngIf="timeline.systemUserId">
                  <div class="candProfile11">
                    <img [src] = "timeline.systemUserId?.profileimage ? timeline.systemUserId.profileimage : 'assets/img/profile-user.png'" alt="profile" />
                  </div>
                </ng-container>
                <div class="smallBtns" *ngIf="timeline.systemUserId" (click)="onLinkedIn(timeline?.systemUserId)">
                  <button class="LinkedInBtnNew">
                    <a>
                      <div class="icon-name">
                        <span class="font12 zIndex10">LinkedIn</span>
                      </div>
                    </a>
                  </button>
                </div>
              </div>
            </div>

          </div>
          
          <!-- <div class="row introSection" *ngIf = "timeline.status == _constants.actualTimeline">
            <span style="font-size: 17px;">Request Introductions : </span>
            <div class="row" style="text-align: center;">
              <div class="col s6 m6 l6" style="border-right: 1px solid black; text-align: right;">
                <span style="color: red;">
                  {{timeline.fromId?.fullName}} :
                </span>
                <span>
                  {{timeline.candidateFromId?.introduceYouToo}}
                </span>
  
                <div class="row" style="margin-right : 10px" *ngIf = "timeline.candidateFromId?.introduceCount">
                  <span style="color: red;">
                    <label># of Introductions : </label>
                    <label class="backStyle">
                      {{ timeline.candidateFromId?.introduceCount}}
                    </label>
                  </span>
                </div>
              </div>
  
              <div class="col s6 m6 l6" style="text-align: left;">
                <span style="color: red;">
                  {{timeline.profileUserId?.fullName}} :
                </span>
                <span>
                  {{timeline.candidateProfileUserId?.introduceYouToo}}
                </span>
                
                <div class="row" style="margin-left : 10px" *ngIf = "timeline.candidateProfileUserId?.introduceCount">
                  <span style="color: red;">
                    <label># of Introductions : </label>
                    <label class="backStyle">
                      {{ timeline.candidateProfileUserId?.introduceCount}}
                    </label>
                  </span>
                </div>
              </div>
  
            </div>
  
            <div class="row" style="text-align: center; margin-top: -20px;">
  
              <div class="col s6 m6 l6" style="border-right: 1px solid black; text-align: right;">
                <div class="pro-share" style="margin-top: 10px;">
                  <div class="">
                    <button class="connectBtn" (click)="introProfile(timeline, 'candidateFromId', 'fromId')">
                      <a>
                        <div class="icon-name">
                          <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                          <span class="shareText"> Intro </span>
                        </div>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
  
              <div class="col s6 m6 l6" style="text-align: left;">
                <div class="pro-share" style="margin-top: 10px;">
                  <div class="">
                    <button class="connectBtn" (click)="introProfile(timeline, 'candidateProfileUserId', 'profileUserId')">
                      <a>
                        <div class="icon-name">
                          <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                          <span class="shareText"> Intro </span>
                        </div>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="text-align: center;" *ngIf = "timeline.systemUserId && timeline.candidateSystemUserId">
              <div class="" style="width: 50%; margin-left: auto; margin-right: auto;">
                <span style="color: red;">
                  {{timeline.systemUserId?.fullName}} :
                </span>
                <span>
                  {{timeline.candidateSystemUserId?.introduceYouToo}}
                </span>
  
                <div class="row" *ngIf = "timeline.candidateSystemUserId?.introduceCount">
                  <span style="color: red;">
                    <label># of Introductions : </label>
                    <label class="backStyle">
                      {{ timeline.candidateSystemUserId?.introduceCount}}
                    </label>
                  </span>
                </div>
              </div>
            </div>
  
            <div class="row" style="text-align: center; margin-top: -20px;" *ngIf = "timeline.systemUserId && timeline.candidateSystemUserId">
              <div class="" style="width: 50%; margin-right: auto; margin-left: auto;">
                <div class="pro-share" style="margin-top: 10px;">
                  <div class="">
                    <button class="connectBtn" (click)="introProfile(timeline, 'candidateSystemUserId', 'systemUserId')">
                      <a>
                        <div class="icon-name">
                          <i class="fa fa-share shared-icon" aria-hidden="true"></i>
                          <span class="shareText"> Intro </span>
                        </div>
                      </a>
                    </button>
                  </div>
                </div>
              </div>
            </div>
  
          </div> -->

          <div class="row mar0">
            <div class="col timelineTime notificaationDateTime">
              {{timeline.createdAt | amTimeAgo}}
            </div>
            
            <div class="col timelineTime notificaationDateTime pointer colorGreen">
              <span (click)="likeTimeline(timeline)">
                {{ checkLikedOrNot(timeline) ? 'Liked' : 'Like'}}
              </span>
              <span *ngIf="timeline?.liked?.length > 0" (click)="likedUsers(timeline)">
                {{ ' (' + timeline?.liked?.length + ')' }}
              </span>
            </div>
          </div>
          <ng-container *ngIf="timeline?.liked?.length">
            <div class="row" style="margin: auto;">
                <span class="ellipeseClass" *ngIf="timeline?.liked?.length > profileImageLength">
                    <i class="fa fa-ellipsis-h"></i>
                </span>
                <div *ngFor="let user of timeline?.liked | slice:0:profileImageLength">
                    <div class="candProfile12">
                        <img [src]="user?.userId?.profileimage ? user.userId.profileimage : 'assets/img/profile-user.png'"
                            alt="profile" />
                    </div>
                </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-container>