.row .col.l6 {
  margin-bottom: 10px;
}
.modal .modal-content {
  padding: 30px;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 22%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 29px;
  height: 56px;
  width: 76%;
  text-align: right;
}
ul.resumeList {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  /* display: flex !important; */
}
.btn {
  background-color: #03a9f4 !important;
}
