<div id="thxLetterModal">
    <app-close-screen (closeEm)='closeScreen($event)'></app-close-screen>
    <app-dialog-title [(dialogTitle)]="dialogTitle"></app-dialog-title>
    <div class="email">
        <p> Dear<span> {{thxFullName}} </span> , </p>
        <p>Thank you for meeting with me. I wanted you to know I really appreciate all the help you provided. I know you
            are extremely busy and I am grateful for the time you took out of your day for me.</p>
        <p>Please let me know how I can help you in the future by offering introductions, my network, expertise or
            feedback. </p>
    </div>
    <div class="email">
        <p>Thanks.</p>
    </div>

    <div>
        <div class="form-group textRight">
            <button class="sendBtn spaceBet" (click)="thxLetterSend()">Say Thanks</button>
        </div>
    </div>
</div>