<app-navbar></app-navbar>
<div id="home-page" class="homePageMain">
  <!--============================ 1st section start ===========================-->
  <div class="bestRecruitment">
    <img src="assets/img/firstSec.png" class="sectionBGimg" />
    <div class="bestRecruitmentText">
      <!-- <h3 class="ThinTextHeading">HireSeat</h3>
      <h3 class="BoldText">Disrupting Recruiting</h3> -->
      <h3 class="ThinTextHeading">
        <!-- Coaching and Advice from<br />
        Professional Recruiters who place<br />
        Candidates at your Dream Job at<br />
        your Dream Company every day -->
        Make your case Directly to Professional Recruiters from<br />
        the Leading Companies in the World and <br />Avoid Automated Screenings
      </h3>
      <h3 class="BoldText">
        <!-- Job search strategy, Interviewing,<br />
        Resume Review, LinkedIn Review -->
        Receive Free Feedback on your Pitch,<br />
        Resume and Linkedin from Recruiters Specializing in Your Industry
      </h3>
      <div class="hireSeatBtn">
        <a style="color: #ffffff" [routerLink]="['/login']">{{btnName}}</a>
      </div>
      <button class="KnowMoreBtn" (click)="scrollToNextSlide()">
        Know More <img src="assets/img/arrow.png" class="arrowImg" />
      </button>
    </div>
  </div>
  <!--=========================== 1st section end ===============================-->

  <!--=========================== 2 2nd section start ===============================-->
  <div class="container-fluid bg" style="background-color: #3ea9f5; color: white;">
    <div class="container">
      <div class="">
        <div class="col-md-12 icon">
          <img src="assets/img/Picture1.png">
          <h4><a href="#">I applied to over a 100 positions…why don’t I get calls back?</a></h4>
            <p>
              Recruiters spend on an average of about 6 seconds on each resume. You are asking a complete stranger to read a 2 page resume and assess your value in 6 seconds.
              and that’s only if your resume is not screened out by an algorithm or AI that looks for key words. Hitting the “Easy apply” button a 100 times likely sends 100 copies of your resume to straight to the recycle bin.
            </p>
            <p>
              If your resume is not seen by the hiring manager, you cannot make your case, explain your circumstances, or tell your story
            </p>
        </div>
        <div class="col-md-12 icon">
          <img src="assets/img/Picture2.png">
          <h4><a href="#">How can I tell my story?</a></h4>
          <p>
            Resumes are only records of your past employment history. Only you know and can highlight the value you bring to the table.
          </p>
          <p>
            Create a profile that quickly highlights 3 reasons why a hiring manager should hire you. We have an algorithm that can help you highlight your skills, experience and industry knowledge
          </p>
          <p>
            Once you know your value proposition, you need to get in front of the hiring manager
          </p>
        </div>
        <div class="col-md-12 icon">
          <img src="assets/img/Picture3.png">
          <h4><a href="#">How can I reach the hiring manager?</a></h4>
          <p>
            Bypass automated screening algorithms by building real relationships at the companies your interested in.
          </p>
          <p>
            Unlike cold messages, you can build real relationships and get introductions to hiring managers by offering introductions to the fellow members of our network. As you introduce members to your network, they will introduce you to their network. What goes around comes around
          </p>
          <p>
            It’s not what you know, its not who you know, its who knows you
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--=========================== 2 2nd section end ===============================-->

  <!--=========================== 2st section start ===============================-->
  <!-- <div class="ProveBest" id="slide-2">
    <div class="ProveBestInner">
      <div class="proveHead">
        <div class="width50">
          <img
            src="assets/img/provebg.png"
            class="headeLeftImg"
            loading="lazy"
          />
        </div>
        <div class="width50">
          <img src="assets/img/sitBg.png" class="SeatBAchH" loading="lazy" />
        </div>
      </div>
      <div class="ProveInnerMain">
        <div class="width50 ProveLeft">
          <div class="secHeadingDiv">
            <h4 class="SecHeading">Candidates</h4>
          </div>
          <div class="leftSectionPara paddT30">
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/candidate.png" class="" />
              </div>
              <div class="proveText">
                <h5>
                  State your Value Proposition to Professional Recruiters
                  focused on specific Roles, Industries, Companies and Locations
                </h5>
                <p>
                  From developer roles in large tech companies in San Francisco,
                  accounting roles in the Big 4 in NYC or engineering roles with
                  a DoD contractor in Virgina, pitch yourself directly and avoid
                  being screened by an ATS.
                </p>
              </div>
            </div>
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/deal.png" class="" />
              </div>
              <div class="proveText">
                <h5>
                  Get Coaching for your Product Control interview with a
                  financial firm from a recruiter who has years of experience
                  placing that exact role in the biggest banks on Wall St
                </h5>
                <p>
                  Gain real insights, true understanding, and professional
                  advice from seasoned professionals on:
                  <br />
                  - Interviewing<br />
                  - Job Seeking Strategy<br />
                  - Resume Review<br />
                  - Linkedin Review
                </p>
              </div>
            </div>

            <div class="newBtnTextB">
              <div class="width100 min200">
                <div class="proveTextimg">
                  <img src="assets/img/crm.png" class="" />
                </div>
                <div class="proveText">
                  <h5>Q&A with a Professional Recruiters</h5>
                  <p>
                    Ask any question and learn how the recruiting process works
                    through the lens of a professional who places candidates in
                    your dream job in your dream company every day. Find out
                    what you are missing and what is holding you back from your
                    dream job.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="width50 seatBack">
          <div class="secHeadingDiv">
            <h4 class="SecHeading">Recruiters</h4>
          </div>
          <div class="rightSectionPara paddT30">
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/accounting.png" class="" />
              </div>
              <div class="proveText">
                <h5>Set your Rate and Set your Availability</h5>
                <p>
                  Monetize the experience and skill sets you have developed over
                  the years by posting what you feel your time is worth and have
                  the flexibility to provide more or less of your service by the
                  week.
                </p>
              </div>
            </div>
            <div class="width100 min200">
              <div class="proveTextimg">
                <img src="assets/img/transperacy.png" class="marB20" />
              </div>
              <div class="proveText">
                <h5>
                  Expand your personal or business brand to a whole new market
                </h5>
                <p>
                  HireSeat will help promote you or your company to gain
                  awareness as an SME from hiring managers and attract more
                  business.
                </p>
              </div>
            </div>

            <div class="newBtnTextB min200">
              <div class="width100">
                <div class="proveTextimg">
                  <img src="assets/img/competition.png" class="" />
                </div>
                <div class="proveText">
                  <h5>
                    Build relationships with candidates and future hiring
                    managers quickly and efficiently
                  </h5>
                  <p>
                    By helping candidates you are helping future hiring managers
                    that can help you develop your business. Each coaching
                    session is focused, light touch, and limited to a maximum of
                    an hour
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="proveFooter">
        <div class="width50">
          <img src="assets/img/prove_lowerBg.png" class="bottomLeftImg" />
        </div>
        <div class="width50">
          <img src="assets/img/sit_lowerBg.png" class="" />
        </div>
      </div>
    </div>
  </div> -->
  <!--=========================== 2nd section end ===============================-->

  <!--=========================== 3rd section start ===============================-->
  <app-media></app-media>
  <!--=========================== 3rd section end ===============================-->

  <!--=========================== 4th section start ===============================-->
  <div class="articleDiv">
    <div class="articleDivInner1">
      <div class="articleDiv70">
        <img src="assets/img/article.png" class="ArticleHeadImg" />
      </div>
      <div class="articleDiv30">
        <img src="assets/img/twitter.png" class="tweeterHeaderImg" />
      </div>
    </div>

    <div class="articleDivInner">
      <div class="articleDiv70">
        <h4 class="SecHeading blackHed">Article</h4>
        <div class="row mar0 flexWrap scrollDiv">
          <div
            class="col m12 l6 marB20"
            *ngFor="let article of article; let i = index"
          >
            <div *ngIf="i < 4" class="ArticleDiv">
              <h5>{{ article?.updatedAt | date }}</h5>
              <h4>{{ article?.title }}</h4>
              <div *ngIf="article.featuredImage" class="postimage">
                <img src="{{ article.featuredImage }}" loading="lazy" />
              </div>

              <div *ngIf="article.video != null" class="postimage">
                <video
                  id="selectedVideo"
                  height="100%"
                  width="100%"
                  controls
                  [src]="article?.video"
                >
                  Your browser does not support the video tag.
                </video>
              </div>

              <div *ngIf="article.embbedded" class="postimage">
                <!-- <div *ngIf="article?.embbedded!= 'null' " [innerHtml]="safe(article.embbedded)"> </div> -->
                <iframe
                  *ngIf="article?.embbedded != 'null'"
                  width="100%"
                  height="100%"
                  [src]="article?.embbedded | safe"
                  loading="lazy"
                ></iframe>
              </div>

              <p
                *ngIf="
                  !article?.featuredImage &&
                  !article?.embbedded &&
                  article?.video == null
                "
                [innerHtml]="truncateHTML(article?.description)"
              ></p>
              <a [routerLink]="['/blog/', article.blogurl]">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="articleDiv30">
        <h4 class="SecHeading">Twitter</h4>
        <div class="boxDiv">
          <ngx-twitter-timeline
            data-width="280"
            data-height="300"
            [data]="{
              sourceType: 'url',
              url: 'https://twitter.com/HireSeat?ref_src=twsrc%5Etfw'
            }"
            [opts]="{ tweetLimit: 3 }"
          ></ngx-twitter-timeline>
        </div>
      </div>
    </div>
  </div>
  <!--=========================== 4th section end ===============================-->

  <!--========================== recruter section 5th start =============================-->
  <div
    class="recruterMain"
    *ngFor="let meetUpsData of meetUpsData; let i = index"
  >
    <div class="recruterInner" *ngIf="i < 1">
      <img src="assets/img/staue.png" class="staueIcon" loading="lazy" />
      <h4 class="SecHeading text-center">{{ meetUpsData?.group.name }}</h4>
      <p>
        <img src="assets/img/location.png" class="staueIcon" loading="lazy" />{{
          meetUpsData?.group.localized_location
        }}
      </p>
      <div class="lineSide">
        <h5>{{ meetUpsData?.name }}</h5>
      </div>
      <div class="DateTime">
        <div class="date">
          <h3>{{ meetUpsData?.local_date | date: "dd" }}</h3>
          <p>{{ meetUpsData?.local_date | date: "MMMM" }}</p>
        </div>
        <div class="Time">
          <h4>{{ meetUpsData?.local_time | convertFrom24To12Format }}</h4>
          <p>
            Venue: {{ meetUpsData?.venue.address_1 }} ,
            {{ meetUpsData?.venue.name }}
          </p>
          <p>{{ meetUpsData?.venue.city }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--========================== recruter section 5th end ===============================-->

</div>

<app-footer></app-footer>
