<!-- <app-navbar></app-navbar>
<div id="home-page" class="homePageMain">
  <div class="bestRecruitment">
    <img src="assets/img/firstSec.png" class="sectionBGimg" />
    <div class="bestRecruitmentText">
      <h3 class="ThinTextHeading">
        Make your case Directly to Professional Recruiters from<br />
        the Leading Companies in the World and <br />Avoid Automated Screenings
      </h3>
      <h3 class="BoldText">
        Receive Free Feedback on your Pitch,<br />
        Resume and Linkedin from Recruiters Specializing in Your Industry
      </h3>
      <div class="hireSeatBtn">
        <a style="color: #ffffff" [routerLink]="['/login']">{{btnName}}</a>
      </div>
      <button class="KnowMoreBtn" (click)="scrollToNextSlide()">
        Know More <img src="assets/img/arrow.png" class="arrowImg" />
      </button>
    </div>
  </div>

  <app-media></app-media>

  <div class="articleDiv">
    <div class="articleDivInner1">
      <div class="articleDiv70">
        <img src="assets/img/article.png" class="ArticleHeadImg" />
      </div>
      <div class="articleDiv30">
        <img src="assets/img/twitter.png" class="tweeterHeaderImg" />
      </div>
    </div>

    <div class="articleDivInner">
      <div class="articleDiv70">
        <h4 class="SecHeading blackHed">Article</h4>
        <div class="row mar0 flexWrap scrollDiv">
          <div
            class="col m12 l6 marB20"
            *ngFor="let article of article; let i = index"
          >
            <div *ngIf="i < 4" class="ArticleDiv">
              <h5>{{ article?.updatedAt | date }}</h5>
              <h4>{{ article?.title }}</h4>
              <div *ngIf="article.featuredImage" class="postimage">
                <img src="{{ article.featuredImage }}" loading="lazy" />
              </div>

              <div *ngIf="article.video != null" class="postimage">
                <video
                  id="selectedVideo"
                  height="100%"
                  width="100%"
                  controls
                  [src]="article?.video"
                >
                  Your browser does not support the video tag.
                </video>
              </div>

              <div *ngIf="article.embbedded" class="postimage">
                <iframe
                  *ngIf="article?.embbedded != 'null'"
                  width="100%"
                  height="100%"
                  [src]="article?.embbedded | safe"
                  loading="lazy"
                ></iframe>
              </div>

              <p
                *ngIf="
                  !article?.featuredImage &&
                  !article?.embbedded &&
                  article?.video == null
                "
                [innerHtml]="truncateHTML(article?.description)"
              ></p>
              <a [routerLink]="['/blog/', article.blogurl]">Read More</a>
            </div>
          </div>
        </div>
      </div>

      <div class="articleDiv30">
        <h4 class="SecHeading">Twitter</h4>
        <div class="boxDiv">
          <ngx-twitter-timeline
            data-width="280"
            data-height="300"
            [data]="{
              sourceType: 'url',
              url: 'https://twitter.com/HireSeat?ref_src=twsrc%5Etfw'
            }"
            [opts]="{ tweetLimit: 3 }"
          ></ngx-twitter-timeline>
        </div>
      </div>
    </div>
  </div>
  <div
    class="recruterMain"
    *ngFor="let meetUpsData of meetUpsData; let i = index"
  >
    <div class="recruterInner" *ngIf="i < 1">
      <img src="assets/img/staue.png" class="staueIcon" loading="lazy" />
      <h4 class="SecHeading text-center">{{ meetUpsData?.group.name }}</h4>
      <p>
        <img src="assets/img/location.png" class="staueIcon" loading="lazy" />{{
          meetUpsData?.group.localized_location
        }}
      </p>
      <div class="lineSide">
        <h5>{{ meetUpsData?.name }}</h5>
      </div>
      <div class="DateTime">
        <div class="date">
          <h3>{{ meetUpsData?.local_date | date: "dd" }}</h3>
          <p>{{ meetUpsData?.local_date | date: "MMMM" }}</p>
        </div>
        <div class="Time">
          <h4>{{ meetUpsData?.local_time | convertFrom24To12Format }}</h4>
          <p>
            Venue: {{ meetUpsData?.venue.address_1 }} ,
            {{ meetUpsData?.venue.name }}
          </p>
          <p>{{ meetUpsData?.venue.city }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer> -->
