.timelineList {
    height: calc(78vh);
    overflow: auto;
    position: relative;
}

.timelineUI {
    width: 98% !important;
    border-bottom: 1px solid #708381;
}

.pro {
    width: 100%;
    float: left;
    padding: 10px;
}

.pro-3 {
    width: 15%;
    float: left;
}

.pro-4 {
    width: 80%;
    float: left;
    margin: 8px 0px 0px 5px;
}

.pro .candProfile {
    width: 50px;
    height: 50px;
    background-color: #e7e7e7;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.pro .candProfile img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.pro .candProfile11 {
    float: right;
    width: 35px;
    height: 35px;
    background-color: #e7e7e7;
    border-radius: 50%;
    overflow: hidden;
    /* margin-right: 15px; */
}

.pro .candProfile11 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.intoedClass {
    width: 58%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'gilroybold';
    font-size: 15px;
}

.acceptBtn {
    width: 48%;
    border-radius: 7px;
}

button.acceptBtn {
    border: 1px solid #1a1;
    background-color: #1a1;
}

button.acceptBtn {
    width: 98%;
    display: block;
    border-radius: 5px;
}

.btnText {
    color: #fff !important;
    font-size: 15px !important;
}

.msgClass{
    display: block;
    margin-top: 5px;
    color: #708381;
}