<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861355719085-qkp3qskj1fb2bb68uismhpb297hoo3hm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861355719085-qkp3qskj1fb2bb68uismhpb297hoo3hm</string>
	<key>API_KEY</key>
	<string>AIzaSyA7gd65XG-k3fsHbLV6BYRfLsZ_RWqugg4</string>
	<key>GCM_SENDER_ID</key>
	<string>861355719085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hireseat.app</string>
	<key>PROJECT_ID</key>
	<string>bluerecruting</string>
	<key>STORAGE_BUCKET</key>
	<string>bluerecruting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861355719085:ios:7339e45e991e166d944924</string>
	<key>DATABASE_URL</key>
	<string>https://bluerecruting.firebaseio.com</string>
</dict>
</plist>